extends /sites/LinguaSphere1/layouts/base.pug

block variables
    - const title = 'Care and Maintenance Tips for NeatNest Products – Keep Them Looking New'
    - const description = 'Learn how to care for and maintain your NeatNest products with simple, eco-friendly tips to ensure their longevity and beauty.'

block content
    +Header()

    main
       
        +Delivery()

        +Materials()

        +Care()

        +Tips()

        +Faq()

    +Footer()