extends /sites/LinguaSphere1/layouts/base.pug

block variables
    - const title = 'Thank You from NeatNest – Your Order Has Been Received'
    - const description = 'Thank you for choosing NeatNest! Your order is confirmed. We’ll process it shortly, and you’ll receive updates soon.'

block content
  main
    section.container.thanks
      .thanks__container
        .thanks-bg

        h1 Thank You for Reaching Out!
        p Thank you for contacting NeatNest. We’ve received your message and will get back to you as soon as possible. Our team is here to help you with any questions or concerns about our products and services.

        p In the meantime, feel free to explore our range of storage solutions and discover how NeatNest can help you organize your space.

        p We look forward to assisting you!

        p If you need immediate help, you can reach us at 
          a(href='mailto:neatnest@gmail.com') neatnest@gmail.com. 
