mixin Dload-banner()
    section
        +ParallaxBlock('/img/dload-banner.jpeg', 'Your Fantasy Basketball Adventure Awaits!', 'Download the app, build your dream basketball team, and take part in thrilling seasons of HoopsDynasty — where strategy and fun meet in the world of basketball!')
