mixin About-us()
    section.container.about-us.reveal-zoom
        h2.title Why choose Giftoria for your gifts?
        p.description Giftoria is more than just a gift shop – it's a place where meaningful presents meet creativity and personalization. 
        p.description Whether you're searching for a special birthday gift, a thoughtful anniversary present, or something unique for a corporate event, we’ve got you covered. 
        p.description Our hand-picked collection includes custom-made items, limited-edition designs, and carefully curated products that make every occasion memorable. 
        p.description What sets us apart is our commitment to providing not only quality gifts but also exceptional service. 
        p.description Our team ensures that each product is beautifully packaged and delivered with love and care, guaranteeing a seamless shopping experience. 
        p.description.special At Giftoria, every gift tells a story.