mixin Rules-team-creation()
    section.team-creation
        .container.team-creation__container
            h2 Team Creation:
            .img
                +Img({
                    src: 'img/team.jpeg',
                    alt: 'Team Creation'
                })
            ul
                li 1. Select your squad from a pool of available players within the specified budget or draft system.
                li 2. You can choose players based on their real-world performances and stats.
                li 3. Players are assigned positions (e.g., batsman, goalkeeper, etc.) and can only play in those positions in your fantasy lineup.
            

    
  

