mixin Why-loft(param)
    section.why-loft
        .container.why-loft__container 
            h2.why-loft__title Por que escolher decoração no estilo loft?
            .why-loft__items
                .why-loft__item.why-loft__item-one
                    p.why-loft__cubtitle Versatilidade – A combinação de materiais brutos e acentos modernos permite que esse estilo se encaixe em diversos ambientes, desde apartamentos até espaços comerciais.
                .why-loft__item.why-loft__item-two
                    p.why-loft__cubtitle Atração atemporal – O estilo loft nunca sai de moda, permanecendo relevante ao longo dos anos.
                .why-loft__item.why-loft__item-three
                    p.why-loft__cubtitle Individualidade – Cada peça de decoração conta uma história, criando um espaço que reflete sua personalidade.
                .why-loft__item.why-loft__item-four
                    p.why-loft__cubtitle Materiais de alta qualidade – Usamos apenas materiais duráveis e autênticos, como madeira maciça, metal envelhecido, concreto e couro natural.