mixin Unique()
    section.unique.container
        h2.unique__title Decoração única em estilo loft
        p.unique__subtitle Os nossos produtos são peças exclusivas que você não encontrará em lojas comuns. O design único e os materiais de alta qualidade fazem com que a nossa decoração seja perfeita para o seu loft. Cada item reflete a estética do estilo industrial, combinando texturas rústicas, minimalismo e elementos de metal, madeira e concreto. Tudo isso cria uma atmosfera de sofisticação e autenticidade que se encaixa perfeitamente no seu espaço.

        p.unique__subtitle Muitos dos nossos produtos são feitos à mão por talentosos artesãos, o que os torna verdadeiramente únicos. Cada detalhe tem a sua própria individualidade, e pequenos defeitos apenas realçam sua autenticidade, dando-lhes um caráter especial. Também oferecemos itens com história — peças restauradas, mecanismos antigos e acessórios vintage, que estão repletos de significado e transformam qualquer ambiente em um espaço elegante e cheio de personalidade.

        p.unique__subtitle Utilizamos apenas materiais naturais e duráveis, como madeira maciça, ferro forjado, concreto e couro de alta qualidade. Estes materiais não só têm um visual impressionante, mas também preservam sua beleza ao longo do tempo, acrescentando novos tons de individualidade ao seu interior. Cada peça de nossa decoração mantém sua exclusividade e vai durar por muitos anos.

        p.unique__subtitle Nossa produção é limitada, o que garante a exclusividade dos nossos produtos. Você pode ter certeza de que a sua decoração será única e inimitável, sem o risco de encontrar peças iguais em outro lugar.