mixin Rules-banner()
    section.rules-banner
        .container.rules-banner__container
            h1 The Basics of Fantasy Sports: How It Works
            p Whether you're playing cricket, football, basketball, or baseball, the core rules of fantasy sports remain the same. Here’s what you need to know:
 
