mixin Tricks()
    section.tricks.container
        h2 Our Achievements
            span.hidden mostbet
        ul.tricks__list
            li.tricks__item.reveal-left
                span 1
                p At LinguaSphere, we are proud of our exceptional success rate. 95% of our students pass international exams like IELTS and TOEFL with impressive scores. 
                p This high success rate reflects the quality of our teaching, the dedication of our instructors, and the hard work of our students.
            li.tricks__item.reveal-zoom
                span 2
                p We receive constant positive feedback from our students, who express gratitude for the quality of our courses and the personalized support they receive. 
                p Many students share how LinguaSphere has helped them achieve their language goals and boost their confidence in using English.
            
            li.tricks__item.reveal-right
                span 3
                p Our students often go on to achieve significant career advancements after completing our courses. 
                p Whether it's securing a job in an English-speaking country, earning a promotion, or improving communication skills for their current role, LinguaSphere plays a key role in their success.

            li.tricks__item.reveal-left
                span 4
                p We take great pride in the diversity of our student base. LinguaSphere has educated learners from all over the world, creating a dynamic and multicultural environment. 
                p This global community enriches the learning experience and helps students connect with peers from different backgrounds.

            li.tricks__item.tricks__item-img.reveal-left
                +Img({
                    src: 'img/person4.jpeg',
                    alt: 'Achievements'
                })

            li.tricks__item.reveal-right 
                span 5
                p LinguaSphere remains dedicated to continuous improvement. We constantly update our curriculum, introduce new teaching methods, and invest in innovative learning tools to ensure our students receive the best possible education. 
                p Our commitment to excellence is the foundation of our students' success.