include /sites/FantasyCricketZone/components/header/index
include /sites/FantasyCricketZone/components/footer/index
include /sites/FantasyCricketZone/components/burger/index

include /sites/FantasyCricketZone/components/banner/index
include /sites/FantasyCricketZone/components/features/index
include /sites/FantasyCricketZone/components/benefits/index
include /sites/FantasyCricketZone/components/reviews/index
include /sites/FantasyCricketZone/components/faq/index

include /sites/FantasyCricketZone/components/htp-banner/index
include /sites/FantasyCricketZone/components/guide/index
include /sites/FantasyCricketZone/components/challenge/index
include /sites/FantasyCricketZone/components/table/index
include /sites/FantasyCricketZone/components/table-content/index
include /sites/FantasyCricketZone/components/balls-banner/index

include /sites/FantasyCricketZone/components/form/index