mixin Banner()  
    +ParallaxBlock('img/banner.jpeg', 'Dive into the World of Fantasy Sports!', 'Build your dream team, craft winning strategies, and become a legend in fantasy cricket, football, basketball, and baseball.')