mixin Banner()
    section.banner
        
        .container.banner__container.reveal-zoom
            h1.text  Climb the Tower, Conquer Every Challenge!
            p Test your skills, beat levels, and see how far you can go in Funtower.
            