.dload-system {
    h2 {
        margin-bottom: 30px;
        text-align: center;
    }
    p {
        margin-bottom: 10px;
        text-align: center;
    }
    > div {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        > div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            max-width: calc(33% - 15px);
            .img {
                overflow: hidden;
                img {
                    transition: transform 0.3s ease;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            ul {
                li {
                    margin-bottom: 10px;
                }
            }
        }
    }
    @media (max-width: 767px) {
        > div {
            > div {
                max-width: 100%;
            }
            .img {
                max-height: 300px;
            }
        }
    }
}
