mixin Tutorial-banner()
    section.tutorial-banner 
        .container.tutorial-banner__container
            h1 Master HoopsDynasty & Perfect Your Basketball Strategy!
            p Whether you're new to basketball or an experienced player, our easy-to-follow tutorials will help you refine your skills and get the most out of every game.
