mixin Categories-main()
    section.categories-main
        .categories-main__bg
        .container
            .categories-main__head
                h2 Courses for every level
                p Explore a wide range of online English courses designed to meet your needs. Whether you're a beginner or looking to perfect your skills, we have something for you:
            .categories-main__body.grid-ladder
                .categories-main__item
                    h3 Beginner
                    p - Perfect for those just starting their journey with English.
                .categories-main__item
                    h3 Intermediate
                    p - Build on your foundation and expand your vocabulary.
                .categories-main__item.categories-main__text.reveal-zoom.active
                    
                    
                .categories-main__item.categories-main__text.reveal-zoom.active
                    
                .categories-main__item
                    h3 Advanced
                    p - Refine your skills and achieve fluency.
                
            
            