extends /sites/PokerProTour/layouts/base.pug

block variables
    - const title = 'Download PokerProTour - Join the Ultimate Esports Experience'
    - const description = 'Download the PokerProTour app now and start your journey in the world of esports. Fast and easy setup, real-time action, and a seamless gaming experience await you.'

block content
    +Header()

    main
        +Dload-banner()

        +Features()

        +Interface()

        +Install()

        
        +Btn-up()
    +Footer()