include /sites/New_v9_LoftStyle/components/header/index
include /sites/New_v9_LoftStyle/components/footer/index
include /components/burger/index
include /components/form/index

include /sites/New_v9_LoftStyle/components/banner/index
include /sites/New_v9_LoftStyle/components/welcome/index
include /sites/New_v9_LoftStyle/components/decore/index
include /sites/New_v9_LoftStyle/components/style/index
include /sites/New_v9_LoftStyle/components/interior/index
include /sites/New_v9_LoftStyle/components/loft/index
include /sites/New_v9_LoftStyle/components/atmosphere/index
include /sites/New_v9_LoftStyle/components/area/index
include /sites/New_v9_LoftStyle/components/house/index
include /sites/New_v9_LoftStyle/components/unique/index
include /sites/New_v9_LoftStyle/components/combination/index
include /sites/New_v9_LoftStyle/components/map/index
include /sites/New_v9_LoftStyle/components/callback/index

include /sites/New_v9_LoftStyle/components/aesthetics-loft/index
include /sites/New_v9_LoftStyle/components/why-loft/index
include /sites/New_v9_LoftStyle/components/unique-loft/index
include /sites/New_v9_LoftStyle/components/ideal-loft/index
include /sites/New_v9_LoftStyle/components/limited-collection/index
include /sites/New_v9_LoftStyle/components/create-unusual/index