mixin Cities-for-rent()
    section.cities-for-rent
        .container
            .wrapper 
                .city-card
                    .city-img
                        +Img({
                            src: 'img/mumbai.jpg',
                            alt: 'mumbai properties',
                        })
                    .city-name Mumbai
                    .city-count 320 properties
                .city-card
                    .city-img
                        +Img({
                            src: 'img/delhi.jpg',
                            alt: 'delhi properties',
                        })
                    .city-name Delhi
                    .city-count 280 properties  
            
                .city-card
                    .city-img
                        +Img({
                            src: 'img/bangalore.jpg',
                            alt: 'bangalore properties',
                        })
                    .city-name Bangalore 
                    .city-count 250 properties
            
                .city-card
                    .city-img
                        +Img({
                            src: 'img/chennai.jpg',
                            alt: 'chennai properties',
                        })
                    .city-name Chennai 
                    .city-count 200 properties
            
                .city-card
                    .city-img
                        +Img({
                            src: 'img/kolkata.jpg',
                            alt: 'kolkata properties',
                        })
                    .city-name Kolkata
                    .city-count 180 properties
            
                .city-card
                    .city-img
                        +Img({
                            src: 'img/hyderabad.jpg',
                            alt: 'hyderabad properties',
                        })
                    .city-name Hyderabad 
                    .city-count 220 properties
            
                .city-card
                    .city-img
                        +Img({
                            src: 'img/pune.jpg',
                            alt: 'pune properties',
                        })
                    .city-name Pune 
                    .city-count 190 properties
            
                .city-card
                    .city-img
                        +Img({
                            src: 'img/jaipur.jpg',
                            alt: 'jaipur properties',
                        })
                    .city-name Jaipur 
                    .city-count 160 properties
                    .swiper-button-prev
                    .swiper-button-next