mixin Registration()
    

    //- h1 Register
    //- form(id='registration-form')
    //-   input(type='text', id='username', placeholder='Enter Username' required)
    //-   input(type='password', id='password', placeholder='Enter Password' required)
    //-   button(type='submit') Register