mixin Login-modal() 
    //- .modal(id='login-modal')
    //-     .modal-content
    //-         span.close-btn &times;
    //-         h2 Login
    //-         form(id='login-form')
    //-             input(id='login-email' type="email", placeholder="Email", required)
    //-             input(id='login-password' type="password", placeholder="Password", required)
    //-             p(id='login-error' style="color: red")
    //-             button(type="submit") Login

        
