mixin Modal()
    //- div(id="registration-modal", class="modal")
    //-     div(class="modal-content")
    //-         span(class="close-btn") &times;
    //-         h2 Register to CricketSquad
    //-         form(id="registration-form")

    //-             label(for="username") Username
    //-             input(type="text", id="username", placeholder="Имя" required)

    //-             label(for="email") Email
    //-             input(type="text", id="email", placeholder="Email" required)

    //-             label(for="password") Password
    //-             input(type="text", id="password", placeholder="Пароль" required)

    //-             label(for="password") Password
    //-             input(type="text", id="confirm-password", placeholder="Подтвердите пароль" required)
                
    //-             button.btn.btn-modal(type="submit") Register

    //-             p(id="error-message" style="color: red;")