mixin Register-form()
    //- .modal(id='register-modal')
    //-     .modal-content
    //-         span.close-btn &times;
    //-         h2 Register
    //-         form(id='register-form')
    //-             input(id='reg-username' type="text", placeholder="Username", required)
    //-             input(id='reg-email' type="email", placeholder="Email", required)
    //-             input(id='reg-password' type="password", placeholder="Password", required)
    //-             input(id='reg-confirm-password' type="password", placeholder="Confirm Password", required)
    //-             p(id='error-msg' style="color: red")
    //-             button(type="submit") Register