mixin Contact()
    section.container.contact-support
        div                                                    
            h2 Contact Support
            p If you couldn’t find the answer to your question in our FAQ section or need further assistance, don’t hesitate to reach out to our support team. We're here to help with any inquiries, product recommendations, or troubleshooting issues you may have. Your satisfaction is our priority, and we strive to provide the best possible assistance.
            +Link({
            class: 'btn contact-support__btn',
            href: 'index.html#form',
            text: 'Contact',
        })
        div
            +Img({
                src: 'img/main.jpg',
                alt: 'Contact Support'
            })
        div
            h3 Email Us:
            p For any inquiries or concerns, send us an email at 
                a(href='mailto:neatnest@gmail.com') neatnest@gmail.com. 
                | Whether you need help choosing the right storage solution, have questions about product materials, or require assistance with an order, we’re just an email away. We strive to respond within 24 hours, ensuring you get the support you need as quickly as possible.
        
        div
            h3 Phone Support:
            p If you prefer speaking with a representative, you can call us at 
                a(href="tel:+91 8473 250 619") +91 8473 250 619. 
                | Our phone lines are open from 9 AM to 6 PM, Monday to Friday. Whether you need assistance with product details, delivery information, or general inquiries, our support team is happy to help.
        div
            h3 Help Center:
            p For a more comprehensive resource, you can visit our Help Center, where we provide detailed guides and articles on common questions, troubleshooting steps, and product care tips. Learn more about our return policies, delivery process, and best practices for maintaining your storage solutions.
        div
            h3 Customer Satisfaction Guarantee
            p At NeatNest, we are dedicated to providing exceptional service. We understand the importance of quick and effective communication, and we always aim to offer helpful and accurate information. If you ever experience any issues with our products or services, don’t hesitate to contact us. Your feedback helps us improve and ensures that we continue to meet your expectations.
        div
            h3 Response Time & Assistance
            p We do our best to respond promptly to all inquiries. Emails are typically answered within one business day, while phone and chat support provide immediate assistance during working hours. No matter the issue, we are committed to resolving it efficiently so you can enjoy a seamless experience with NeatNest.