include /sites/Funtower/components/header/index
include /sites/Funtower/components/footer/index

include /sites/Funtower/components/disclaimer-modal/index
include /sites/Funtower/components/form/index


// main
include /sites/Funtower/components/banner/index
include /sites/Funtower/components/mission/index
include /sites/Funtower/components/start/index
include /sites/Funtower/components/rules/index
include /sites/Funtower/components/strategic/index
include /sites/Funtower/components/keydata/index
include /sites/Funtower/components/features/index
include /sites/Funtower/components/benefits/index
include /sites/Funtower/components/info/index
include /sites/Funtower/components/faq/index
include /sites/Funtower/components/guide/index
include /sites/Funtower/components/area/index
include /sites/Funtower/components/reviews/index

include /sites/Funtower/components/top-players/index
