mixin Ideas()   
    section.container.ideas.reveal-zoom
        h2 Innovative Learning Methods
        p Looking to enhance your learning experience? Our newest courses include innovative methods that incorporate real-life scenarios and immersive practice. Whether you want to improve your speaking, writing, or comprehension, our courses offer practical and engaging ways to learn.

        p From interactive lessons to one-on-one coaching, these new courses are designed to meet your specific needs. Explore new ways to learn and take your English skills to the next level. Our innovative methods guarantee effective results.

        p Start improving your English today with our latest course offerings!
        +Link({
            class: 'btn ideas__btn',
            href: 'index.html#form',
            text: 'Buy',
        })
