extends /sites/LinguaSphere/layouts/base.pug

block variables
    - const title = 'Title '
    - const description = 'Description'

block content
  //- +Header()
  +Header-registration()

  main
    
    +Main-banner()

    +Main-services()

    +Main-nav()

    +Main-about()

    +Main-contacts()

    +Main-review()


    +Article()

    +Counter({
      counterOne: 'one',
      counterTwo: '1',
      counterThree: '1',
    })

    +Faq({
      items: []
    })
    
    +Main-stock()
    +Subscribe()
    +Login-modal()
    +Register-modal()

    
    //- +Registration()

  +Footer()