extends /sites/LinguaSphere/layouts/base.pug

block variables
    - const title = 'Terms and Conditions | LinguaSphere'
    - const description = 'Read the terms and conditions that govern your use of the LinguaSphere website and services. By accessing our website, you agree to comply with these terms.'

block content
    +Header-registration({
        logo: 'LinguaSphere'
    })

    main
        section.container.privacy-policy
            h1 Terms and Conditions
            p Welcome to LinguaSphere! By accessing or using our website, you agree to comply with these Terms of Service. If you do not agree with any part of these terms, you are prohibited from using this site. All content on LinguaSphere is protected by copyright and trademark laws.

            h2 Acceptance of Terms
            p By using the LinguaSphere website, you acknowledge that you accept these Terms of Service and agree to follow all applicable local laws. If you disagree with these terms, you must refrain from using the website. All materials on this website are protected by intellectual property laws.

            h2 License to Use the Website
            p LinguaSphere grants you a limited, non-exclusive, non-transferable license to access and use the materials on the site for personal, non-commercial purposes only. This license does not transfer ownership of any materials. You are prohibited from:
            ul
                li - Modifying or reproducing the materials in any form
                li - Using the materials for any commercial purpose or public display
                li - Reverse-engineering any software or content from the website
                li - Removing copyright or proprietary notices from the materials
                li - Transferring the materials to any other individual or hosting them on another server
            p LinguaSphere reserves the right to revoke this license at any time if these conditions are violated. Upon revocation, you must destroy all downloaded materials in both digital and physical formats.

            h2 Disclaimer of Liability
            p The materials on LinguaSphere’s website are provided "as is." We make no warranties or guarantees, either express or implied, regarding the accuracy, completeness, or reliability of the materials or any third-party websites linked to our platform.

            h2 Limitation of Liability
            p LinguaSphere and its affiliates are not liable for any damages arising from the use or inability to use the materials on this website, even if we have been notified of the possibility of such damages. Some jurisdictions may not allow limitations on certain warranties or liabilities, meaning these restrictions may not apply in all cases.

            h2 Errors and Updates
            p LinguaSphere’s website may contain errors in content, whether technical, typographical, or photographic. We do not guarantee the accuracy, completeness, or current status of any material on the website, and we reserve the right to modify the content at any time without prior notice.

            h2 Links to External Websites
            p LinguaSphere is not responsible for the content of external websites linked from our site. The inclusion of any links does not imply endorsement by LinguaSphere. Accessing these third-party websites is at your own risk.

            h2 Modifications to Terms
            p LinguaSphere reserves the right to update or revise these Terms of Service at any time. By continuing to use the website, you agree to be bound by the most recent version of these terms.

        +Login-modal()

        +Register-modal()

    +Footer()