mixin Cricket-guide()
    section.cricket-guide
        .container.cricket-guide__container
            h2 CricketClash – Fantasy Cricket Guide
            ul.tricks__list
                li 
                    h3 Step-by-Step Guides for Beginners
                    p New to fantasy cricket? We’ve got you covered!
                    p How to pick your squad based on match formats
                    p Understanding batting/bowling stats and roles
                    p Tips for captain and vice-captain selection
                li 
                    h3 Strategies to Boost Your Game
                    p Level up your cricket strategy with expert advice:
                    p Adjusting your lineup based on pitch conditions
                    p Making data-driven decisions for matchups
                    p Managing player form and injury risks
                li 
                    h3 Pro Tips from Top Players
                    p Discover what the pros do differently:
                    p Spotting game-changing players
                    p Smart risk-taking strategies
                    p Keeping up with match-day changes