extends /sites/CricketSquad/layouts/base.pug

block variables
    - const title = 'Feedback - CricketSquad'
    - const description = 'We value your feedback! Share your thoughts, suggestions, or any issues you’ve encountered while playing on CricketSquad. Your input helps us improve and enhance your fantasy cricket experience. Let us know how we can make your journey even better!'

block content
    +Header()

    main
        +Form()


    +Footer()