extends /sites/CricketSquad/layouts/base.pug

block variables
    - const title = 'CricketSquad - The Ultimate Fantasy Cricket App'
    - const description = 'Join CricketSquad and immerse yourself in the world of fantasy cricket. Create your team, track real-time player performances, and compete in exciting live tournaments. Win rewards and experience the thrill of managing a cricket team like never before!'

block content
    +Header()

    main

        +Banner()

        +Features()
        
        +Benefits()

        +Reviews()

    +Footer()