extends /sites/CricketSquad/layouts/base.pug

block variables
    - const title = 'Website Terms and Conditions – CricketSquad'
    - const description = 'Review the terms of use for CricketSquads fantasy cricket platform. Understand your rights and responsibilities while using our website and enjoy a seamless gaming experience.'

block content
    +Header()

    main
        section.container.terms-conditions
            h1 Terms and Conditions of Use
            p Welcome to CricketSquad! By accessing or using the CricketSquad website, you agree to comply with these Terms and Conditions. If you disagree with any part of these terms, you are prohibited from using the website. All content on this website is protected by copyright and trademark laws.

            h2 Acceptance of Terms
            p By using the CricketSquad website, you agree to be bound by these Terms and Conditions and acknowledge your responsibility to comply with applicable local laws. If you do not agree with these terms, you must not use the website. All content provided on this website is protected by intellectual property laws.

            h2 License to Use
            p CricketSquad grants you a temporary, non-exclusive license to download one copy of the materials available on our website for personal, non-commercial use only. This license does not transfer ownership of the materials, and you may not:
            ul
                li - Modify or reproduce the materials.
                li - Use the materials for any commercial purposes or public display.
                li - Reverse engineer any software or content found on CricketSquad’s website.
                li - Remove any copyright or proprietary notices from the materials.
                li - Transfer the materials to other individuals or "mirror" them on any other server.
            p CricketSquad reserves the right to revoke this license if any of the conditions are violated. Upon revocation, you must immediately destroy any downloaded materials, whether in printed or electronic format.

            h2 Disclaimer of Liability
            p The materials on CricketSquad’s website are provided "as is." We make no representations or warranties, express or implied, and disclaim all other warranties. We do not guarantee the accuracy, reliability, or completeness of the materials or any third-party sites linked to our website.

            h2 Limitations of Liability
            p CricketSquad and its affiliates are not liable for any damages arising from the use or inability to use the materials on the website, even if CricketSquad was informed of the possibility of such damages. Certain jurisdictions may not allow limitations on implied warranties or liability for incidental damages, so these limitations may not apply to you.

            h2 Errors and Revisions
            p The materials on CricketSquad’s website may contain technical, typographical, or photographic errors. We do not guarantee that the content is accurate, complete, or up-to-date. CricketSquad reserves the right to make changes to the website’s materials at any time without prior notice and is under no obligation to update content.

            h2 Links to External Websites
            p CricketSquad is not responsible for the content of external websites linked from our site. The inclusion of any links does not imply endorsement by CricketSquad. Accessing these linked sites is at your own risk.

            h2 Modifications to Terms
            p CricketSquad reserves the right to update or revise these Terms and Conditions at any time. By continuing to use the website, you agree to comply with the most current version of these terms.

            h2 Governing Law
            p Any legal disputes arising from the use of CricketSquad’s website will be governed by the laws of India, without regard to conflict-of-law provisions.


    +Footer()