mixin Footer()
    footer.footer
        .container.footer__container
            .footer__logo 
                a(href=`/${siteName}/`) Grand Residence
            .footer__contacts
                a(href='tel:+91 98765 43210') +91 98765 43210
                a(href='mailto:grandresidence@gmail.com') grandresidence@gmail.com
                a(href='https://maps.app.goo.gl/5fKgSgTw1Etbm19S8' target='_blank') Yogeshwari Plaza, Plot No. 71, Medical Chowk, Hanuman Nagar, Nagpur, Maharashtra, India

            .footer__contacts.contacts
                a(href=`/${siteName}/privacy-policy`) Privacy policy
                a(href=`/${siteName}/terms-conditions`) Terms and conditions
        