mixin Care()
    section.care.container
       .care__items.grid-sm
            .care__item.reveal-left(style='background-color: #f4f4f4;')
                h3 Cross the Dungeon Without Becoming a Roasted Chicken! 
                p Once you're all set and ready to play Chicken Road, simply hit the green "Play" button to begin your adventure. As soon as you do, your chicken will cross the first stage of the dungeon, and you’ll face your first challenge!
                
            .care__item.reveal-zoom(style='background-color: #d8c9a3;')
                h3 But don’t get too comfortable! Here's what can happen as you progress through Chicken Road:
                p Our fabric-based products are designed to be both durable and stylish. To ensure their longevity:
                ul 
                    li Your chicken survives! 🐔 Congratulations! You've successfully made it to the next stage of the dungeon, and your journey continues with a boosted multiplier. Keep going and see how far you can push your luck!
                    li Your chicken gets roasted! 🍗 Oh no! A flame has appeared on the path, and your chicken has met a fiery end. But don't worry — it's all part of the adventure! You can try again, or change your strategy for the next round.
            .care__item.reveal-right(style='background-color: #d0e9c6;')
                h3 Once you've seen the results of your progress on Chicken Road, you’ll have two options:
                ul 
                    li Cash-out: Hit the yellow "Cashout" button if you want to exit the game and keep the rewards you’ve earned so far. Sometimes, it’s smart to walk away with your gains before things get too heated!
                    li Continue the game: If you’re feeling brave and ready for the next challenge, you can choose to push forward, risking it all to reach higher stages and unlock more excitement.
            .care__item.reveal-zoom(style='background-color: #faf0e6;')
                p Chicken Road gives you full control over your journey. Whether you want to keep advancing or play it safe, the choice is yours. Just remember to have fun and play responsibly as you guide your chicken through the fiery dungeon!