extends /sites/HomeRunHeroes/layouts/base.pug

block variables
    - const title = 'Download HomeRunHeroes – Build Your Basketball Legacy'
    - const description = 'Get HomeRunHeroes on your device and start managing your basketball team today. Draft players, refine your strategy, and enjoy an immersive basketball experience anytime, anywhere!'

block content
    +Header()

    main

        +Dload-banner()
        +Install()
        

        +Interface()
        +Features()
        

    +Footer()