extends /sites/HomeRunHeroes/layouts/base.pug

block variables
    - const title = 'Thank You for Joining HomeRunHeroes!'
    - const description = 'Your journey in HomeRunHeroes begins now! Explore the game, build your ultimate basketball team, and enjoy an exciting fantasy basketball experience.'

block content
  main
    section.container.thanks
      .thanks__container
        .thanks-bg

        h1 Thank You for Contacting Us!
        p We’ve successfully received your message. Our team is reviewing it and will get back to you shortly. Whether you have questions about our games, platform, or anything else, we’re here to help.

        p In the meantime, feel free to explore our platform and dive into the exciting world of fantasy sports.

        p We can’t wait to assist you!

        +Link({
            class: 'btn',
            text: 'Home',
            href: '/'
        })
