mixin Dload-banner()
    section.dload-banner
        +ParallaxBlock('/img/dload-banner.jpeg', 'Step into the Poker Arena!', 'Download the PokerProTour app and experience the thrill of strategic poker gameplay. Quick setup, smooth interface, and exciting challenges await you.')
