.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    h2,
    p {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    > div {
        width: 100%;
        max-width: calc(50% - 15px);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        border: 1px solid #333;
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        text-align: center;
        transition: transform 0.3s ease-in-out;
        background-color: #ecf0f1;
        color: #333;
        h3,
        p {
            transition: transform 0.3s ease-in-out;
            cursor: default;
        }
        &:hover {
            h3,
            p {
                transform: scale(1.1);
            }
        }
    }

    &__icon {
        font-size: 3rem;
        width: 100px;
        height: 100px;
    }
    @media (max-width: 767px) {
        h2,
        p {
            margin-bottom: 0;
        }

        flex-direction: column;
        > div {
            max-width: 100%;
            padding: 10px;
        }
    }
}
