mixin Features()
    section.features.container.reveal-zoom
        h2 Chicken Game Tips: Enjoy the Fun!
        p While Chicken Game is all about fun and excitement, here are some strategies to help you navigate through the challenges and enjoy the experience even more.
        div
            .features__icon 
                +Img({
                    src: 'img/fried.jpeg',
                    alt: 'Take it easy with Easy Mode!'
                })
            h3 Take it easy with Easy Mode!
            p Many players enjoy sticking with Easy Mode in Chicken Game. This mode allows you to advance through multiple stages and discover new surprises. You’ll get to experience the game’s fun and quirky elements while steadily increasing your progress. But remember, it’s all about enjoying the journey, not just the destination!

        div
            .features__icon 
                +Img({
                    src: 'img/trophy.jpeg',
                    alt: 'Challenge yourself in Hardcore Mode'
                })
            h3 Challenge yourself in Hardcore Mode
            p For those seeking a true test of skill and luck, Hardcore Mode offers a more intense experience. With greater challenges ahead, you can push your limits and face increasingly tricky obstacles. While the difficulty rises, it brings an added thrill and keeps you engaged. Choose Hardcore Mode if you’re looking for a tougher ride!

        div
            .features__icon 
                +Img({
                    src: 'img/medal.jpeg',
                    alt: 'Play for the fun of it!'
                })
            h3 Play for the fun of it!
            p The best way to enjoy Chicken Game is to play responsibly and keep things lighthearted. The game is meant to be fun, with each playthrough offering new challenges and excitement. Don’t take it too seriously—whether you’re advancing through stages or watching your chicken avoid the flames, there’s always something entertaining happening.
            

        div  
            .features__icon 
                +Img({
                    src: 'img/warn.jpeg',
                    alt: 'Chicken Game'
                })
            h3 Remember, Chicken Game is all about entertainment. So, enjoy the adventure, and let the fun come to you!