mixin Rules-banner()
    section.rules-banner
        .container.rules-banner__container
            h1 HomeRunHeroes - Game Rules
            p In HomeRunHeroes, the objective is simple: hit the baseball as far as you can and score points! You’ll step up to the plate and face a series of pitches. Your goal is to make solid contact with the ball and send it flying out of the park. The more distance you cover, the higher your score!
