mixin Banner()
    section.cricketzone.reveal-zoom
        .container.cricketzone__container
            +Img({
                src: 'img/cricketzone.jpg',
                alt: 'FantasyCricketZone',
                class: 'cricketzone-bg'
            })
            h1 Step into the world of CricketVerse — the ultimate fantasy cricket experience!
            p Create your team in CricketVerse, manage players, and earn points based on their real-world tournament performance. Become the top cricket manager!
            +Link({
                class: 'btn cricketzone__btn',
                href: 'contact.html',
                text: 'Download cricketzone App',
            })