.map {
    background-color: #9f9f9f;
    color: #fff;
    position: relative;
    text-shadow: 0 0 10px rgba(255, 255, 0, 0.8);
    text-align: center;
    img,
    .bg-dark {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .bg-dark {
        background-color: rgba(0, 0, 0, 0.6);
    }
    &__container {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        > h2 {
            width: 100%;
        }
        > div:not(.img) {
            flex: 1;
        }
        > div {
            width: 100%;
            p {
                margin-bottom: 20px;
            }
        }
    }
}
