mixin Map()
    section.map 
        +Img({
            src: 'img/map.jpeg',
            alt: 'Play Anywhere'
        })
        .bg-dark
        .container.map__container
            h2.reveal-left Play Anywhere — Check Your Region!
                
            div.reveal-right
                p Our platform brings together basketball enthusiasts from all over, allowing you to compete and showcase your skills wherever the game is available. Team up with friends, develop strategies, and enjoy basketball where it's allowed.
                p ⚠️ Note: Basketball play is not permitted in Andhra Pradesh, Assam, Nagaland, Odisha, Sikkim, and Telangana.
