mixin Promise()
    section.container.promise
        h3.italic Our Promise to You
        p.subtitle.italic We promise a smooth and efficient experience, free of stress and hassle. From consultation to the final signature, we ensure you are always well-informed and supported.