extends /sites/FantasyCricketZone/layouts/base.pug

block variables
    - const title = 'Contact CricketZone – Reach Out for Support and Inquiries'
    - const description = 'Have questions or need help? Contact CricketZone today! Get in touch with our team for support, inquiries, and more. We are here to assist you in any way we can.'

block content
    +Header()

    main
        +Form()
        +Faq()

    +Footer()