extends /sites/FantasyCricketZone/layouts/base.pug

block variables
    - const title = 'How to Play – CricketZone'
    - const description = 'Discover the exciting world of Fantasy Cricket at CricketZone! Learn how to create teams, participate in contests, and boost your chances of winning. Follow our simple steps to get started and enjoy the game!'

block content
    +Header()

    main

        +Htp-banner()

        +Guide()

        +Challenge()


    +Footer()