extends /sites/FantasyCricketZone/layouts/base.pug

block variables
    - const title = 'Terms and Conditions – CricketZone'
    - const description = 'Read the terms and conditions of using CricketZone. Understand the rules, licenses, and limitations of our services. By using our site, you agree to comply with these terms.'

block content
    +Header()

    main
        section.container.terms-conditions
            h1 Website Terms and Conditions of Use
            p 
            h2 Acceptance of Terms
            p By accessing the CricketZone website, you agree to be bound by these Terms and Conditions and acknowledge your responsibility to comply with any relevant local laws. If you do not agree with these terms, you are prohibited from using the website. All content on this website is protected by copyright and trademark law.
            h2 License to Use
            p You are granted a temporary, non-exclusive license to download one copy of the materials available on CricketZone's website for personal, non-commercial use. This license does not transfer ownership to you, and you may not:
            ul 
                li - Modify or reproduce the materials.
                li - Use the materials for commercial purposes or public displays.
                li - Reverse engineer any software or content on CricketZone’s website.
                li - Remove any proprietary notices or copyrights from the materials.
                li - Transfer the materials to other individuals or "mirror" the materials on any other server.
            p CricketZone reserves the right to terminate this license if any of these restrictions are violated. Upon termination, you must immediately destroy any downloaded materials, whether in printed or electronic format.
            h2 Disclaimer of Liability
            p The materials on CricketZone’s website are provided "as is." CricketZone makes no guarantees, express or implied, and disclaims all other warranties. We do not make any representations regarding the accuracy, reliability, or completeness of the materials, or of any sites linked to this website.
            h2 Limitations of Liability 
            p CricketZone and its affiliates are not responsible for any damages arising from the use or inability to use the materials on the website, even if CricketZone has been informed of the possibility of such damages. Certain jurisdictions may not allow limitations on implied warranties or liability for incidental damages, so these limitations may not apply to you.
            h2 Errors and Revisions 
            p The materials on CricketZone’s website may contain technical, typographical, or photographic errors. We do not guarantee that the content is accurate, complete, or up-to-date. CricketZone reserves the right to make changes to the website’s materials at any time without prior notice, and we are under no obligation to update any content.
            h2 Links to External Websites 
            p CricketZone is not responsible for the content of any external websites linked from our site. The inclusion of links does not imply endorsement of those sites by CricketZone. Accessing linked sites is at your own risk.
            h2 Modifications to Terms 
            p CricketZone reserves the right to update or revise these Terms and Conditions at any time. By continuing to use the website, you agree to be bound by the most current version of these terms.
            h2 Governing Law 
            p Any legal disputes arising from the use of CricketZone’s website will be governed by the laws of India, without regard to conflict-of-law provisions.
    +Footer()