mixin Area()
    section.area
        .container.area__container
            .area__card
                h3.area__title-sm Iluminação Decorativa
                p.area__subtitle A iluminação certa pode mudar completamente a atmosfera do ambiente. Luminárias no estilo industrial com detalhes em metal e lâmpadas vintage criam um efeito aconchegante e sofisticado.
            .area__card
                h3.area__title-sm Painéis de Parede e Quadros
                p.area__subtitle Texturas de concreto, tijolo aparente ou madeira envelhecida dão personalidade ao espaço. Acrescente painéis decorativos ou pôsteres artísticos no estilo industrial para um toque autêntico.
            .area__card
                h3.area__title-sm Prateleiras e Estantes de Metal e Madeira
                p.area__subtitle Soluções funcionais e elegantes para organizar o ambiente. Estantes no estilo loft trazem leveza ao espaço, enquanto prateleiras de madeira maciça com suportes metálicos adicionam um charme rústico.
            .area__card
                h3.area__title-sm Acessórios Vintage e Industriais
                p.area__subtitle Relógios envelhecidos, engrenagens metálicas, rádios retrô e esculturas decorativas são detalhes que fazem toda a diferença, tornando o ambiente mais original e cheio de personalidade.