mixin Rules-banner()
    section.rules-banner
        .container.rules-banner__container
            h1 The Basics of HoopsDynasty: How It Works
            p Whether you're a seasoned basketball fan or a newcomer, HoopsDynasty offers an exciting and dynamic experience. Here's how you can get started:
