mixin Support-and-benefits()
    section.container.support-and-benefits
        .text.text-one.reveal-left
            h2 Teacher Support
                span.hidden mostbet
            p In our team, every teacher receives ongoing support. We not only provide all the resources needed for effective teaching but also ensure personal interaction with other teachers. Regular meetings, experience sharing, workshops, and training courses will help you grow and improve.
            ul
                li ✔   Resources for Teachers: Access to learning materials, tests, video tutorials.
                li ✔   Experience Sharing: Communicate with colleagues and discuss best practices.
                li ✔   Professional Development: We support our teachers' learning to enhance their qualifications.
        .img.reveal-zoom
            +Img({
                src: 'img/lesson.jpeg',
                alt: 'LinguaSphere'
            })
        .text.text-two.reveal-right
            h2 Benefits for LinguaSphere Teachers
            p Working with us is not just about teaching—it’s an opportunity to grow and advance in your career. We offer unique conditions for those who are eager to succeed and help students achieve their goals.
            ul
                li ✔   Work with Talented Students: Each of our students is eager to develop, and we are proud to help them in this journey.
                li ✔   Support and Motivation: We value the contributions of our teachers and provide comprehensive support.
                li ✔   Flexibility and Growth: Working with us, you not only build your career but also gain opportunities for growth and learning within our team.
