mixin Features()
    section.features
        .container.features__container
            h2 How to Start Playing
            p From building your dream team to mastering in-game strategy — our app offers all the tools to take your basketball experience to the next level.
            ul.steps 
                li.step Open HomeRunHeroes and create your player profile.
                    span ↓
                li.step Choose your team and customize your gear.
                    span ↓
                li.step Enter training mode to practice your swing or jump straight into a match.
                    span ↓
            p Now you're ready to hit home runs and become a legend in HomeRunHeroes!
