mixin Footer()
    footer.footer
        .container.footer__container
            .footer__logo
                +Link({
                    href: '/',
                    text: 'CricketVerse'
                })
                a(href='https://www.gamcare.org.uk/')
                        +Img({
                            src: '/img/gamecare.png',
                            alt: 'gamble'
                        })
            .footer__links
                div
                    p Contact Us
                    p    
                        a(href='tel:+91 9852056359') +91 98520 56359
                
                    p    
                        a(href='mailto:contact@cricketverse.com') contact@cricketverse.com
                
                    p    
                        a(href='https://maps.app.goo.gl/s2VGLE2eBz2QE49E6' target='_blank') Siddiq Nagar, HITEC City, Hyderabad, Telangana 500081, India
                div
                    p Quick Links
                    +Link({
                        href: '/',
                        text: 'Home',
                    })
                    +Link({
                        href: '/how-to-play/',
                        text: 'How to Play',
                    })
                    +Link({
                        href: '/download/',
                        text: 'Download app',
                    })
                    +Link({
                        href: `/responsible-play/`,
                        text: 'Responsible Play',
                    })
                    +Link({
                        href: '/contact/',
                        text: 'Contact',
                    })
                div
                    p Legal
                    +Link({
                        href: `/disclaimer/`,
                        text: 'Disclaimer',
                    })
                    +Link({
                        href: `/terms-conditions/`,
                        text: 'Terms and conditions',
                    })
                    +Link({
                        href: `/privacy-policy/`,
                        text: 'Privacy policy',
                    })
            .footer__disclaimer
                div 18+
                
                   
                p Participation in fantasy sports on CricketVerse is subject to the legal regulations in India. Fantasy sports are classified as a 'game of skill' under Indian law, making them legal in most states. However, individuals residing in Andhra Pradesh, Assam, Nagaland, Odisha, Sikkim, and Telangana are restricted from participating due to state-specific laws. To register and engage on this platform, users must be at least 18 years old. We encourage responsible gaming and advise users to ensure compliance with local laws before taking part.

                
                p.copyright.small © 2025 CricketVerse. All rights reserved.
        