mixin Categories-main()
    section.categories-main
        .categories-main__bg
        .container
            .categories-main__head.reveal-zoom
                h2 Why Choose Us?
                    span.hidden mostbet
                p Explore a wide range of online English courses designed to meet your needs. Whether you're a beginner or looking to perfect your skills, we have something for you:
            .categories-main__body.grid-ladder
                .categories-main__item.reveal-left.categories-main__text
                    h3 Highly Qualified Instructors.
                    p - All our teachers are either native speakers or experienced linguists with years of teaching experience.
                .categories-main__item.reveal-top.categories-main__text
                    h3 Personalized Learning Plans. 
                    p - We always tailor the learning process to your strengths and weaknesses.
                .categories-main__item.active
                    +Img({
                        src: 'img/home.jpeg',
                        alt: 'Study Anytime',
                    })
                    
                .categories-main__item.active
                    +Img({
                        src: 'img/teacher2.jpeg',
                        alt: 'Qualified Instructors',
                    })
                .categories-main__item.reveal-right.categories-main__text
                    h3 Study Anytime, Anywhere.
                    p - Learn at your convenience—our materials are always accessible.
                
            
            