extends /sites/ChickenGame/layouts/base.pug

block variables
    - const title = 'ChickenGame | Play Online Fantasy Cricket for Fun'
    - const description = 'Join ChickenGame and enjoy playing fantasy cricket online. No real money involved – just skill-based fun and entertainment. Play now and experience the thrill of the game!'

block content
    +Header()

    main

        +Banner()

        +Table()

        +Mission()

        +Info()

        +Start()

        +Categories()

        +Care()

        +Keydata()

        +About-us()

        +Features()

        +Guide()

        +Benefits()

        +Reviews()

        +Disclaimer-modal()

    +Footer()