extends /sites/ChickenGame/layouts/base.pug

block variables
    - const title = 'Website Terms and Conditions | ChickenGame'
    - const description = 'Read the Terms and Conditions for ChickenGame, covering usage rights, disclaimers, liability, and more. By using our platform, you agree to these terms, which are governed by the laws of India.'

block content
    +Header()

    main
        section.container.terms-conditions
            h1 Website Terms and Conditions of Use
            p

            h2 Acceptance of Terms
            p By accessing ChickenGame, you agree to comply with these Terms and Conditions. You also confirm that you will adhere to the relevant local laws. If you do not accept these terms, you are prohibited from using the website. All content on this website is protected under copyright and trademark laws.

            h2 License to Use
            p You are granted a limited, non-exclusive license to access and use the materials provided on ChickenGame’s website for personal, non-commercial use. This license does not transfer ownership of the content to you. You may not:
                ul
                    li Modify, reproduce, or create derivative works based on the materials.
                    li Use the content for commercial purposes or public displays.
                    li Reverse engineer any software or content provided by ChickenGame.
                    li Remove copyright or other proprietary notices from the materials.
                    li Transfer or mirror any part of the materials on another server.
            p ChickenGame reserves the right to revoke this license if any of the above restrictions are violated. Upon termination, you must immediately destroy any materials you have downloaded in both printed and electronic formats.

            h2 Disclaimer of Liability
            p The materials available on ChickenGame’s website are provided "as is." We do not make any warranties, express or implied, regarding the accuracy, reliability, or completeness of the content. ChickenGame disclaims all other warranties and is not responsible for any issues that arise from using the materials or linked websites.

            h2 Limitations of Liability
            p ChickenGame and its affiliates shall not be liable for any damages resulting from the use or inability to use the materials on the website, even if ChickenGame has been informed of the possibility of such damages. These limitations may not apply to you depending on your jurisdiction, as some areas do not allow limitations on implied warranties or liability for incidental damages.

            h2 Errors and Revisions
            p The materials on ChickenGame’s website may contain technical, typographical, or photographic errors. We do not guarantee the accuracy or completeness of any content. ChickenGame reserves the right to modify or update any part of the website without notice, and we are under no obligation to update any information provided.

            h2 Links to External Websites
            p ChickenGame is not responsible for any content found on external websites linked from our site. The inclusion of such links does not imply any endorsement. You access these websites at your own risk.

            h2 Modifications to Terms
            p ChickenGame reserves the right to revise or update these Terms and Conditions at any time. By continuing to use our website, you agree to the most recent version of these terms.

            h2 Governing Law
            p Any legal disputes arising from your use of ChickenGame’s website will be governed by the laws of India, excluding conflict-of-law provisions.
        +Footer()