mixin Htp-banner()
    section.cricketsquad__how-play.container.move-zoom
        
        div
            +Img({
                src: 'img/htp-banner.jpg',
                alt: 'How to Play CricketZone'
            })
            h1 How to Play
            p Step into the world of CricketSquad and become a Fantasy Cricket champion! Build your team, make strategic decisions, and compete against players from across the country. Experience the excitement of real-time points, live matches, and rewards as you rule the fantasy cricket field!
            +Link({
                class: 'btn cricketsquad__btn',
                href: 'contact.html',
                text: 'Download Now',
            })
