.benefits {
    background-color: #e5e5e5;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        color: #333;
        h2,
        > p {
            width: 100%;
            margin-bottom: 20px;
            text-align: center;
        }
        > div {
            border-radius: 30px;
            width: 100%;
            max-width: calc(50% - 15px);
            background-color: #fff;
            padding: 20px;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 15px;
            transition: transform 0.3s ease-in-out;
            &:hover {
                transform: translateY(-10px);
            }
            h3 {
                width: 100%;
                max-width: calc(100% - 70px);
            }
        }
        .img {
            overflow: hidden;
            max-width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }
    .btn {
        margin: 30px auto 0;
    }
    @media (max-width: 767px) {
        h2,
        p {
            margin-bottom: 0;
        }
        &__container {
            > div {
                max-width: 100%;
                // padding: 10px;
            }
        }
        .btn {
            margin: 0px auto 0;
        }
    }
}
