mixin Guide()
    section.categories-main
        .categories-main__bg
        .container
            .categories-main__head.reveal-zoom
                h2 Chicken Road – Game Rules
                p Help the chicken navigate along the wall, moving through vertical lanes while avoiding hazards. Stay alert and guide the chicken safely past obstacles to reach the highest score!
            .categories-main__body.grid-ladder
                .categories-main__item.reveal-left.categories-main__text
                    h3 Start the Game:
                    p - Choose your amount before starting (minimum rate of 0.01).
                    p - Click Start to begin the game.
                .categories-main__item.reveal-top.categories-main__text
                    h3 Avoid Hazards:
                    p - Each lane may have grates or flames appearing randomly.
                    p - If the chicken steps onto a flame, it’s game over—the chicken is roasted!
                .categories-main__item.active
                    h3 Game Over:
                    p The game ends when the chicken steps onto a flame. Don’t worry—just restart, adjust your strategy, and try again!

                    p Ready to help the chicken survive? Let’s go!
                                        
                .categories-main__item.active
                    h3 Tips for Success:

                    p Stay focused on upcoming lanes to anticipate flame appearances.
                    p Switch lanes strategically to avoid getting trapped.
                    p Small moves can make a big difference—be patient and precise.
                .categories-main__item.reveal-right.categories-main__text
                    h3 Timing is Key:
                    p - Watch the flames carefully—they appear and disappear, so plan your moves wisely.
                    p - React quickly, but don’t rush into danger.
                    p -The longer you keep the chicken moving safely, the higher your score.
                
            
            