.courses-everyone {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    > h2 {
        width: 100%;
        text-align: center;
    }
    > p {
        width: 100%;
        text-align: center;
    }
    > div {
        width: 100%;
        flex: 1;
        text-align: center;
        > p,
        h3 {
            margin-top: 10px;
        }
        > div {
            position: relative;
            border: 10px solid #ba66d8;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin: 0 auto;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }
    }
    @media (max-width: 767px) {
        > div {
            min-width: 100%;
        }
    }
}
