mixin Courses-everyone()
    section.container.courses-everyone
        h2.reveal-left Our Courses for Everyone
            span.hidden mostbet
        p.reveal-right LinguaSphere offers courses for students with different goals and proficiency levels. We understand that learning English can be motivated by various reasons, so we tailor our programs accordingly:
        div.reveal-zoom
            div
            h3 English for Beginners. 
            p If you are just starting, our beginner course will help you master basic grammar structures, essential expressions, and boost your confidence.
        div.reveal-zoom
            div
            h3 Conversational English. 
            p Our course will help you speak English without fear or hesitation. We focus on practical communication, listening skills, and pronunciation.
        div.reveal-zoom
            div
            h3 Business English. 
            p Designed for professionals looking to improve their language skills for work. You will learn business vocabulary, email writing, and negotiation techniques in English.
        div.reveal-zoom
            div
            h3 Exam Preparation. 
            p Planning to take IELTS or TOEFL? We will prepare you for high scores and successful exam results.
        p.reveal-left Each course allows you to develop the skills that matter most to you and achieve your goals.