extends /sites/New_v9_NeatNest/layouts/base.pug

block variables
    - const title = 'NeatNest – Storage & Organization Solutions for Your Home'
    - const description = 'NeatNest offers stylish storage solutions to help organize your home efficiently. Discover a range of functional products for every room.'

block content
  +Header()

  main

    +Banner()

    +Categories-main()

    +Welcome-block()

    +Customer-favorites()

    +Advantages()

    +Reviews()

    +Arrivals-main()

    +Tricks()

    +Form()

  +Footer()