mixin Preparation()
    section.preparation.container
        h2.title.reveal-left Fast and Convenient Order Pickup
        h3.title-sm.reveal-right Pick Up Your Order the Same Day

        p.subtitle At Giftoria, we value your time, which is why we offer the option for same-day pickup for orders placed before 16:00. Once you’ve selected your items, simply choose a pickup time that’s convenient for you.
    section.preparation.preparation__list.container
        h4.subtitle How it Works:
        ul
            li
                p.subtitle ✔ Same-day Pickup: Orders placed before 16:00 can be ready for pickup on the same day.
            li
                p.subtitle ✔ Flexible Pickup Options: Choose the date and time that works best for you.
            li
                p.subtitle ✔ Notification: We’ll send you a notification as soon as your order is ready for pickup.

        p.subtitle-sm Please ensure you provide your preferred pickup date and time when placing your order. This will help us prepare your order and ensure a smooth experience when you arrive.
        +Link({
            class: 'btn',
            href: 'index.html#delivery',
            text: 'Learn More About Delivery',
        }) 
