mixin Install()
    section.install
        .container.install__container
            h2 Quick & Easy Setup
            ul 
                li.reveal-left 
                    .number 1
                    h3 Download the App 
                    p — Choose Android or iOS and start the download
                li.reveal-right 
                    .number 2
                    h3 Install 
                    p — Follow simple installation prompts to get started
                li.reveal-left 
                    .number 3
                    h3 Create Your Profile 
                    p — Set up your profile quickly and easily
                li.reveal-right 
                    .number 4
                    h3 Choose HoopsDynasty 
                    p — Select basketball and enter the world of HoopsDynasty
                li.reveal-left 
                    .number 5
                    h3 Draft Your Dream Team 
                    p — Pick your players and prepare for action on the court
                li.reveal-right 
                    .number 6
                    h3 Join the Fun 
                    p — Jump into the game and enjoy exciting basketball challenges!
            p It’s that simple. Ready to play? Download now and start your basketball journey!
            +Link({
                class: 'btn',
                text: 'Start Play',
                href: '/support/'
            })
