mixin Login-modal()
    div(id='login-modal' class='modal hidden')
        form(id='login-form')
            label(for='login-name') Имя
            input(type='text' id='login-name' required)
            label(for='login-password') Пароль
            input(type='password' id='login-password' required)
            button(type='submit') Войти