mixin Top-players(param)
    section.table__container
        .container.reveal-zoom
            h2 Tower Legends
            p Keep an eye on the players who climbed the highest
            +Table(
                { border: "1", cellpadding: "10", cellspacing: "0" }, 
                ["Palyer", "Cost", "X", "Win"], 
                [
                    ["D****3", "100000.00DMO", "263x", "263000.00DMO"],
                    ["D****4", "200000.00DMO", "201x", "196000.00DMO"],
                    ["D****5", "300000.00DMO", "200x", "153000.00DMO"],
                    ["D****6", "800000.00DMO", "180x", "108000.00DMO"],
                    
                ]
            )
