extends /sites/FantasyHub/layouts/base.pug

block variables
    - const title = 'Download FantasyHub App – Your Ultimate Fantasy Sports Experience'
    - const description = 'Get the FantasyHub app now and take your fantasy sports experience to the next level! Play fantasy cricket, football, and more, manage your teams on the go, and enjoy seamless gameplay. Download now for exclusive features and to compete anytime, anywhere!'

block content
    +Header()

    main

        +Dload-banner()

        +Features()

        +Interface()

        +Install()

    +Footer()