extends /sites/FantasyHub/layouts/base.pug

block variables
    - const title = 'FantasyHub Support – We are Here to Help'
    - const description = 'Need assistance? Visit FantasyHub Support for answers to your questions. Whether it is account issues, gameplay inquiries, or general help, our dedicated team is here to ensure your experience is smooth and enjoyable. Reach out for quick and friendly support!'

block content
    +Header()

    main

        +Support-banner()

        +Form()

        +Faq()


    +Footer()