mixin Reviews()
    section.reviews.container
        .reviews__items
            .review__item
                .review__content
                    p "I had been searching for a home for months, and the process was starting to feel overwhelming. But then I found this agency, and everything changed. Their team really listened to my needs and helped me find the perfect property. From the initial consultation to the final signing, they were with me every step of the way. I highly recommend them to anyone looking for a smooth and stress-free real estate experience."
                .review__name - Aarav Patel
            .review__item
                .review__content
                    p "Buying a home is one of the biggest decisions of your life, and I wanted to make sure I was in good hands. I’m so glad I chose this agency. They not only helped me find a beautiful home, but also provided expert advice on financing options and property value. Their attention to detail and customer service were outstanding. I felt completely supported throughout the entire process and couldn’t be happier with the outcome."
                .review__name - Priya Sharma
        .reviews__image
            +Img({
                src: 'img/reviews.jpg',
                alt: 'Reviews'
            })

