extends /sites/New_v9_LumiTech/layouts/base.pug

block variables
    - const title = 'High-Quality LED Lighting Solutions for Every Space'
    - const description = 'Illuminate your world with energy-efficient, long-lasting, and stylish LED lighting designed for residential, commercial, and industrial needs.'

block content
    +Header()

    main
        
        +Banner({})

        +Led-benefits({})

        +About-us({})

        +Preparing-lighting({})

        +Reviews({})

        +Cooperation({})

        +Catalog-main({})

        +Our-services({})

        +Projects({})

        +Callback()

    +Footer()