extends /sites/New_v9_LumiTech/layouts/base.pug

block variables
    - const title = 'Expert LED Lighting Services – Consultation, Installation & Efficiency Audit | LumiTech'
    - const description = 'Discover LumiTech’s professional LED lighting services, including expert consultation, on-site measurements, custom solutions, seamless installation, and energy efficiency audits. Optimize your lighting for maximum performance and savings.'

block content
    +Header()

    main
        +Services-optional({})
    +Footer()