mixin Benefits()
    section.benefits
        .cricketzone-benefits.container.reveal-zoom
            h2 Why Choose FantasyCricketZone?
            +Link({
                class: 'btn benefits__btn',
                href: 'contact.html',
                text: 'Download cricketzone App',
            })
            div.reveal-right
                span 1
                h3 Immersive Cricket Experience
                    
                p CricketZone transforms you from a spectator to a key player in the game. Build your team, make strategic choices, and watch as your players rack up points. This immersive experience brings the excitement of real cricket to your fingertips, keeping you engaged every step of the way.
            div.reveal-bottom
                span 2
                h3 Win Rewards, Compete Worldwide
                    
                p Unlock amazing rewards, from cash prizes to exclusive merchandise, by showcasing your cricket knowledge. The better your team picks and predictions, the higher your chances of winning. Challenge players from across the globe and rise up the leaderboards for ultimate bragging rights!
            div.reveal-left
                span 3
                h3 Play Flexibly, Anytime
                    
                p Create your own private leagues, join public tournaments, or take part in global challenges—CricketZone gives you the flexibility to play your way. Plus, get real-time updates on your fantasy team's performance, allowing you to adjust strategies and stay ahead of the game!