extends /sites/CricketVerse/layouts/base.pug

block variables
    - const title = ' '
    - const description = ' '

block content
    +Header()

    main
        +Form()
        +Faq()

    +Footer()