extends /sites/CricketVerse/layouts/base.pug

block variables
    - const title = 'Contact Us - CricketVerse'
    - const description = 'Have questions or need assistance? Reach out to the CricketVerse team. We are here to help with any inquiries or support you may need. Contact us today and we will get back to you as soon as possible!'

block content
    +Header()

    main
        +Form()
        +Faq()

    +Footer()