extends /sites/CricketVerse/layouts/base.pug

block variables
    - const title = 'Download CricketVerse – Start Your Fantasy Cricket Journey!'
    - const description = 'Download CricketVerse on Android or iOS and dive into the world of fantasy cricket! Build your team, track real player performance, and compete in exciting virtual matches. Download now and get started!'

block content
    +Header()

    main
        +Dload-how()

        +Dload-security()

        +Dload-system()


    +Footer()