extends /sites/CricketVerse/layouts/base.pug

block variables
    - const title = 'How to Play CricketVerse – Your Guide to Fantasy Cricket'
    - const description = 'Learn how to play CricketVerse and master the art of fantasy cricket! This guide will walk you through creating your team, selecting players, and scoring points based on real-world performances. Start your journey today and get the most out of your CricketVerse experience!'

block content
    +Header()

    main

        +Htp-banner()

        +Htp-steps()

        +Htp-why()

        //- +Atmosphere()

        +Htp-team()

        +Htp-challenge()

        
        
        


    +Footer()