extends /sites/CricketVerse/layouts/base.pug

block variables
    - const title = 'CricketZone – Play Fantasy Cricket Anytime, Anywhere'
    - const description = 'Join CricketZone to enjoy the thrill of fantasy cricket. Play from anywhere, anytime, and win exciting rewards. Get started with our easy-to-use platform and experience the best fantasy cricket game.'

block content
    +Header()

    main

        +Banner()

        +Features()
        
        +Benefits()

        +Reviews()

    +Footer()