extends /sites/CricketVerse/layouts/base.pug

block variables
    - const title = 'CricketVerse — Play fantasy cricket and rise to the top!'
    - const description = 'CricketVerse is the perfect platform for cricket fans. Build virtual teams, track real-life games, and earn points based on player performances in tournaments. Join CricketVerse and become a fantasy cricket champion!'

block content
    +Header()

    main

        +Banner({
            bannerAlt: "CricketVersebanner"
        })

        +Features()
        
        +Benefits()

        +Counter({
            counterOne: 'Average Player Rating',
            counterTwo: 'Total Downloads',
            counterThree: 'Active Players',
        })

        +Table()

        +Ultimate()

        +Reviews()

        +Advantages()

        +Info()
        
        +Disclaimer-modal()

    +Footer()