extends /sites/CricketVerse/layouts/base.pug

block variables
    - const title = 'Privacy Policy for CricketVerse'
    - const description = 'Read CricketVerse’s Privacy Policy to understand how we collect, use, and protect your personal information while you enjoy our fantasy cricket platform.'

block content
    +Header()

    main
        section.container.privacy-policy
           section.container.privacy-policy
                h1 Privacy Policy for CricketVerse
                p At CricketVerse, we are committed to safeguarding the privacy of our players. We understand the importance of securing your personal information and have developed this Privacy Policy to explain the data we collect, how we use it, and how we protect your privacy while you enjoy our fantasy cricket platform, cricketverse.com.
                p If you have any questions regarding this Privacy Policy or need further clarification, please feel free to contact us.

                h2 Information We Collect
                p While you use CricketVerse, we collect information that helps us enhance your experience. This includes your IP address, browser type, and the device you use to access our platform. Additionally, we track your interactions within the app, such as your fantasy teams, the matches you participate in, and other in-game activities. This information is collected to improve your experience and is not personally identifiable.

                h2 Log Files
                p CricketVerse uses log files to monitor and track visits to our platform. This includes data such as your IP address, browser type, Internet Service Provider (ISP), visit date and time, pages visited, and the number of interactions on the site. This data is used solely for analytics, site administration, and demographic analysis, and is not linked to personally identifiable information.

                h2 Third-Party Services
                p To enhance the functionality of CricketVerse, we may work with third-party service providers for website and app analytics, as well as to improve the gaming experience. These services may collect anonymous data to better understand how you interact with the platform, but they do not gather personally identifiable information.

                h2 Advertising Partners
                p Some of the advertisers we work with may gather data to present relevant ads to our players. Each advertising partner has its own privacy policies, and we recommend that you review their terms before engaging with their content.

                h2 Privacy Policies of Advertising Partners
                p While we partner with advertising services, CricketVerse is not responsible for the data practices of these external partners. We encourage you to read their privacy policies and manage your preferences accordingly.

                h2 Children's Privacy
                p At CricketVerse, we take the safety of children online seriously. We strongly encourage parents and guardians to monitor their children's online activities. CricketVerse does not knowingly collect or store personally identifiable information from users under the age of 18. If you believe your child has shared such information with us, please contact us immediately, and we will take the necessary steps to remove this data from our records.

                h2 Online Privacy Only
                p This Privacy Policy applies only to our online activities and pertains to users who visit cricketverse.com. It does not extend to information collected offline or through other means outside of the website or app.

                h2 Consent
                p By using our website and app, you consent to this Privacy Policy and agree to its terms and conditions. If you have any questions or concerns regarding our policy, please feel free to reach out to our team.

                p If you have any further inquiries about how we handle your data or this policy, feel free to contact us at any time.


    +Footer()