extends /sites/CricketVerse/layouts/base.pug

block variables
    - const title = ' '
    - const description = ' '

block content
    +Header()

    main
        section.container.privacy-policy
            h1 Privacy Policy for CricketZone
            p At CricketZone, we understand the importance of privacy for our users. On our website, cricketzone.com, we take your personal information protection seriously. This Privacy Policy outlines the types of data we collect and process, as well as how we use it.
            p If you have any additional questions about our Privacy Policy, feel free to contact us.

            h2 Log Files
            p Like many other websites, CricketZone uses log files to track visits. These files contain information such as your IP address, browser type, Internet Service Provider (ISP), date and time of visit, pages visited, and the number of clicks. This data is not linked to personally identifiable information and is used solely for analyzing website traffic, administration, and demographic data collection.

            h2 Third-Party Services
            p We may use third-party services for analytics and website improvement. These services help us understand user interactions and enhance the user experience. However, they do not collect personally identifiable information.

            h2 Advertising Partners
            p Some of the advertisers on our site may collect data for displaying relevant ads. Each of our advertising partners has its own Privacy Policy, and we recommend reviewing their terms.

            h2 Privacy Policies of Advertising Partners
            p We provide information about CricketZone’s advertising partners, but we are not responsible for their actions. For more details on their Privacy Policies and how to disable some options, please refer to their own policies.

            h2 Children's Information
            p We also prioritize protecting children online. We strongly encourage parents and guardians to monitor their children's internet activities and participate in their online experiences.

            p CricketZone does not knowingly collect any personally identifiable information from children under the age of 18. If you believe your child has provided such information through our website, please contact us immediately, and we will take prompt action to remove this information from our records.

            h2 Online Privacy Policy Only
            This Privacy Policy applies only to our online activities and is valid for visitors to our website regarding the information they share and/or collect on cricketzone.com. It does not apply to information collected offline or through other channels outside of this website.

            h2 Consent
            p By using our website, you consent to our Privacy Policy and agree to its Terms and Conditions.

            p If you have any additional questions about our Privacy Policy, feel free to contact us.

    +Footer()