extends /sites/CricketVerse/layouts/base.pug

block variables
    - const title = 'Website Terms and Conditions - CricketVerse'
    - const description = 'Read the terms and conditions for using CricketVerse, including information on licensing, liability, content usage, and legal matters. By using the website, you agree to comply with these terms.'

block content
    +Header()

    main
        section.container.terms-conditions
            h1 Website Terms and Conditions of Use
            p

            h2 Acceptance of Terms
            p By accessing the CricketVerse website, you agree to adhere to these Terms and Conditions and acknowledge your responsibility to comply with any relevant local laws. If you do not agree with these terms, you are prohibited from using the website. All content available on this website is protected by copyright and trademark laws.

            h2 License to Use
            p You are granted a limited, non-exclusive license to download one copy of the materials available on CricketVerse’s website for personal, non-commercial purposes. This license does not transfer ownership of the content to you, and you may not:
            ul
                li - Modify or reproduce the content.
                li - Use the materials for commercial purposes or public displays.
                li - Reverse engineer any software or content from CricketVerse.
                li - Remove any copyright or proprietary notices from the materials.
                li - Transfer or mirror the materials on any other server.
            p CricketVerse reserves the right to revoke this license if any of these restrictions are violated. Upon termination, you must immediately destroy any downloaded materials, whether in printed or electronic form.

            h2 Disclaimer of Liability
            p The materials provided on CricketVerse’s website are offered "as is." CricketVerse does not make any warranties, express or implied, and disclaims all other warranties. We do not make any claims about the accuracy, completeness, or reliability of the materials, or any websites linked from our platform.

            h2 Limitations of Liability
            p CricketVerse and its affiliates are not liable for any damages arising from the use or inability to use the materials on this website, even if CricketVerse has been informed of the possibility of such damages. Some jurisdictions may not allow limitations on implied warranties or liability for incidental damages, so these limitations may not apply to you.

            h2 Errors and Revisions
            p The materials on CricketVerse’s website may contain errors, such as technical, typographical, or photographic mistakes. We do not guarantee the accuracy, completeness, or timeliness of the content. CricketVerse reserves the right to make modifications to the materials on the website at any time without prior notice, and we are under no obligation to update any content.

            h2 Links to External Websites
            p CricketVerse is not responsible for the content on external websites that may be linked from our site. The inclusion of these links does not imply any endorsement of those sites. Accessing linked websites is at your own risk.

            h2 Modifications to Terms
            p CricketVerse reserves the right to modify or update these Terms and Conditions at any time. By continuing to use our website, you agree to be bound by the most recent version of these terms.

            h2 Governing Law
            p Any legal disputes related to the use of CricketVerse’s website will be governed by the laws of India, without regard to conflict-of-law provisions.
    +Footer()