extends /sites/CricketVerse/layouts/base.pug

block variables
    - const title = 'Thank You for Registering with CricketVerse'
    - const description = 'Thank you for registering with CricketVerse! Your account is now active, and you are ready to enjoy the exciting world of fantasy cricket. If you have any questions, feel free to contact us.'

block content
  main
    section.container.thanks
      h1 Thank You for Joining CricketVerse!
      p We appreciate you getting in touch with CricketVerse! Your contact request has been successfully received, and we’ll get back to you as soon as possible.

      p Stay tuned for updates in CricketVerse, announcements, and the latest news about our fantasy cricket platform. We’re excited to have you as part of our growing community!  

      p If you have any further questions or need assistance, don’t hesitate to reach out through our contact page.  

      p Thanks for connecting with CricketVerse! We’ll be in touch soon.
      +Link({
          class: 'btn thanks__btn',
          href: '/',
          text: 'Home',
      })
