mixin About-us(param)
    section.about-us
        .container.about-us__container 
            h2 About Us
            div
                div.about-us__item-one.reveal-left
                    p At ChickenGame, we aim to bring fun and excitement to every player through our engaging and simple online mini-game. Designed for players of all ages, Chicken Road offers a playful experience where quick thinking and sharp reflexes are the keys to success.
                div.about-us__item-two.reveal-top
                    p We believe that games should be accessible and entertaining for everyone. That’s why ChickenGame requires no downloads—just hop onto our website and start playing right away.
                div.about-us__item-three.reveal-right
                    p Whether you're taking a quick break or diving in for a longer session, Chicken Road is the perfect way to challenge your skills and unwind. The unpredictable obstacles and dynamic gameplay ensure that no two rounds are ever the same.
                div.about-us__item-four.reveal-left
                    p Thank you for being a part of our gaming community! Happy crossing and good luck!
                    p Our team is passionate about creating a space where players can enjoy casual gaming anytime, anywhere. We’re constantly working to improve ChickenGame and make it even more enjoyable.