.footer {
    background-color: #333333;
    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "logo logo"
            "allcontacts contacts";
        gap: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        min-height: 200px;
        justify-content: space-between;
    }
    &__logo {
        grid-area: logo;
        a {
            font-size: 40px;
            color: #fff;
            font-weight: 500;
        }
    }
    &__contacts {
        grid-area: allcontacts;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        a {
            text-decoration: none;
            cursor: pointer;
            display: inline-block;
            color: #fff;
            width: max-content;
        }
    }
    .contacts {
        grid-area: contacts;
        width: 100%;
        flex-wrap: wrap;
        align-items: flex-end;
        padding: 0;
    }
    @media (max-width: 991px) {
        &__container {
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;

            grid-template-areas:
                "logo "
                "allcontacts"
                "contacts";
        }
        .contacts {
            align-items: flex-start;
        }
        &__contacts {
            a {
                width: 100%;
                white-space: break-spaces;
            }
        }
    }
}
