mixin Projects()
    section.projects
        .container.projects__container
            h2 Our Projects
            p We take pride in every project we complete and always strive to exceed our clients' expectations. Our LED solutions are suitable for a wide range of properties, from large industrial sites to private homes and cozy apartments.

            p Our projects include:

            ul.grid-sm

                li 
                    h3 Office lighting: 
                    p We provide high-quality, energy-efficient lighting for office spaces, creating a comfortable environment for work.

                li 
                    h3 Outdoor lighting: 
                    p Our outdoor LED lights ensure safety and visibility under any weather conditions, from residential complexes to industrial facilities.

                li 
                    h3 Decorative lighting: 
                    p Be inspired by our decorative solutions for restaurants, cafes, and shopping centers. We create unique lighting designs that highlight the style and ambiance of any space.

                li 
                    h3 Industrial lighting: 
                    p For large warehouses, factories, and production facilities, we offer lighting that ensures safety and improves work efficiency.

            p Each project is the result of careful planning, a personalized approach, and the use of only high-quality materials. We are proud to share our successful implementations with you and are always ready to offer perfect solutions for your business or home.
            +Link({
                class: 'btn projects__btn',
                href: 'catalog.html',
                text: 'Learn more',
            })