include /sites/ChickenGame/components/header/index
include /sites/ChickenGame/components/footer/index
include /sites/ChickenGame/components/burger/index

include /sites/ChickenGame/components/disclaimer-modal/index
include /sites/ChickenGame/components/form/index


// main
include /sites/ChickenGame/components/banner/index
include /sites/ChickenGame/components/table/index
include /sites/ChickenGame/components/mission/index
include /sites/ChickenGame/components/start/index
include /sites/ChickenGame/components/categories/index
include /sites/ChickenGame/components/care/index
include /sites/ChickenGame/components/keydata/index
include /sites/ChickenGame/components/features/index
include /sites/ChickenGame/components/benefits/index
include /sites/ChickenGame/components/info/index
include /sites/ChickenGame/components/about-us/index
include /sites/ChickenGame/components/faq/index
include /sites/ChickenGame/components/guide/index
include /sites/ChickenGame/components/area/index
include /sites/ChickenGame/components/reviews/index
