mixin Preparing-lighting()
    section.preparing-lighting
        .container.preparing-lighting__container
            +Img({
                    src: 'img/preparing-lighting.jpg',
                    alt: 'Preparing for Lighting Installation',
                    class: 'preparing-lighting__img-bg'
                })
            .preparing-lighting__content
                h2 Preparing for Lighting Installation
                p To ensure an accurate installation of LED lighting for your space, please have the following details ready:
                ul
                    li Room Area (m²): The size of the space to be illuminated.
                    li Type of Lighting: Specify whether you need industrial, office, residential, or decorative lighting solutions.
                    li Contact Details (Name, Email, Phone): So we can reach out to you for further consultation and scheduling.
                p Once you have these details, our team will assist you in selecting the optimal lighting and guide you through the installation process.
                +Link({
                    class: 'btn preparing-lighting__btn',
                    href: 'index.html#callback-form',
                    text: 'Details',
                })

            
           
            
            
