mixin Area()
    section.area
        .container.area__container
            h2 Conversational English
            p This course will help you speak fluently and confidently at any level. If you want to improve your speaking skills, our "Conversational English" course provides everything you need:
            .area__card.reveal-right
                h3.area__title-sm ✔ Engaging discussion topics:
                p.area__subtitle  Expand your vocabulary and fluency by discussing real-life topics such as travel, culture, work, hobbies, technology, and current events. Through guided conversations, you will learn how to express your thoughts clearly and naturally in various contexts.
            .area__card.reveal-top
                h3.area__title-sm ✔ Practice with native speakers: 
                p.area__subtitle Gain confidence in real conversations by engaging in interactive lessons with native English speakers. These sessions focus on pronunciation, intonation, and natural speech patterns, helping you sound more like a fluent speaker.
            .area__card.reveal-left
                h3.area__title-sm ✔ Role-playing and dialogues:
                p.area__subtitle Improve your ability to respond naturally in everyday situations through interactive exercises. You will practice ordering food at a restaurant, making phone calls, attending job interviews, and handling social interactions—all in English.