extends /sites/HoopsDynasty/layouts/base.pug

block variables
    - const title = 'HoopsDynasty Support – Help & Assistance'
    - const description = 'Need help with HoopsDynasty? Find answers to common questions or contact our support team for assistance with gameplay, technical issues, and more.'

block content
    +Header()

    main

        +Support-banner()

        +Form()

        +Faq()


    +Footer()