mixin Unique-loft()
    section.linguasphere__philosophy.container
        h2 Our Philosophy
            span.hidden mostbet
            
        div.reveal-zoom
            p LinguaSphere is an educational project focused on results. We create courses that provide real language knowledge and help you use it in everyday life:
            ul
                li 
                    h3 ✔ Ease of Learning: 
                    p Our materials are designed to be clear and accessible to every student.
                li 
                    h3 ✔ Individual Approach: 
                    p We understand that each student is unique and tailor the learning process to their needs.
                li 
                    h3 ✔ Practical Focus:
                    p Our courses are based on real-life situations so you can immediately apply your knowledge.
        +Img({
            src: 'img/person3.jpeg',
            alt: 'Philosophy LinguaSphere'
        })