mixin Info()
    section.container.info
        .info-item.reveal-left
            .info-img
                +Img({
                    src: 'img/team2.jpeg',
                    alt: 'Explore CricketVerse'
                })
            .info-text
                h3 Explore CricketVerse
                p Get a glimpse of what CricketVerse has to offer. With its user-friendly interface and exciting features, navigate through the app effortlessly and enhance your fantasy cricket experience.
        .info-item.reveal-right
            .info-img
                +Img({
                    src: 'img/team1.jpeg',
                    alt: 'Comprehensive Team Management'
                })
            .info-text
                h3 Comprehensive Team Management
                p Build and manage your dream cricket team, track player performance, and strategize to compete against other cricket fans.
        .info-item.reveal-zoom
            .info-img
                +Img({
                    src: 'img/person4.jpeg',
                    alt: 'Real-Time Match Updates'
                })
            .info-text
                h3 Real-Time Match Updates
                p Stay on top of live matches with real-time updates, player stats, and match performance to adjust your team strategy in the heat of the game.