.header {
    background-color: #264441;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 100;
    width: 100%;
    color: #fff;
    position: fixed;
    &.scrolled {
        opacity: 0.8;
    }
    &__logo {
        a {
            font-size: 24px;
            color: #fff;
            font-weight: 500;
            font-family: "Exo_2", serif;
        }
    }
    &__container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        &-item {
            a {
                color: #fff;
                font-size: 14px;
            }
        }
    }
    .menu-content {
        ul {
            li {
                margin-bottom: 10px;
                a {
                    color: #fff;
                }
            }
        }
    }

    @media (max-width: 900px) {
        padding-top: 10px;
        padding-bottom: 10px;
        &__list {
            display: none;
        }
        &__logo {
            a {
                font-size: 30px;
            }
        }
        .menu {
            display: flex;
        }
    }
}
