include /sites/New_v9_NeatNest/components/header/index
include /sites/New_v9_NeatNest/components/footer/index
include /sites/New_v9_NeatNest/components/burger/index

include /sites/New_v9_NeatNest/components/banner/index
include /sites/New_v9_NeatNest/components/categories-main/index
include /sites/New_v9_NeatNest/components/welcome-block/index
include /sites/New_v9_NeatNest/components/customer-favorites/index
include /sites/New_v9_NeatNest/components/advantages/index
include /sites/New_v9_NeatNest/components/reviews/index
include /sites/New_v9_NeatNest/components/arrivals-main/index
include /sites/New_v9_NeatNest/components/tricks/index
include /sites/New_v9_NeatNest/components/form/index

include /sites/New_v9_NeatNest/components/catalog-block/index
include /sites/New_v9_NeatNest/components/limited/index
include /sites/New_v9_NeatNest/components/arrivals/index
include /sites/New_v9_NeatNest/components/ideas/index

include /sites/New_v9_NeatNest/components/faq/index
include /sites/New_v9_NeatNest/components/materials/index
include /sites/New_v9_NeatNest/components/tips/index
include /sites/New_v9_NeatNest/components/care/index
include /sites/New_v9_NeatNest/components/contact/index
include /sites/New_v9_NeatNest/components/delivery/index