mixin Catalog-callback()
    section.container.catalog-callback
        h2 Order LED lighting today!
        p Upgrade your space with high-quality LED lighting solutions. Whether you need industrial, street, office, or decorative lighting, we offer reliable and energy-efficient options to meet your needs.

        p Our LED lights provide excellent brightness, durability, and significant energy savings. We work directly with manufacturers to offer competitive prices and ensure top-tier quality.

        p Not sure which lighting solution is best for you? Our experts are here to help! Contact us for a consultation, and we’ll assist you in selecting the perfect lighting for your project.

        +Link({
            class: 'btn catalog-callback__btn',
            href: 'index.html#callback-form',
            text: 'Information',
        })