mixin Easy()
    section.easy
        .container.easy__container
            .easy__top.reveal-zoom
                .img
                    +Img({
                        src: '/img/stack.jpeg',
                        alt: 'Dominate the Game',
                        class: 'wiggle'
                    })
                h2 Dominate the Game
            .easy__text.reveal-left
                h2 Getting Started is Easy
                ul
                    li <span>1</span> Create your account and join the esports community.
                    li <span>2</span> Explore top tournaments, teams, and live matches.
                    li <span>3</span> Track stats, engage with fans, and level up your esports experience.
            .easy__img.reveal-right
                .img
                    +Img({
                        src: '/img/roulet.jpeg',
                        alt: 'Getting Started is Easy'
                    })
