extends /sites/Funtower/layouts/base.pug

block variables
    - const title = 'Funtower | Climb Higher in the Ultimate Tower Challenge'
    - const description = 'Step into Funtower and test your skills in an exciting tower-climbing adventure. No downloads, no pressure—just pure entertainment and endless fun. Start your climb today and see how high you can go!'


block content
    +Header()

    main
        +Land()
        +Fixed-bg()

        +Banner()

        +Rules()

        

       

        +Start()

        +Top-players()

        

       


        

        +Benefits()

        +Reviews()

        +Disclaimer-modal()

    +Footer()