mixin Categories()
    section.categories
        .container.categories__container
            .categories__col.reveal-zoom
                h2.title Intermediate Course
                    span.hidden mostbet
                p.subtitle This course is ideal for those who want to hold more complex conversations on various topics. For learners with basic English knowledge, we offer a more in-depth course:
                +Link({
                    class: 'btn learn-more-btn',
                    href: '/#form',
                    text: 'Learn more',
                }) 
            .categories__col.grid-container
                .categories__item.reveal-right
                    +Img({
                        src: 'img/different1.jpeg',
                        alt: 'Cultural Immersion'
                    })
                    h3.title-sm "Cultural Immersion" topic
                    p.subtitle Learn vocabulary and phrases used in movies, books, and everyday conversations.
                .categories__item.reveal-zoom
                    +Img({
                        src: 'img/students.jpeg',
                        alt: 'Common grammar'
                    })
                    h3.title-sm Common grammar structures:
                    p.subtitle Master tenses, modal verbs, and complex sentence structures.
                .categories__item.reveal-left
                    +Img({
                        src: 'img/woman.jpeg',
                        alt: 'Practice through assignments'
                    })
                    h3.title-sm Practice through assignments:
                    p.subtitle Develop writing skills with essays, short stories, and other texts.
                
                