mixin Area()
    section.area
        .container.area__container
            h2 Contact Us
            p We’re thrilled to hear from our players! Whether you have questions, feedback, or just want to share your thoughts on the game, don’t hesitate to reach out using the form below. Your input helps us make Funtower even more exciting and enjoyable for everyone.
            .area__card.reveal-right
                h3.area__title-sm ✔ How Can We Assist You?
                p.area__subtitle Got a question about the game? Experienced a bug or want to share your gameplay story? We’re here to help! Our team is always ready to provide assistance and make sure you have the best possible gaming experience.
            .area__card.reveal-top
                h3.area__title-sm ✔ We Appreciate Your Feedback
                p.area__subtitle Your opinion matters to us. Whether it’s an idea for new features, suggestions for improvement, or just letting us know how much fun you’re having, we’re excited to hear from you.
            .area__card.reveal-left
                h3.area__title-sm ✔ Stay in Touch
                p.area__subtitle Fill out the contact form below, and we’ll get back to you as quickly as possible. We strive for fast responses and appreciate your understanding and patience.

            p Thank you for being part of the Funtower community! We’re always glad to hear from you at Funtower.
