mixin Welcome-block()
    section.welcome-block
        .container.welcome-block__container.reveal-zoom
            h2 Interactivity and Immersion
            p At LinguaSphere, we aim to make learning both interesting and dynamic.
            p We incorporate elements of gaming, competition, and interaction to ensure that each lesson is not only useful but also engaging.
            p We actively use modern online platforms where students can communicate with teachers and each other, complete tasks, and participate in interactive events like virtual debates, contests, and quests.
            +Link({
                class: 'btn welcome-block__btn',
                href: 'index.html#form',
                text: 'Learn more',
            })