.candidates {
    background-color: #e5e5e5;
    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        h2 {
            margin-bottom: 20px;
        }
        > div {
            background-color: #fff;
            padding: 20px;
            width: 100%;
            max-width: calc(50% - 15px);
            ul {
                margin: 10px 0;
                li {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding-left: 30px;
                    gap: 10px;
                    margin-bottom: 10px;
                    transition: transform 0.3s ease;
                    &:hover {
                        transform: translate(5px, -5px);
                    }
                    &::before {
                        content: "";
                        display: block;
                        width: 10px;
                        height: 10px;
                        background-color: transparent;
                        border: 1px solid #000;
                        left: 0;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
    @media (max-width: 767px) {
        &__container {
            > div {
                max-width: 100%;
            }
        }
    }
}
