mixin Candidates()
    section.candidates
        .container.candidates__container
            div.reveal-left
                h2 🎓 Requirements for Candidates
                    span.hidden mostbet
                p We are looking for teachers who not only have a strong command of the English language but also possess high pedagogical skills. It's important that our teachers are ready for an individual approach, use modern teaching methods, and are eager to develop their students.
                ul
                    li Teaching Experience: At least 2 years.
                    li Higher Education: A degree in philology, pedagogy, or related fields.
                    li Knowledge of Teaching Methodologies: Ability to work with students of different levels.
                    li Desire to Grow Professionally: A commitment to self-development and career growth.
            div.reveal-right
                h2 🧑‍🏫 How to Join the Team?
                p Joining LinguaSphere is simple and fast. We are actively looking for qualified teachers and are ready to offer you the opportunity to start working with us.
                ul
                    li Fill out the Form on the Website: Tell us about your experience, qualifications, and preferences.
                    li Go Through the Interview: Our managers will interview you to assess your professional and communication skills.
                    li Start Teaching: Once approved for the position, you will receive access to all necessary materials and begin teaching students.