include /sites/New_v9_GrandResidence/components/header/index
include /sites/New_v9_GrandResidence/components/banner/banner
include /sites/New_v9_GrandResidence/components/whyus/whyus
include /sites/New_v9_GrandResidence/components/properties/index 
include /sites/New_v9_GrandResidence/components/contact/index
include /sites/New_v9_GrandResidence/components/footer/index
include /sites/New_v9_GrandResidence/components/cities-for-rent/index
include /sites/New_v9_GrandResidence/components/properties-for-rent/index
include /sites/New_v9_GrandResidence/components/counter/index
include /sites/New_v9_GrandResidence/components/opportunities/index
include /sites/New_v9_GrandResidence/components/services/index
include /sites/New_v9_GrandResidence/components/reviews/index
include /sites/New_v9_GrandResidence/components/advantages/index
include /sites/New_v9_GrandResidence/components/info/index
include /sites/New_v9_GrandResidence/components/promise/index
include /sites/New_v9_GrandResidence/components/sails/index