mixin Balls-banner()
    section.cricketsquad__score.container.move-zoom
        +Img({
                src: 'img/ball-banner.jpg',
                alt: 'Score'
            })
        .cricketsquad__score_container
            
            h1 Play, Compete, Win – Cricket Like Never Before! 

            p Step into the thrilling world of CricketSquad, where your cricket knowledge and strategy turn into epic victories! Build your dream team, make smart picks, and watch as your players score in real matches. Every run, wicket, and catch brings you closer to the top.

            p Challenge your friends, climb the leaderboard, and prove you're the ultimate cricket mastermind. With every match, there’s a new chance to outplay the competition. Are you ready to dominate the game? Join CricketSquad now and start your winning streak!

            +Link({
                class: 'btn cricketsquad__btn',
                href: 'contact.html',
                text: 'Download Now',
            })