mixin Htp-team()
    section.container.htp-team
        h2.reveal-zoom Tips for Building a Successful Team
        p.reveal-zoom In the world of Fantasy Cricket on CricketVerse, the key to success is building the right team. Here are some helpful tips to create a strong lineup and dominate the matches:
        .htp-team__items
            .reveal-left
                h3 Use a Balanced Player Selection
                p It's important to balance your team by choosing players from different positions. Keep an eye on player conditions and their current form.
                .arrow →
            .reveal-right
                h3 Follow Ongoing Tournaments
                p Participating in active tournaments helps you earn points faster. Stay updated with new tournaments and quickly pick players who will be most beneficial.
                .arrow →
            .reveal-left
                h3 Analyze Player Statistics
                p Get familiar with player statistics, their recent achievements, and performance in real matches. This will help you make more informed choices.
                .arrow →
            .reveal-right
                h3 Try Different Strategies
                p Don't be afraid to experiment with your team! Try different strategies and player combinations to see which ones yield the best results.
                .arrow →
            .reveal-left
                h3 Evaluate Your Competitors
                p Carefully watch other teams, analyze their lineup and strategies. Knowing your competition will help you predict which players might bring in the most points.
                .arrow ✔ 
