mixin Services()
    section.services-module.container
        .wrapper
            
            .services-card
                .services-img
                    +Img({
                        src: 'img/assistance.jpg',
                        alt: 'Property buying assistance',
                    })
                a(href='#contact').services-name Property buying assistance
        
            .services-card
                .services-img
                    +Img({
                        src: 'img/selling.jpg',
                        alt: 'Property selling services',
                    })
                a(href='#contact').services-name Property selling services
    
            .services-card
                .services-img
                    +Img({
                        src: 'img/rental.jpg',
                        alt: 'Rental services',
                    })
                a(href='#contact').services-name Rental services

            .services-card
                .services-img
                    +Img({
                        src: 'img/investment.jpg',
                        alt: 'Investment consultation',
                    })
                a(href='#contact').services-name Investment consultation

            .services-card
                .services-img
                    +Img({
                        src: 'img/management.jpg',
                        alt: 'Property management',
                    })
                a(href='#contact').services-name Property management

            .services-card
                .services-img
                    +Img({
                        src: 'img/assistance.jpg',
                        alt: 'Legal assistance in real estate transactions',
                    })
                a(href='#contact').services-name Legal assistance in real estate transactions

            .services-card
                .services-img
                    +Img({
                        src: 'img/mortgage.jpg',
                        alt: 'Mortgage and financing services',
                    })
                a(href='#contact').services-name Mortgage and financing services
    
            .services-card
                .services-img
                    +Img({
                        src: 'img/valuation.jpg',
                        alt: 'Property valuation',
                    })
                a(href='#contact').services-name Property valuation