mixin Challenge()
    section.cricketleague__challenge.container
        div.reveal-zoom
            h3 🏆 Create a Challenge
            p To create a challenge on VirtualCricketLeague, sign in to your account and click on the "Create Challenge" button. On the challenge creation page, tap the plus sign (+) to start picking your players. Choose players from upcoming matches and build your team based on the challenge type (2, 3, or 4 players). For balanced teams, make sure to select at least one player from each competing team for teams of 2 or 3, and two players from each team for a 4-player setup. Set your challenge amount and decide whether it will be public or private. Public challenges are open to everyone, while private challenges can be shared with friends, family, and colleagues via email.
        div.reveal-zoom
            h3 🎯 Understanding the Scoring System 
            p To check out the scoring system, tap the Account icon at the bottom of the app, select "Score," then choose "Cricket" to see the full breakdown of how points are awarded. Stay ahead in the game by mastering the scoring system—it's key to earning points and climbing the leaderboard. Join VirtualCricketLeague today and immerse yourself in the world of fantasy cricket. Create your team, track matches, and compete for fantastic prizes! Start playing now and prove you're the ultimate fantasy cricket strategist!
        +Link({
            class: 'btn cricketleague__btn',
            href: 'contact.html',
            text: 'Download Now',
        })
