// general
include /sites/HomeRunHeroes/components/header/index
include /sites/HomeRunHeroes/components/footer/index
include /sites/HomeRunHeroes/components/burger/index
include /sites/HomeRunHeroes/components/disclaimer-modal/index
// ts
include /components/parallax/index
include /components/tabs/index
include /components/carousel/index


include /components/dev-land/index

// main
include /sites/HomeRunHeroes/components/banner/index
include /sites/HomeRunHeroes/components/game-slider/index
include /sites/HomeRunHeroes/components/map/index
include /sites/HomeRunHeroes/components/overview/index
include /sites/HomeRunHeroes/components/advantages/index
include /sites/HomeRunHeroes/components/counter/index
include /sites/HomeRunHeroes/components/inspiring/index
include /sites/HomeRunHeroes/components/benefits/index
include /sites/HomeRunHeroes/components/reviews/index

//download
include /sites/HomeRunHeroes/components/dload-banner/index
include /sites/HomeRunHeroes/components/install/index

include /sites/HomeRunHeroes/components/features/index
include /sites/HomeRunHeroes/components/interface/index

// tutorial
include /sites/HomeRunHeroes/components/tutorial-banner/index
include /sites/HomeRunHeroes/components/tutorial-nav/index
include /sites/HomeRunHeroes/components/tutorial-guide/index

// support
include /sites/HomeRunHeroes/components/form/index
include /sites/HomeRunHeroes/components/faq/index
include /sites/HomeRunHeroes/components/support-banner/index

// rules
include /sites/HomeRunHeroes/components/rules-banner/index
include /sites/HomeRunHeroes/components/rules-player-scoring/index
include /sites/HomeRunHeroes/components/rules-team-creation/index
include /sites/HomeRunHeroes/components/rules-competitions/index
include /sites/HomeRunHeroes/components/rules-team-management/index
include /sites/HomeRunHeroes/components/house/index







