mixin Table()
    section.table.container.reveal-zoom
        h2 Welcome to the World of Chicken Game! 
        p At Inout Games, we’re excited to introduce our new mini-game — Chicken Road. This thrilling addition to our collection of original games is now available through all our partner platforms.

        p Before you jump into this fun-filled adventure with our fearless little chicken, explore everything the game has to offer right here on the official Chicken Game website. Get ready for dynamic gameplay, engaging challenges, and hours of pure entertainment!

        p Ready to cross the road with our hero? 
        .table__container
            table
                tbody
                    
                    tr
                        th Min. Bet
                        th Max. Bet
                        th Max. Win
                        th Volatility
                        th RTP
                    tr
                        td €0.01
                        td €200
                        td €20,000
                        td 98
                        td 98%