.table {
    overflow: hidden;
    h2,
    > p {
        margin-bottom: 20px;
        text-align: center;
    }
    &-container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .table__container {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1rem;
        th {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
        }
        td {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
        }

        tbody tr:nth-child(odd) {
            background-color: #f9f9f9;
            color: #333;
        }

        tbody tr td:hover {
            background-color: #e1e1e1;
            color: #333;
        }

        td:first-child {
            font-weight: bold;
        }

        td {
        }
    }
}
