mixin Rules-team-creation()
    section.team-creation
        .container.team-creation__container
            div
                h2.reveal-zoom Team Creation:
                
                ul.reveal-zoom
                    li 1. Select your basketball squad from a pool of available players, each with unique skills and attributes.
                    li 2. Pick players based on their performance in recent games, keeping an eye on their stats and form.
                    li 3. Players are assigned positions (e.g., point guard, shooting guard, center) and must be placed in those spots for a well-balanced team.
            .img
                +Img({
                    src: '/img/team.jpeg',
                    alt: 'Team Creation'
                })