mixin Benefits()
    section.benefits
        .container.benefits__container
            h2 Join the Poker Tournament Action
                span.hidden stake app
            p Compete in prestigious poker tournaments, special events, and exclusive challenges. Rise through the ranks and prove you have what it takes to be a PokerProTour champion!
            .benefits__cards.reveal-zoom
                div.reveal-left
                    span 1
                    h3 Play & Dominate!
                    p Dive into intense poker games. Sharpen your strategies, master the art of bluffing, and make your mark in the world of poker.
                div.reveal-right
                    span 2
                    h3 Compete with Friends & Pros
                    p Team up with friends or challenge professional players in thrilling poker matchups. Show your skill and climb the global leaderboards!
                div.reveal-left
                    span 3
                    h3 Exclusive Tournaments & Challenges
                    p Participate in limited-time events and themed challenges for fresh, exciting experiences. Test your poker skills and earn exclusive rewards!
