mixin Atmosphere()
    section.atmosphere.container
        .atmosphere__primary.reveal-zoom
            h2.atmosphere__title CricketVerse: The Ultimate Fantasy Cricket Experience
                span.hidden mostbet
            p.atmosphere__subtitle CricketVerse offers an immersive experience for cricket fans looking to test their skills and strategies. Whether you're a beginner or a seasoned player, our platform helps you build the ultimate fantasy team and compete with the best:
        .atmosphere__img-left.reveal-left
            +Img({
                    src: 'img/student.jpeg',
                    alt: 'CricketVerse'
                })
        .atmosphere__secondary.reveal-zoom
            h3.atmosphere__title-sm Create Your Dream Team:
            p.atmosphere__subtitle Pick your favorite players from around the world and form a team that can lead you to victory in real-time matches.
            h3 Real-Time Scoring and Stats:
            p Stay updated with live scores and stats of your players. Track every performance closely and make sure your team is on top.
            h3 Strategic Gameplay:
            p Improve your fantasy cricket strategies and rise to the top of the leaderboards with every match.
        .atmosphere__img-right.reveal-right
            +Img({
                src: 'img/couple.jpeg',
                alt: 'CricketVerse'
            })