mixin Start()
    section.container.start
        .colored-bg
            
        div.reveal-right.colored
            p  Chicken Road is available across multiple platforms, ensuring a smooth and secure experience wherever you are. Designed for entertainment, this dynamic game brings excitement, strategy, and plenty of fun — right at your fingertips.
        div
            div.top.reveal-left
                h2 Play Chicken Road – Anytime, Anywhere!
                
            div.bottom.reveal-bottom
                p Getting started with Chicken Road is simple! We’ve made sure that players can easily access the game through our trusted network of Inout Games partners. Dive into the action and guide the brave chicken through thrilling challenges — all it takes is a few quick steps:
                ul
                    li 
                        p ✔ Choose one of our partner platforms (right here on this page);
                    li 
                        p ✔ Create your player account;
                    li 
                        p ✔ Head to the "Mini-Games" section;
                    li 
                        p ✔ Launch Chicken Road and start your adventure!
                +Link({
                    class: 'btn',
                    href: '#game',
                    text: 'Play the Chicken Road',
                }) 
        .tip 
            +Img({
                    src: 'img/lamp.jpeg',
                    alt: 'Tip'
                })
            p Tip: If you encounter any restrictions while accessing the game (especially while traveling), using a VPN can help you stay connected and keep the fun going.

            




