mixin M-dload()
    section.m-dload
        .container.m-dload__container
            h2 How to Download the App
            p Follow these simple steps to download CricketVerse and start playing fantasy cricket:
            div
                h3 For Android:
                ul 
                    li 1. Tap the "Download for Android" button.
                    li 2. Confirm the download of the .apk file when prompted.
                    li 3. Wait for the download to complete.
            div
                h3 For iOS:
                ul 
                    li 1. Open the App Store.
                    li 2. Search for "CricketVerse".
                    li 3. Tap "Download" and wait for the installation to finish.
            p 🎮 Now, install the app and start playing!