mixin Ideal-loft()
    section.ideal-loft.container
        h2.ideal-loft__title Como criar o interior perfeito no estilo loft?
        .ideal-loft__cards
            .ideal-loft__card
                p.ideal-loft__subtitle Comece com o básico — Use tons neutros, texturas rústicas e layouts abertos para definir o espaço.
                .ideal-loft__img
                    +Img({
                    src: 'img/loft-space-two.jpg',
                    alt: 'Comece com o básico'
                    })
            .ideal-loft__card
                p.ideal-loft__subtitle Adicione peças de destaque — Um grande relógio industrial, uma obra de arte abstrata ou móveis retrô tornarão o interior único.
                .ideal-loft__img
                    +Img({
                    src: 'img/loft-clock.jpg',
                    alt: 'Adicione peças de destaque'
                    })
            .ideal-loft__card
                p.ideal-loft__subtitle Brinque com a iluminação — Lâmpadas Edison, lustres metálicos e lâmpadas de chão geométricas podem criar uma atmosfera quente e estilosa.
                .ideal-loft__img
                    +Img({
                    src: 'img/loft-lamps.jpg',
                    alt: 'Brinque com a iluminação'
                    })
            .ideal-loft__card
                p.ideal-loft__subtitle Misture o antigo e o novo — Elementos vintage e modernos se complementam perfeitamente no estilo loft.
                .ideal-loft__img
                    +Img({
                    src: 'img/mirror-loft.jpg',
                    alt: 'Misture o antigo e o novo'
                    })