mixin Style()
    section.style
        .container.style__container
            h2.style__title Estilo exclusivo para sua casa
            ul.style__cards
                li.style__card Nossa coleção inclui itens de decoração exclusivos, cuidadosamente selecionados para criar um ambiente sofisticado e cheio de personalidade. Cada peça é um reflexo do design industrial elegante que define o estilo loft.
                li.style__card Trabalhamos com madeira, ferro, concreto e couro de alta qualidade para garantir durabilidade e beleza atemporal. Cada detalhe foi pensado para oferecer um toque especial ao seu espaço, mantendo a essência bruta e refinada do loft.
                li.style__card Colaboramos com talentosos designers para desenvolver peças que combinam estética e funcionalidade. Nossa missão é oferecer um design moderno e exclusivo, capaz de transformar qualquer ambiente em um espaço elegante e inspirador.
                li.style__card Sabemos que cada casa tem sua própria história. Por isso, nossas peças são pensadas para refletir seu estilo e complementar a essência do seu espaço, trazendo autenticidade e sofisticação para seu dia a dia.
                li.style__card Seja para um apartamento compacto ou um loft amplo, nossos itens se adaptam perfeitamente a qualquer tipo de ambiente. Combinamos design inteligente e proporções equilibradas para garantir um encaixe harmonioso em qualquer decoração.
                li.style__card Nosso objetivo é trazer aconchego e elegância ao seu lar sem perder a essência rústica do loft. Cada peça foi criada para oferecer não apenas beleza, mas também funcionalidade e conforto, tornando seu espaço verdadeiramente especial.