mixin Whyus()
    section.why-us(id='whyus')
        .container.why-us__container
            .why-us__col
                h2.title-sm Why choose us
                ul.why-us__list
                    li.why-us__list-item.title-sm Exclusive Properties <span class='subtitle'>access to the best premium-class real estate.</span>
                    li.why-us__list-item.title-sm Personalized Approach <span class='subtitle'>we select the perfect options tailored to your preferences.</span>
                    li.why-us__list-item.title-sm Full Support <span class='subtitle'>legal verification and secure transactions.</span>
                    li.why-us__list-item.title-sm Guaranteed Benefits <span class='subtitle'>favorable purchase conditions and discounts up to 30%.</span>
            .why-us__col.why-us__img
                +Img({
                        src: 'img/whyus.jpg',
                        alt: 'why choose us',
                    })