mixin Atmosphere()
    section.atmosphere.container
        .atmosphere__primary
            h2.atmosphere__title Decoração que cria atmosfera
            p.atmosphere__subtitle A decoração certa pode transformar completamente qualquer ambiente. Renove seu interior com nossos acessórios e móveis no estilo loft. Sua casa ganhará uma nova vida!
        .atmosphere__img-left
            +Img({
                src: 'img/loft-accessories.jpg',
                alt: 'Bye a gift',
            })
        .atmosphere__secondary
            h3.atmosphere__title-sm Iluminação que Define o Ambiente
            p.atmosphere__subtitle A luz certa pode transformar completamente a sensação de um espaço. Nossos lustres, luminárias de parede e pendentes industriais criam um jogo de luz e sombra que adiciona profundidade e aconchego ao seu interior. 
            p.atmosphere__subtitle Escolha a iluminação perfeita para dar personalidade ao seu ambiente!
        .atmosphere__img-right
            +Img({
                src: 'img/loft-lamps.jpg',
                alt: 'Bye a gift',
            })