mixin Services()
    section.container.services
        h2 On-Site Measurements and Installation
        p We offer professional on-site measurement services to ensure that your LED lighting fits perfectly within your space. Our team will visit your location, assess your lighting needs, and provide a tailored solution that meets your requirements.

        p We also handle the entire installation process, ensuring that your lights are set up efficiently and safely. From start to finish, we take care of everything to ensure a smooth and hassle-free experience.

        p Contact us today to schedule a visit and get an accurate estimate for your lighting project!

        +Link({
            class: 'btn services__btn',
            href: 'index.html#callback-form',
            text: 'Information',
        })