mixin Our-services()
    section.our-services
        .container
            h2.our-services__title Our Services
            p.our-services__subtitle At LumiTech, we offer a range of services designed to provide you with the best LED lighting solutions. Whether you're working on an industrial, commercial, or residential project, our team is here to help every step of the
            .our-services__container
                .our-services__item
                    h3 Lighting consultation
                    p We offer expert lighting consultation services to ensure that you select the right LED lighting for your space. Our specialists analyze your requirements and provide customized recomm

                .our-services__item
                    h3 On-Site measurements & design
                    p Our team provides on-site measurements to ensure accurate planning for the installation of LED lighting. We help you design lighting layouts that maximize

                .our-services__item
                    h3 Custom LED solutions
                    p No two projects are the same, which is why we offer custom LED lighting solutions tailored to your specific needs. Whether it’s for an industrial setup, a new office space, or a home renovation, we design and supply lighting systems that fit perfectly.

                .our-services__item
                    h3 Installation & maintenance
                    p We don’t just supply products; we ensure their proper installation and long-term performance. Our professional installation team guarantees a hassl

                .our-services__item
                    h3 Energy efficiency audits
                    p We provide energy efficiency audits to help you optimize your lighting systems and reduce energy costs. Our team will analyze your existing setup, recommend improvements, and help you implement energy-saving solutio.
            
            +Link({
                class: 'btn our-services__btn',
                href: 'services.html',
                text: 'Learn more',
            })