extends /sites/VirtualCricketLeague/layouts/base.pug

block variables
    - const title = 'Contact Us - VirtualCricketLeague'
    - const description = 'Need help or have questions? Reach out to us today! Our support team is ready to assist you with any inquiries related to your fantasy cricket experience. Whether you need guidance, technical support, or have feedback, we are here to ensure your journey with VirtualCricketLeague is smooth and enjoyable.'

block content
    +Header()

    main
        +Form()


    +Footer()