extends /sites/VirtualCricketLeague/layouts/base.pug

block variables
    - const title = 'Master Fantasy Cricket with VirtualCricketLeague – Create Teams, Join Tournaments & Win Big!'
    - const description = 'Dive into the exciting world of fantasy cricket with VirtualCricketLeague! Create your dream team, join thrilling tournaments, track your performance, and earn amazing rewards. Whether you are a beginner or a seasoned pro, our step-by-step guide helps you play, compete, and win. Register today and start your journey to victory!'

block content
    +Header()

    main

        +Htp-banner()

        +Guide()

        +Gallery()

        +Challenge()


    +Footer()