mixin Dload-banner()
    section
        +ParallaxBlock('img/dload-banner.jpeg', 'Your Fantasy Sports Journey Starts Here!', 'Download the app, draft your dream team, and dive into the ultimate world of fantasy cricket, football, basketball, and baseball — all in one place.')