mixin Cooperation()
    section.container.cooperation
        h2.cooperation__title How we work? 
        ul.cooperation__list
            li.cooperation__item 
                a(href='index.html#callback-form') Request – You leave a request, and we collect the necessary details to understand your needs.
            li.cooperation__item 
                a(href='index.html#callback-form') Consultation – We select the best solution based on your requirements and project scope.
            li.cooperation__item 
                a(href='index.html#callback-form') Production/Shipping – We manufacture high-quality LED lighting and handle timely delivery to your location.
            li.cooperation__item 
                a(href='index.html#callback-form') Installation and Support – Our expert team installs the lighting system and provides ongoing support if needed to ensure everything works perfectly.