.main-nav {
    background-color: #e6f8fd;
    &__container {
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 40px;
        row-gap: 25px;
        grid-template-areas:
            "title div"
            "btn div";
        h2 {
            grid-area: title;
        }
        > a {
            grid-area: btn;
        }
        > div {
            grid-area: div;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-between;
            > p {
                flex: 1;
            }
        }
    }
    @media (max-width: 525px) {
        &__container {
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas:
                "title"
                "div"
                "btn";
            > div {
                flex-direction: column;
            }
        }
    }
}
