.main-nav {
    background-color: #e6f8fd;
    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        h2 {
            width: 100%;
            text-align: center;
        }
        > div {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-between;

            > div {
                flex: 1;
                padding: 20px;
                color: #fff;
                text-align: center;
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
                transition: transform 0.3s ease;
                &:hover {
                    transform: translate(5px, -5px);
                }
                > p {
                    margin-top: 10px;
                }
            }
        }
        > p {
            width: 100%;
            text-align: center;
        }
    }

    .btn {
        margin: 10px auto 0;
    }
    @media (max-width: 525px) {
        &__container {
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas:
                "title"
                "div"
                "btn";
            > div {
                flex-direction: column;
            }
        }
    }
}
