mixin Keydata()
    section.keydata
        .container.reveal-zoom
            h1 Pure Entertainment – A Game Focused on Fun
            p Funtower is designed for one purpose: pure entertainment. There’s no complicated storyline or overwhelming mechanics—just you, the tower, and the thrill of the climb. It’s a straightforward but endlessly engaging experience that’s perfect for unwinding after a long day or challenging yourself during a gaming session. 
            p The focus is on fun, with gameplay that keeps you entertained without stress or pressure. Whether you’re aiming for personal bests or just playing for the joy of it, Funtower offers a relaxing, exciting escape from the everyday.
            +Link({
                class: 'btn',
                href: '/#game',
                text: 'Play',
            })
        