.keydata {
    margin-top: 300px;
    background-color: #f3f3f3;
    h2 {
        text-align: center;
    }
    p {
        margin: 20px 0;
        text-align: center;
    }
    .btn {
        margin: 30px auto 0;
    }
}
