mixin Dload-security()
    section.dload-security
        .container.dload-security__container
            h2 Security & Reliability
            .img
                +Img({
                    src: '/img/security.jpeg',
                    alt: 'Security & Reliability'
                })
            div
                div
                    h3 Data Protection
                    p  – Your personal information is securely stored.
                div
                    h3 Transparent Rules
                    p  – Clear guidelines with no hidden mechanics.
                div
                    h3 Dedicated Support Team 
                    p – Our team is always ready to assist you.
            
            