mixin Delivery()
    section
        .help-and-support.container
            h1 Need Assistance? We&apos;re Here to Help!
            p If you have any questions or need guidance, you&apos;ve come to the right place! Explore our FAQs or contact our support team for personalized help and advice.
  
        .delivery
            .container.delivery__container
                h2 How We Handle Our Courses
                p We strive to make your learning experience seamless. For inquiries about our courses, feel free to reach out to us directly.
        
                div.card
                    p.card-text.visible-text Course Options
                    p.card-text.hidden-text We offer a range of online English courses designed to fit your goals. Whether you&apos;re learning for work, travel, or personal growth, we have the right course for you.
        
                div.card
                    p.card-text.visible-text Course Scheduling
                    p.card-text.hidden-text Our courses are available online, so you can learn at your own pace, whenever it suits you best. Get in touch for specific course schedules and availability.
        
                div.card
                    p.card-text.visible-text Course Costs
                    p.card-text.hidden-text Course pricing depends on the type of course and duration. To find out more about the costs, we encourage you to contact our team.
        
                div.card
                    p.card-text.visible-text Customer Support
                    p.card-text.hidden-text If you need assistance with anything related to our courses, our support team is here for you. Get in touch for guidance and support throughout your learning journey.
 
