mixin Reviews()
    section.reviews.container
        h2.reval-zoom Versatile Courses for Different Goals
            span.hidden mostbet
        p.reval-zoom We understand that each student has their own goals and motivation for learning the language. That’s why we offer several types of courses:
        ul.reviews__list
            li.reviews__item.reveal-right
                div
                    p Courses that help you master basic English for communication in various countries.
                    h3 For Travelers
                .reviews__item-bg
            li.reviews__item.reveal-zoom
                div
                    p Courses that help improve your language skills for working in international companies or successfully pass    ing job interviews.
                    h3 For Careers
                .reviews__item-bg
            li.reviews__item.reveal-left
                div
                    p Programs specifically designed to prepare for international exams such as TOEFL, IELTS, and TOEIC.
                    h3 For Exams
                .reviews__item-bg
        //- p We appreciate every customer and strive to make shopping as easy as possible!
