include /sites/LinguaSphere1/components/header/index
include /sites/LinguaSphere1/components/footer/index
include /sites/LinguaSphere1/components/burger/index

include /sites/LinguaSphere1/components/banner/index
include /sites/LinguaSphere1/components/categories-main/index
include /sites/LinguaSphere1/components/welcome-block/index
include /sites/LinguaSphere1/components/customer-favorites/index
include /sites/LinguaSphere1/components/advantages/index
include /sites/LinguaSphere1/components/reviews/index
include /sites/LinguaSphere1/components/arrivals-main/index
include /sites/LinguaSphere1/components/tricks/index
include /sites/LinguaSphere1/components/form/index


include /sites/LinguaSphere1/components/catalog-block/index
include /sites/LinguaSphere1/components/limited/index
include /sites/LinguaSphere1/components/arrivals/index
include /sites/LinguaSphere1/components/ideas/index

include /sites/LinguaSphere1/components/faq/index
include /sites/LinguaSphere1/components/materials/index
include /sites/LinguaSphere1/components/tips/index
include /sites/LinguaSphere1/components/care/index
include /sites/LinguaSphere1/components/contact/index
include /sites/LinguaSphere1/components/delivery/index