mixin Limited-collection()
    section.limited-collection.container
        h2.limited-collection__title Coleções limitadas para verdadeiros apreciadores
        p.limited-collection__subtitle Nossos itens de decoração estão disponíveis em edições limitadas, garantindo sua exclusividade. Ao escolher nossos produtos, você obtém não apenas decoração, mas uma peça de design exclusiva que não pode ser encontrada em nenhum outro lugar. 
        p.limited-collection__subtitle Acreditamos que cada detalhe importa, e nosso objetivo é ajudá-lo a criar um espaço que inspire e encante todos os dias. 
        +Link({
            class: 'btn limited-collection__btn',
            href: 'index.html#form',
            text: 'Detalhes',
        })