mixin Tutorial-guide()
    section.tutorial-guide

        .container.tutorial-guide__container
            h2 HoopsDynasty – Fantasy Basketball Guide
            div
                h3 Step-by-Step Guides for Beginners
                p To dominate in HoopsDynasty, follow these essential steps:
                ul 
                    li Build your team around a top-tier point guard who excels at distributing the ball and setting the tempo.
                    li Select powerful centers who can control the paint, grabbing rebounds and blocking shots.
                    li Don’t forget to draft sharpshooters who can knock down three-pointers consistently.
                    li Balance your roster with reliable role players who contribute every game, not just stars.
            .border    
        .container.tutorial-guide__container
            h3 Strategies to Boost Your Game
            p Maximize your team’s potential with these tactics:
            ul
                li Target players with dual position eligibility to add versatility to your lineup.
                li Monitor the schedule for matchups with high scoring potential—certain weeks will yield more fantasy points.
                li Opt for players who have high efficiency in free throws, as they can add important points to your total.
            .border
        .container.tutorial-guide__container
                h3 Pro Tips from Top Players
                p Get the best tips from seasoned pros to stay ahead of the game:
                ul
                    li Stay cautious of injury-prone players—focus on consistency and avoid risky picks.
                    li Make timely trades to address team weaknesses—don’t let underperforming players drag you down.
                    li Stick to steady performers—guys who give you reliable points every week are more valuable than streaky players.
            
