mixin Combination()
    section.combination
        .container.combination__container
            h2.combination__title Como Combinar Materiais e Cores para um Interior Perfeito?
            .combination__col
                .combination__circle(style='background-color: #4b4b4d; color: #fff') 
                    p.title-sm Metal + Madeira
                p  – uma combinação clássica para o estilo loft. Superfícies de madeira suave equilibram o metal frio, criando um ambiente que mistura aconchego e industrialismo.
            .combination__col
                .combination__circle(style='background-color: #b2b2b2;') 
                    p.title-sm Concreto + Tecido 
                p  – a textura áspera do concreto combina perfeitamente com tecidos suaves: cortinas de linho, almofadas de algodão ou móveis de couro tornam o ambiente mais acolhedor.
            .combination__col
                .combination__circle(style='background-color: #ffcc00;') 
                    p.title-sm Tons Escuros + Acentos
                p  – cinza, grafite, preto e marrom são cores base para o loft. Adicione acentos em cobre, bronze ou verdes e azuis profundos para dar um toque de personalidade.
            .combination__col
                .combination__circle(style='background-color: #e6f2f7;') 
                    p.title-sm Vidro + Metal
                p  – divisórias de vidro, tampos de mesa em vidro e elementos metálicos trazem leveza e ajudam a manter a sensação de espaço amplo.
            .combination__col
                .combination__circle(style='background-color: #6a4e23; color: #fff') 
                    p.title-sm Mistura de Antigo e Novo
                p  – elementos vintage (relógios, letreiros, lâmpadas retrô) combinados com peças modernas e minimalistas criam um contraste harmônico e uma identidade única.