.banner {
    background-color: #e5e5e5;
    &__container {
        position: relative;
        z-index: 2;
        min-height: 800px;
        display: flex;
    }
    &__bg {
        background-color: #fff;
        max-width: 300px;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 50px;
        z-index: -1;
    }
    &__img {
        max-width: 900px;
        width: 100%;
        margin: auto;
        overflow: hidden;
        max-height: 600px;
    }
    &__title {
        background-color: #fff;
        padding: 30px;
        position: absolute;
        left: 0;
        bottom: 0;
        max-width: 570px;
        width: 100%;
        h1 {
            margin-bottom: 20px;
        }
    }
    @media (max-width: 767px) {
        &__container {
            flex-direction: column;
        }
        &__title {
            position: relative;
            max-width: 100%;
        }
        &__bg {
            display: none;
        }
    }
}
