mixin Banner()  
    section.banner
        .container.banner__container
            .banner__img
                img(src='/src/sites/LinguaSphere/img/dictionary.jpeg' alt='LinguaSphere')
            .banner__bg
            .banner__title
                h1 LinguaSphere - smartly space!
                p Ready to master English from the comfort of your home? At LinguaSphere, we offer online English courses tailored to your learning pace. Our courses are designed to build your confidence, improve your language skills, and provide the flexibility to learn whenever and wherever you choose.
                    +Link({
                        class: 'btn banner__btn',
                        href: 'catalog.html',
                        text: 'Browse courses',
                    })