mixin Tutorial-nav()
    section.tutorial-nav
        .img
            a(href='#totalstriker')
                +Img({
                    src: 'img/football.jpeg',
                    alt: 'Football',
                })
        .img
            a(href='#cricketclash')
                +Img({
                    src: 'img/cricket.jpeg',
                    alt: 'Cricket',
                })
        .img
            a(href='#hoopsdynasty')
                +Img({
                    src: 'img/basketball.jpeg',
                    alt: 'Basketball',
                })
        .img
            a(href='#homerunheroes')
                +Img({
                    src: 'img/baseball.jpeg',
                    alt: 'B aseball',
                })