mixin Tutorial-nav()
    section.tutorial-nav
        .img
            
            +Img({
                src: '/img/football.jpeg',
                alt: 'Football',
            })
        .img
            
            +Img({
                src: '/img/cricket.jpeg',
                alt: 'Cricket',
            })
        .img
            
            +Img({
                src: '/img/basketball.jpeg',
                alt: 'Basketball',
            })
        .img
            
            +Img({
                src: '/img/baseball.jpeg',
                alt: 'B aseball',
            })