// general
include /sites/TEMPLATE/components/header/index
include /sites/TEMPLATE/components/footer/index
include /sites/TEMPLATE/components/burger/index
// ts
include /components/parallax/index

// main
include /sites/TEMPLATE/components/banner/index
include /sites/TEMPLATE/components/game-intro/index
include /sites/TEMPLATE/components/advantages/index
include /sites/TEMPLATE/components/main-htp/index
include /sites/TEMPLATE/components/top-players/index
include /components/table/index

include /sites/TEMPLATE/components/welcome-block/index

include /sites/TEMPLATE/components/reviews/index
include /sites/TEMPLATE/components/arrivals-main/index
include /sites/TEMPLATE/components/tricks/index
include /sites/TEMPLATE/components/form/index


include /sites/TEMPLATE/components/catalog-block/index
include /sites/TEMPLATE/components/limited/index
include /sites/TEMPLATE/components/arrivals/index
include /sites/TEMPLATE/components/ideas/index

include /sites/TEMPLATE/components/faq/index
include /sites/TEMPLATE/components/materials/index
include /sites/TEMPLATE/components/tips/index
include /sites/TEMPLATE/components/care/index
include /sites/TEMPLATE/components/contact/index
include /sites/TEMPLATE/components/delivery/index