mixin Reviews()
    section.reviews.container.reveal-bottom.active
        h2 Отзывы игроков
        p Пример отзыва: "Я выиграл 2000 монет за одну игру, это было невероятно! — Алексей, Екатеринбург." Также можно включить отзывы игроков о том, как игра помогает им развлекаться или как они оценивают её простоту.
        ul.reviews__list
            li.reviews__item
                p I&rsquo;ve improved my English so much! The lessons are interactive and enjoyable.
                h3 Ananya
                .reviews__item-bg
            li.reviews__item
                p The Business English course really helped me communicate better at work.
                h3 Raj
                .reviews__item-bg
            li.reviews__item
                p I love how flexible the courses are &ndash; I can learn at my own pace.
                h3 Sandeep
                .reviews__item-bg
        p We value every student and strive to make your learning experience as smooth and rewarding as possible!
    
