mixin Disclaimer-modal()
    div(id="modal" class="modal")
      div(class="modal-content")
        h2 Disclaimer
        p This game is intended for entertainment purposes only and does not offer real-money gambling or any opportunity to win real prizes or cash. The game is strictly for players aged 18 and above.

        p Playing this game does not guarantee future success in real-money gambling. All in-game purchases are for virtual items and do not hold any real-world monetary value.

        p This game complies with Social Casino regulations and is designed purely for fun and skill-based engagement. No real-money transactions, withdrawals, or betting features are available.

        p By continuing to play, you acknowledge that this game is a simulated social casino experience with no connection to actual gambling activities.
        button(id="confirm-btn") Confirm