mixin Dload-how()
    section.container.dload-how
        h1 Download CricketVerse 
            span - Test Your Cricket Strategy
        p CricketVerse is a skill-based fantasy cricket experience designed for players aged 18 and above. Build a team of real players, analyze matchups, and compete in tournaments to prove your cricket expertise.

        h2 How to Download CricketVerse?
        div
            h3 For Android Users:
            ul
                li <span>1.</span> Open the Google Play Store on your device.
                li <span>2.</span> Search for "CricketVerse – Fantasy Cricket".
                li <span>3.</span> Tap Install and wait for the app to download.
                li <span>4.</span> Open the app and start building your team!
        
        div
            h3 For iOS Users:
            ul
                li <span>1.</span> Open the App Store on your iPhone or iPad.
                li <span>2.</span> Search for "CricketVerse – Fantasy Cricket".
                li <span>3.</span> Tap Get, authenticate if required, and install the app.
                li <span>4.</span> Launch the app and start playing.
        
        div
            h3 Direct APK Download (Android Only):
            ul
                li <span>1.</span> Visit our official website and go to the Download section.
                li <span>2.</span> Click on "Download APK".
                li <span>3.</span> Once downloaded, open the file and enable "Install from Unknown Sources" in your settings if prompted.
                li <span>4.</span> Install the app and enjoy CricketVerse!
        
