@use "@/components/global";
@use "@/components/slider";
@use "@/components/banner-img-bg";
@use "@/sites/CricketSquad/components/fonts";
// @use "@/components/button/FantasyCricketZone";

@use "@/sites/CricketSquad/components/components" as components;

.container {
    max-width: 1160px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    @media (max-width: 1199px) {
        max-width: 970px;
    }

    @media (max-width: 991px) {
        max-width: 100%;
    }
    @media (max-width: 767px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (max-width: 575px) {
    }
}
html,
body {
    font-family: "Roboto", serif;
    overflow-x: hidden;
}
main {
    padding-top: 80px;
    overflow: hidden;
    @media (max-width: 767px) {
        padding-top: 70px;
    }
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Exo_2", serif;
}
h1 {
    font-size: clamp(1.75rem, 5vw, 3.5rem);
} // 32px–56px
h2 {
    font-size: clamp(1.25rem, 4vw, 2.5rem);
    margin-bottom: 30px;
    text-align: center;
    @media (max-width: 767px) {
        margin-bottom: 10px;
    }
} // 28px–40px
h3 {
    // font-size: clamp(1.5rem, 3vw, 2rem);
    font-size: clamp(1.125rem, 2vw, 1.5rem);
} // 24px–32px
.small {
    font-size: clamp(0.875rem, 1.5vw, 1rem);
} // 14px–16px
p,
li {
    font-size: clamp(1rem, 2vw, 1.25rem);
} // 16px–20px
// link
a {
    font-size: clamp(1rem, 2vw, 1.25rem);
    transition: text-decoration 0.3s ease;
    &:hover {
        text-decoration: underline;
    }
}

// button
.btn {
    display: block;
    color: #fff;
    cursor: pointer;
    padding: 20px 47px;
    border-radius: 30px;
    max-width: max-content;
    background-color: #3a7f76;
    font-size: clamp(1rem, 2vw, 1.25rem);
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    text-decoration: none !important;
    @media (max-width: 767px) {
        padding: 10px 14px;
    }
}
.btn:not(.form__btn) {
    animation: pulse 1.5s infinite;
    &:hover {
        background-color: #fff;
        color: #3a7f76;
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes move {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

// PADDING
.cricketsquad,
.cricketsquad__features,
.cricketleague__benefits,
.cricketsquad__reviews,
.cricketsquad__how-play,
.cricketsquad__guide,
.cricketleague__challenge,
.cricketsquad__table,
.cricketsquad__score,
.contacts__container,
.terms-conditions,
.privacy-policy,
.cookies-policy {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width: 767px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
// FLEX-CONTAINER
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

// shadow
.shadow-box {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
// zoom
.zoom-box {
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}
// image
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.privacy-policy,
.terms-conditions,
.cookies-policy,
.thanks {
    h2 {
        margin: 20px 0;
    }
    p,
    ul {
        margin: 10px 0;
    }
}
.thanks {
    background-color: #e5e5e5;
    padding: 40px;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 40px;
    &__btn {
        margin: 30px auto 0;
    }
    @media (max-width: 767px) {
        margin-top: 0;
    }
}
.terms-conditions,
.privacy-policy,
.cookies-policy {
    h2 {
        text-align: left;
    }
}
