mixin Ideas()   
    section.container.ideas.reveal-zoom
        h2 New Ideas for Your Space
        p Looking for fresh ways to organize your home? Our latest collection brings innovative storage solutions to help you declutter and maximize space with style. Whether you're looking to optimize your kitchen, create a tidy home office, or organize your living room, our products offer practical and stylish options.

        p From stackable bins to versatile shelving units, these new ideas are designed to fit seamlessly into any space. Get inspired by creative designs that combine functionality with elegance. Explore how our storage solutions can transform your home into a well-organized haven.

        p Start your journey to a more organized space today with our latest arrivals!
        +Link({
            class: 'btn ideas__btn',
            href: 'index.html#form',
            text: 'Buy',
        })