extends /sites/New_v9_LoftStyle/layouts/base.pug

block variables
    - const title = 'Política de Privacidade - LoftStyle'
    - const description = 'A sua privacidade é nossa prioridade. Leia nossa Política de Privacidade para entender como coletamos, usamos e protegemos seus dados pessoais de acordo com as leis aplicáveis, incluindo o GDPR e a CCPA.'

block content
    +Header()

    main
        section.container.privacy-policy 
            h1.title Política de privacidade
            div
                p.subtitle Na LoftStyle, a sua privacidade é uma prioridade para nós. Comprometemo-nos a proteger as informações pessoais que você nos fornece e a garantir transparência no processo de coleta e uso dos dados, bem como a conformidade com as leis aplicáveis. Esta Política de Privacidade explica como coletamos, usamos e protegemos seus dados pessoais.
            div
                h3.title-sm Conformidade e proteção de dados    
                p.subtitle Na LoftStyle, comprometemo-nos a cumprir todas as leis e regulamentos aplicáveis, incluindo o Regulamento Geral de Proteção de Dados (GDPR) e a Lei de Privacidade do Consumidor da Califórnia (CCPA). Damos grande importância à proteção de seus dados e à privacidade, aplicando medidas de segurança padrão para proteger suas informações pessoais.
            div
                h3.title-sm Coleta e uso de dados
                p.subtitle Coletamos, armazenamos e processamos dados pessoais de acordo com os requisitos legais e padrões éticos. Nossas práticas de manuseio de dados são revisadas regularmente para garantir conformidade com os regulamentos em evolução e as melhores práticas da indústria. Os dados coletados são usados para melhorar nossos serviços e fornecer uma experiência mais personalizada aos usuários.
            div
                h3.title-sm Transparência e responsabilidade
                p.subtitle A transparência está no centro de nossas operações. Explicamos claramente como seus dados são coletados, usados e armazenados. Nossa política reflete nossos esforços contínuos para manter a conformidade e a responsabilidade no manuseio de dados.
            div
                h3.title-sm Direitos e opções dos usuários
                p.subtitle Como parte do nosso compromisso com a conformidade, respeitamos seus direitos de acessar, atualizar e excluir suas informações pessoais. Você pode solicitar alterações ou remoções de dados entrando em contato conosco pelo e-mail 
                    a(href='mailto:loftstyle@gmail.com') loftstyle@gmail.com 
            div
                h3.title-sm Como protegemos seus dados
                p.subtitle Implementamos medidas rigorosas de segurança para proteger seus dados pessoais contra acesso não autorizado, uso ou divulgação. Nossa plataforma é constantemente atualizada para garantir a máxima proteção de seus dados.
            div
                h3.title-sm Alterações nesta política de privacidade
                p.subtitle Reservamo-nos o direito de atualizar periodicamente esta Política de Privacidade. Quando mudanças significativas forem feitas, notificaremos nossos usuários por meio de notificações no site ou por e-mail. Recomendamos que você verifique regularmente esta página para se manter atualizado sobre como protegemos seus dados.
                p.subtitle Se você tiver dúvidas ou comentários sobre nossa Política de Privacidade, entre em contato conosco diretamente pelo e-mail 
                    a(href='mailto:loftstyle@gmail.com') loftstyle@gmail.com 
    
    
    
    +Footer()