mixin Why-work()
    section.container.why-work
        h2 Why Work with Us?
            span.hidden mostbet
        p 
        div.reveal-left
            +Img({
                src: 'img/teacher2.jpeg',
                alt: 'LinguaSphere'
            })
        div.reveal-zoom
            p  At LinguaSphere, we value our teachers and provide them with the best working conditions. We offer a flexible schedule, competitive compensation, and the opportunity to work with students from all over the world.
        div.reveal-right
        
            +Img({
                src: 'img/woman.jpeg',
                alt: 'LinguaSphere'
            })
        div.reveal-right
            p Being part of our team is not just about teaching, but also being a part of an international educational community that strives for continuous growth and improvement.
        div.reveal-zoom
        
            +Img({
                src: 'img/teacher.jpeg',
                alt: 'LinguaSphere'
            })
        div.reveal-left
            ul
                li ✔  Flexible Schedule: Work according to a schedule that suits you.
                li ✔  Training and Support: We provide our teachers with all the necessary resources and training.
                li ✔  Competitive Pay: We have a transparent pay system with bonuses for good performance.