mixin Faq()
    section.faq
        .container
            h2 FAQs (Frequently Asked Questions)
            .accordion
                .accordion-item
                    button.accordion-header
                        p What is PokerProTour?
                    .accordion-content
                        p PokerProTour is a premier destination for poker tournament enthusiasts. Get insights into events, player stats, and game strategies.
                .accordion-item
                    button.accordion-header
                        p How can I join a tournament?
                    .accordion-content
                        p Participating is easy! Simply check our tournament schedule, follow the registration process, and get ready to play.
                .accordion-item
                    button.accordion-header
                        p What types of poker tournaments are available?
                    .accordion-content
                        p PokerProTour features various tournament formats, from classic Texas Hold’em to other exciting variations.
                .accordion-item
                    button.accordion-header
                        p How can I improve my poker skills?
                    .accordion-content
                        p Explore our expert guides, player insights, and strategy tips to sharpen your poker skills and enhance your game.
                .accordion-item
                    button.accordion-header
                        p Where can I find tournament schedules?
                    .accordion-content
                        p Our website provides an up-to-date schedule of upcoming tournaments, complete with details on formats and participation.
                .accordion-item
                    button.accordion-header
                        p Who can participate in PokerProTour events?
                    .accordion-content
                        p Our tournaments are open to players who meet the event requirements. Check the specific details of each tournament to see if you're eligible.
