mixin Main-services()
    section.container.main-services
        div.main-services__img.reveal-left
            +Img({
                src: 'img/person.jpeg',
                alt: 'Online Learning'
            })
        

        div.main-services__head.reveal-right
            h2 Benefits of Online Learning
            p The online learning format at LinguaSphere offers convenience and flexibility, allowing you to study from anywhere, anytime. Here’s what you get with us:

        div.main-services__body.reveal-right
            h3 Course accessibility.
                span 1
            p Study materials are available 24/7, so you can learn whenever it suits you.
            h3 Flexible scheduling.
                span 2
            p No need to follow rigid timetables—you decide when and how much time to dedicate to learning.
            h3 Remote interaction with instructors.
                span 2
            p Receive instant feedback from teachers and improve your skills in a comfortable environment. 
            p With us, education becomes accessible and convenient for everyone, even those living in the most remote areas.
            +Link({
                class: 'btn',
                href: 'index.html#form',
                text: 'Join to LinguaSphere',
            })
         
        