// general
include /sites/PokerProTour/components/header/index
include /sites/PokerProTour/components/footer/index
include /sites/PokerProTour/components/btn-up/index
include /components/parallax/index
include /components/burger/index

// main
include /sites/PokerProTour/components/main-banner/index
include /sites/PokerProTour/components/main-slider/index
include /sites/PokerProTour/components/advantages/index
include /sites/PokerProTour/components/overview/index
include /sites/PokerProTour/components/counter/index
include /sites/PokerProTour/components/easy/index
include /sites/PokerProTour/components/inner-banner/index
include /sites/PokerProTour/components/benefits/index
include /sites/PokerProTour/components/map/index
include /sites/PokerProTour/components/disclaimer-modal/index

// about
include /sites/PokerProTour/components/about-banner/index
include /sites/PokerProTour/components/about-benefits/index
include /sites/PokerProTour/components/about-us/index
include /sites/PokerProTour/components/app-services/index

// download
include /sites/PokerProTour/components/dload-banner/index
include /sites/PokerProTour/components/features/index
include /sites/PokerProTour/components/interface/index
include /sites/PokerProTour/components/install/index

// support
include /sites/PokerProTour/components/support-banner/index
include /sites/PokerProTour/components/form/index
include /sites/PokerProTour/components/faq/index
include /components/map-iframe/index

    