.arrivals {
    position: relative;
    padding-bottom: 50px;
    h2 {
        margin-bottom: 30px;
        padding-top: 20px;
        width: 100%;
    }
    &-bg {
        position: absolute;
        display: block;
        right: 0;
        top: 50px;
        background-color: #e3e3e3;
        width: 60%;
        bottom: 50px;
        z-index: -1;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    &__text {
        width: 100%;
        max-width: 24%;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    }
    &__text {
        background-color: #fff;
        padding: 20px;
    }
    @media (max-width: 767px) {
        h2 {
            padding-top: 0;
        }
        &__text {
            max-width: 49%;
        }
    }
    @media (max-width: 525px) {
        &__text {
            max-width: 100%;
        }
    }
}
