mixin House()
    section.house.container
        h2.house__title Transforme sua Casa com LoftStyle
        p.house__subtitle Dê uma nova vida ao seu lar com LoftStyle! Oferecemos uma ampla seleção de decoração perfeita para criar um loft aconchegante e estiloso. Renove seu espaço e desfrute de um novo nível de conforto. 
        .house__imgs
            +Img({
                    src: 'img/leather-loft-pillow.jpg',
                    alt: 'leather loft pillow',
                    class: 'house-one'
                })
            +Img({
                    src: 'img/mirror-loft.jpg',
                    alt: 'mirror in metal frame loft',
                    class: 'house-two'
                })
            +Img({
                    src: 'img/loft-staircase.jpg',
                    alt: 'wooden loft staircase',
                    class: 'house-three'
                })
            +Img({
                    src: 'img/loft-clock.jpg',
                    alt: 'vintage loft clock',
                    class: 'house-four'
                })
        .house__items
            .house__item
                h3.house-title-sm Têxteis em Estilo Industrial
                p.house-subtitle Adicione aconchego ao ambiente com tecidos de linho rústico, almofadas de couro e mantas com efeito envelhecido. Materiais naturais e tons neutros realçam a essência do estilo loft.
            .house__item
                h3.house-title-sm Espelhos com Molduras Metálicas
                p.house-subtitle Espelhos ajudam a ampliar visualmente o espaço e dão profundidade ao ambiente. Modelos com molduras de ferro forjado ou metal envelhecido são ideais para complementar a decoração industrial.
            .house__item
                h3.house-title-sm Escadas Decorativas e Cabideiros
                p.house-subtitle Escadas de metal ou madeira podem ser usadas como prateleiras ou suportes para objetos, trazendo estilo e funcionalidade. Cabideiros de parede com elementos de tubos industriais adicionam um charme urbano ao ambiente.
            .house__item
                h3.house-title-sm Decoração Artesanal Exclusiva
                p.house-subtitle Peças únicas feitas à mão trazem personalidade ao seu espaço. Relógios vintage, luminárias em estilo steampunk e esculturas de concreto são detalhes que tornam o ambiente verdadeiramente especial.