mixin Map()
    section.map 
        .container.map__container
            h2.reveal-left Play Anywhere — Check Your State!
            .img.reveal-zoom
                +Img({
                    src: 'img/map.jpeg',
                    alt: 'Map'
                })
            div.reveal-right
                
                p Our platform unites fantasy sports fans across India where playing is allowed. Team up with friends, plan your strategies, and enjoy the game where it’s permitted.
                p ⚠️ Note: Playing is not allowed in Andhra Pradesh, Assam, Nagaland, Odisha, Sikkim, and Telangana.