mixin Arrivals()
    section.arrivals.reveal-zoom  
        .arrivals-bg 
        .container.arrivals__container
            h2 New arrivals
            div
                .arrivals__img
                    +Img({
                        src: 'img/bins-1.jpg',
                        alt: 'Foldable fabric bins',
                    })
                .arrivals__text
                    p Discover the latest additions to our collection! Our new arrivals feature innovative storage solutions designed to help you keep your space organized in style.

        
                .arrivals__img
                    +Img({
                        src: 'img/organizers-2.jpg',
                        alt: 'Multi-tier drawer organizers',
                    })
                .arrivals__text
                    p Check out our newest designs, carefully crafted with premium materials for durability and functionality. Stay ahead of the trends and upgrade your home organization with our brand-new arrivals.

