mixin M-install()
    section.m-install.container
        h2 Install CricketVerse
        div.reveal-zoom
            p Follow these steps to install CricketVerse on your device🔹 After downloading, complete the installation:
            ul
                li 
                    h3 For Android (.apk file):
                    p 1. Open the downloaded .apk file (found in the "Downloads" folder).
                    p 2. If a security warning appears, go to Settings → Security and enable "Allow installation from unknown sources."
                    p 3. Confirm the installation and wait for it to finish.
                    p 4. Once installed, tap "Open" and start playing!
                li 
                    h3 For iOS:
                    p The installation happens automatically through the App Store, no extra steps needed.

            p 🎉 That’s it! Enjoy fantasy cricket anytime, anywhere!
        +Img({
            src: 'img/team3.jpeg',
            alt: 'How to Install the App'
        })