mixin Support-banner()
    section.support-banner
        .container.support-banner__container
            h1 Get in Touch with Our Support Team
            p We’re here to assist you with any questions or issues you may have. Reach out to our support team, and we'll ensure you get the help you need.
            div 
                h3 Contact Information:

                p 📧 Email: contact@fantasyhub.com
                p 📞 Phone: +91 8347 250 619
            div
                h3 Working Hours:

                p Monday to Friday: 9:00 AM – 6:00 PM (GMT)
                p Saturday: 10:00 AM – 4:00 PM (GMT)
                p Sunday: Closed
            p Feel free to contact us anytime during our working hours, and we’ll get back to you as soon as possible!