// general
include /sites/FantasyHub/components/header/index
include /sites/FantasyHub/components/footer/index
include /sites/FantasyHub/components/burger/index
include /sites/FantasyHub/components/disclaimer-modal/index
// ts
include /components/parallax/index


include /components/dev-land/index

// main
include /sites/FantasyHub/components/banner/index
include /sites/FantasyHub/components/game-slider/index
include /sites/FantasyHub/components/map/index
include /sites/FantasyHub/components/overview/index
include /sites/FantasyHub/components/advantages/index
include /sites/FantasyHub/components/counter/index
include /sites/FantasyHub/components/inspiring/index
include /sites/FantasyHub/components/benefits/index
include /sites/FantasyHub/components/reviews/index

//download
include /sites/FantasyHub/components/dload-banner/index
include /sites/FantasyHub/components/features/index
include /sites/FantasyHub/components/interface/index
include /sites/FantasyHub/components/install/index

// tutorial
include /sites/FantasyHub/components/tutorial-banner/index
include /sites/FantasyHub/components/tutorial-nav/index
include /sites/FantasyHub/components/tutorial-guide/index

// support
include /sites/FantasyHub/components/form/index
include /sites/FantasyHub/components/faq/index
include /sites/FantasyHub/components/support-banner/index

// rules
include /sites/FantasyHub/components/rules-banner/index
include /sites/FantasyHub/components/rules-player-scoring/index
include /sites/FantasyHub/components/rules-team-creation/index
include /sites/FantasyHub/components/rules-competitions/index
include /sites/FantasyHub/components/rules-team-management/index






