include /sites/CricketSquad/components/header/index
include /sites/CricketSquad/components/footer/index
include /sites/CricketSquad/components/burger/index

include /sites/CricketSquad/components/banner/index
include /sites/CricketSquad/components/features/index
include /sites/CricketSquad/components/benefits/index
include /sites/CricketSquad/components/reviews/index

include /sites/CricketSquad/components/htp-banner/index
include /sites/CricketSquad/components/guide/index
include /sites/CricketSquad/components/challenge/index
include /sites/CricketSquad/components/table/index
include /sites/CricketSquad/components/table-content/index
include /sites/CricketSquad/components/balls-banner/index

include /sites/CricketSquad/components/form/index
include /sites/CricketSquad/components/gallery/index