@font-face {
    font-family: "Roboto";
    src: url("@/sites/CricketSquad/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf")
        format("truetype");
    font-weight: 100 1000;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("@/sites/CricketSquad/fonts/Roboto/Roboto_Condensed-Regular.ttf")
        format("truetype");
    font-weight: 100 1000;
    font-style: normal;
}

@font-face {
    font-family: "Exo_2";
    src: url("@/sites/CricketSquad/fonts/Exo_2/Exo2-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 1000;
    font-style: normal;
}
