mixin Disclaimer-modal()
    div(id="modal" class="modal")
      div(class="modal-content")
        //- span(class="close-btn" id="close-btn") &times;
        h2 Disclaimer
        p Fantasy sports are considered a game of skill and are legal in most parts of India. By participating, you confirm that you are at least 18 years old and not a resident of Andhra Pradesh, Assam, Nagaland, Odisha, Sikkim, or Telangana, where fantasy sports are prohibited.
        button(id="confirm-btn") Confirm