mixin Catalog()
    section.catalog.container
        h1 Catalog

        .catalog__item.grid-xl 
            .catalog__item_text
                h3 Industrial lighting
                p LED floodlights and high-mast lights provide bright and uniform illumination in warehouses, factories, and industrial facilities. They enhance safety and efficiency while reducing energy consumption.
            .catalog__img
                +Img({
                    src: 'img/industrial-lighting-1.jpg',
                    alt: 'LoftStyle',
                })
                span LED high-bay lights – from $120 per unit
            .catalog__img
                +Img({
                    src: 'img/industrial-lighting-2.jpg',
                    alt: 'LoftStyle',
                })
                span LED $90 per unit
            .catalog__img
                +Img({
                    src: 'img/industrial-lighting-3.jpg',
                    alt: 'LoftStyle',
                })
                span Write to learn more

    section.catalog.container
        .catalog__item.grid-sm
            .catalog__item_text
                h3 Street lighting
                p They are durable, energy-efficient, and resistant to various weather conditions.
            .catalog__img
                +Img({
                    src: 'img/street-lighting-1.jpg',
                    alt: 'LoftStyle',
                })
                span LED streetlights – from $150 per unit
            .catalog__img
                +Img({
                    src: 'img/street-lighting-2.jpg',
                    alt: 'LoftStyle',
                })
                span Solar $200 per unit
            .catalog__img
                +Img({
                    src: 'img/street-lighting-3.jpg',
                    alt: 'LoftStyle',
                })
                span Write to learn more
            
    section.catalog.container
        .catalog__item.grid-xl 
            .catalog__item_text
                h3 Office and home solutions
                p Proper lighting in offices boosts employee productivity, while at home, it creates a cozy and welcoming atmosphere. LED lights provide soft, natural illumination without flickering.
            .catalog__img
                +Img({
                    src: 'img/office-home-1.jpg',
                    alt: 'LoftStyle',
                })
                span LED panel lights – from $50 per unit
            .catalog__img
                +Img({
                    src: 'img/office-home-2.jpg',
                    alt: 'LoftStyle',
                })
                span Recessed LED downlights – from $30 per unit
            .catalog__img
                +Img({
                    src: 'img/office-home-3.jpg',
                    alt: 'LoftStyle',
                })
                span Write to learn more
            

    section.catalog.container
        .catalog__item.grid-sm 
            .catalog__item_text
                h3 Decorative lighting
                p LED strips, neon elements, and spotlights add a unique style to any interior. They help zone spaces, create accents, and enhance the overall design aesthetic.
            .catalog__img
                +Img({
                    src: 'img/decorative-lighting-2.jpg',
                    alt: 'Decorative lighting',
                })
                span LED strip lights – from $10 per meter
            .catalog__img
                +Img({
                    src: 'img/decorative-lighting-1.jpg',
                    alt: 'Decorative lighting',
                })
                span Neon LED signs – from $70 per unit
            .catalog__img
                +Img({
                    src: 'img/decorative-lighting-3.jpg',
                    alt: 'Decorative lighting',
                })
                span Write to learn more

    section.catalog.container
        .catalog__item.grid-xl 
            .catalog__item_text
                h3 Smart lighting solutions
                p Advanced LED systems with automation and remote control.
            .catalog__img
                +Img({
                    src: 'img/smart-lighting.png',
                    alt: 'Smart lighting solutions',
                })
                span Price: $200 – $1,200
            .catalog__img
                +Img({
                    src: 'img/emergency-lighting.png',
                    alt: 'LoftStyle',
                })
                span Price: $80 – $700
            .catalog__item_text
                h3 Emergency & safety lighting
                p Reliable backup and security lighting for all environments.

    section.catalog.container
        .catalog__item.grid-sm 
            .catalog__item_text
                h3 Retail & display lighting
                p Highlight products with vibrant and energy-efficient lighting to enhance presentation.
            .catalog__img
                +Img({
                    src: 'img/retail-lighting.png',
                    alt: 'Retail & display lighting',
                })
                span Price: $50 – $600
            .catalog__img
                +Img({
                    src: 'img/architectural-lighting.png',
                    alt: 'Architectural & accent lighting',
                })
                span Price: $80 – $700
            .catalog__item_text
                h3 Architectural & accent lighting
                p Enhance aesthetics with stylish and functional illumination for buildings and interiors.

    section.catalog.container
        .catalog__item.grid-xl
            .catalog__item_text
                h3 Warehouse & high-bay lighting
                p Powerful solutions for large industrial spaces, providing optimal brightness and energy savings.
            .catalog__img
                +Img({
                    src: 'img/high-bay-lighting.png',
                    alt: 'Warehouse & high-bay lighting',
                })
                span Price: $150 – $1,000
            .catalog__img
                +Img({
                    src: 'img/restaurant-lighting.png',
                    alt: 'Hospitality & restaurant lighting',
                })
                span Price: $60 – $800
            .catalog__item_text
                h3 Hospitality & restaurant lighting
                p Create the perfect ambiance for guests and customers with warm and inviting lighting.

    section.catalog.container
        .catalog__item.grid-sm 
            .catalog__item_text
                h3 Healthcare & cleanroom lighting
                p Powerful solutions for large industrial spaces, providing optimal brightness and energy savings.
            .catalog__img
                +Img({
                    src: 'img/cleanroom-lighting.png',
                    alt: 'Healthcare & cleanroom lighting',
                })
                span Price: $100 – $1,500
            .catalog__img
                +Img({
                    src: 'img/garden-lighting.png',
                    alt: 'Hospitality & restaurant lighting',
                })
                span Price: $50 – $300
            .catalog__item_text
                h3 Landscape & garden Lighting
                p Illuminate outdoor spaces with weather-resistant and energy-efficient LED solutions, perfect for pathways, gardens, patios, and architectural features.
            
            