mixin Install()
    section.install
        .container.install__container
            h2 Quick & Easy Setup
            ul 
                li.reveal-left 
                    .number 1
                    h3 Download the App 
                    p — Choose Android or iOS and start the download
                li.reveal-right 
                    .number 2
                    h3 Install 
                    p — Follow simple installation prompts
                li.reveal-left 
                    .number 3
                    h3 Create Your Profile 
                    p — Set up your account in seconds
                li.reveal-right 
                    .number 4
                    h3 Pick Your Sport 
                    p — Choose from cricket, football, basketball, or baseball
                li.reveal-left 
                    .number 5
                    h3 Draft Your Team 
                    p — Select your players and get ready to play
                li.reveal-right 
                    .number 6
                        
                    h3 Join the Action 
                    p — Dive into tournaments and start strategizing!
            p It’s that simple. Ready to play? Download now and get started!
            +Link({
                class: 'btn',
                text: 'Start Play',
                href: 'support.html'
            })