mixin Disclaimer-modal()
    div(id="modal" class="modal")
      div(class="modal-content")
        section.disclaimer
          .container.disclaimer__container
              h2 Disclaimer
              p Participation in poker tournaments is subject to local laws and regulations. Competitive poker is recognized as a game of skill in many regions, but restrictions may apply based on jurisdiction.
              p Players from Andhra Pradesh, Assam, Nagaland, Odisha, Sikkim, and Telangana may be restricted from participating due to state-specific policies.
              p Only individuals aged 18 and above are allowed to join and engage in the tournament.
              p Play responsibly and ensure compliance with all relevant laws before participating in any activities on PokerProTour.

          button(id="confirm-btn" class='btn') Confirm
