mixin About-benefits()
    section.container.app-about
        h2.reveal-zoom PokerProTour Hub
            span.hidden Stake
        p.reveal-zoom PokerProTour is your go-to poker hub, where excitement, strategy, and competition come together. Whether you're a seasoned player or a newcomer, our platform offers the perfect space for you to engage in thrilling poker action.
        .app-about__cards
            .app-about__card.app-about__card-one.reveal-left
                
                h3 Revolutionizing the Poker Experience
                p At PokerProTour, we’re all about pushing the boundaries of online poker and creating immersive experiences for our community. From intense tournaments to friendly games, we make sure every session is an unforgettable adventure.
            .app-about__card.app-about__card-two.reveal-right
                
                h3 Competitive Tournaments
                p Engage in competitive poker tournaments that offer players an opportunity to showcase their skills, connect with other passionate players, and earn a place in the poker hall of fame.

            .app-about__card.app-about__card-three.reveal-left
                
                h3 Customizable Profiles
                p Tailor your profile to reflect your unique personality and poker style. Share your achievements, track your progress, and stand out in the community.

            .app-about__card.app-about__card-four.reveal-right
                
                h3 Global Community
                p Connect with like-minded poker players from around the world. Share your experiences, learn new strategies, and form friendships that go beyond the game.

        +Link({
            class: 'btn app-about__btn',
            href: '/download/',
            text: 'Join Us Now',
        })
