mixin Banner()  
    +ParallaxBlock('img/banner.jpeg', 'Dive into the World of Basketball Adventures!', 'Build your dream team, craft strategies, and become a true star in the HoopsDynasty basketball universe!')
