mixin Main-banner(param={})
    section.main-banner
        .container.main-banner__container
            div
                h1 Welcome to LinguaSphere
                    span.hidden mostbet
                p Start your journey to mastering the English language with us. We offer courses for all levels—from beginners to professionals. Join us and discover new horizons!
                    
                +Link({
                    class: 'btn-banner learn-more-btn',
                    href: '#form',
                    text: 'Learn more',
                })
            div.main-banner__img
                +Img({
                    src: 'img/teacher.jpeg',
                    alt: 'Welcome to LinguaSphere'
                })