mixin About-us()
    section.container.about-us
        h2.about-us__title About Us
        ul.about-us__items
            li.about-us__item 
                h3 Our expertise and reliability
                p We are leaders in the production and sale of high-quality LED lighting. With over 10 years of experience in the market, we have established ourselves as a reliable partner for businesses and individual customers. Our LED solutions are known for their high energy efficiency, long lifespan, and modern design.

            li.about-us__item 
                h3 State-of-the-art manufacturing
                p Our production facility is equipped with state-of-the-art technology, allowing us to manufacture products that meet the highest international standards. We offer a wide range of LED lighting for various needs, from industrial facilities to residential spaces.

            li.about-us__item 
                h3 Quality assurance
                p Each product undergoes rigorous quality control, and we stand behind its reliability with up to 5 years of warranty. We value every client and are always ready to offer tailored solutions that take into account the unique aspects of your project.

            li.about-us__item 
                h3 Our dedicated team
                p We take pride in our team of professionals who put their heart into every project. From development to installation, we support our clients at every stage to ensure the highest quality and satisfaction with our services. Our mission is to make LED lighting accessible and efficient for everyone, creating bright, safe, and energy-saving solutions for any purpose.

        +Link({
            class: 'btn about-us__btn',
            href: 'index.html#callback-form',
            text: 'Buy LED',
        })