include ./button/index
include ./parallax/index
include ./dev-land/index


include ./banner-simple/index
include ./tabs/index
include ./carousel/index



include ./game/index
include ./fixed-bg/index
include ./table/index
include ./land/index
include ./link/index
include ./img/index
include ./vars
