mixin Form()
    section.contacts(id='form')
        .container.contacts__container
            form.form(action="thanks_form.php" method="POST" id='callback-form' class='callback-form')
                .contacts__text.reveal-zoom
                    h2.title Get in Touch with PokerProTour!
                    p.subtitle Have any questions or need assistance with the tournament? Our team is here to help! Whether you need details about schedules, player rankings, or technical support, we’ve got you covered.
                    p.subtitle We strive to provide quick responses and ensure a seamless experience for all participants.
                .form__inputs.reveal-zoom
                    input.form__input(type="text" name="name" placeholder="Your Name" required="")
                    input.form__input(type="email" name="email" placeholder="Your Email" required="")
                    label.form__checkbox
                        input(type="checkbox" name="privacy" value="on" required="")
                        span I accept the 
                            a(href="/privacy-policy/") Privacy Policy

                    button.form__btn.btn(type="submit") Get in Touch
            
            .contacts__img.reveal-zoom
                +Img({
                    src: '/img/cards.jpeg',
                    alt: 'Get in touch with PokerProTour!'
                }) 
