mixin Counter()
    section.counter
        .container
            .counter__container 
                .counter__item
                    .counter-number.title-sm(id='counter1') 0
                    .counter-label.subtitle-sm Properties Sold
                .counter__item
                    .counter-number.title-sm(id='counter2') 0
                    .counter-label.subtitle-sm Active Listings
                .counter__item
                    .counter-number.title-sm(id='counter3') 0
                    .counter-label.subtitle-sm Happy Clients