mixin Header(param)
    - 
        const headerLinks = [
            {
              href: 'index.html#consultation',
              text: 'Consultation',
            },
            {
              href: 'index.html#whyus',
              text: 'Why us',
            },
            {
              href: 'index.html#properties',
              text: 'Properties',
            },
            {
              href: 'index.html#contact',
              text: 'Contact us',
            },
            {
              href: `services.html`,
              text: 'Services',
            },
             {
                href: '',
                id: 'buy-btn',
                text: 'Register',
            },
        ]

    header.header
        .container.header__container
            .header__logo
                +Link({
                    href: '/',
                    text: 'LinguaSphere'
                })
            ul.header__list
                each link in headerLinks
                    li.header__list-item
                        if(link.href)
                            +Link({
                                href: link.href,
                                text: link.text
                            })
                        if(link.id)
                           

                            button(id='register-btn') Register
                            button(id='login-btn') Login
                            button(id='logout-btn') Logout
                            span(id='welcome-msg')
                            