mixin Advantages()
    section.advantages.container
        h2.title-sm Why Choose Grand Residence?
        p.subtitle At Grand Residence, we are more than just a real estate agency. We are dedicated to providing an exceptional experience for every client, whether you're buying, selling, renting, or investing in luxury properties. We work closely with you to ensure all your needs are met, offering expert guidance and exclusive access to premium properties.
        .advantages__container
            .advantage
                h3 Tailored Solutions
                p We offer personalized services to ensure you make informed decisions based on your specific needs.
            .advantage
                h3 Exclusive Listings
                p Access to a curated collection of properties, not available to the general public.
            .advantage
                h3 Expert Guidance
                p Benefit from years of experience in pricing, negotiation, and investment strategies.
            .advantage
                h3 Global Reach
                p Our extensive network ensures your property is in the right hands, no matter the location.
            .advantage
                h3 High-End Customer Care
                p We prioritize your needs with constant communication and support at every stage.