mixin Reviews()
    section.reviews.container.reveal-bottom
        h2 What our customers say
        p Thousands of customers trust us, and here’s what they have to say:
        ul.reviews__list
            li.reviews__item
                p I love the organizers! Now my drawers are perfectly tidy.
                h3 Priya
                .reviews__item-bg
            li.reviews__item
                p Ordered shelves for my garage – great quality and easy to assemble.
                h3 Arjun
                .reviews__item-bg
            li.reviews__item
                p Vacuum bags are a lifesaver! Now I have so much more space in my closet.
                h3 Rajesh
                .reviews__item-bg
        p We appreciate every customer and strive to make shopping as easy as possible!
