mixin Mob-table()
    section.mob-table.container
        h2 CricketVerse Leaderboards
        p Check out the leaderboard to see the top fantasy cricket players in the CricketVerse community. Track your progress, stay updated with rankings, and get inspired by the best players who showcase the power of strategy and teamwork in every match.
        +Table-content({
            general: true
        })