mixin Atmosphere()
    section.atmosphere.container
        .atmosphere__primary.reveal-zoom
            h2.atmosphere__title Exam Preparation Course
            p.atmosphere__subtitle This course is perfect for students preparing for international exams. If your goal is to pass IELTS or TOEFL, our course will help you achieve the required results:
        .atmosphere__img-left.reveal-left
            +Img({
                    src: 'img/student.jpeg',
                    alt: 'LinguaSphere'
                })
        .atmosphere__secondary.reveal-zoom
            h3.atmosphere__title-sm Exam structure breakdown:
            p.atmosphere__subtitle Understand the format of the exams and how to handle different types of tasks.
            h3 Practice with real tests:
            p Take mock exams to get familiar with the test format.
            h3 Focused lessons:
            p Improve all key skills—grammar, vocabulary, listening, and writing.
        .atmosphere__img-right.reveal-right
            +Img({
                src: 'img/couple.jpeg',
                alt: 'LinguaSphere'
            })