.advantages {
    position: relative;
    .btn {
        margin-top: 20px;
    }
    &__head {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    &__container {
        h2 {
            text-align: left;
            margin-bottom: 30px;
        }
    }
    &__cols {
        z-index: 1;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        position: relative;
        max-width: 1000px;
        padding: 40px 0 50px;
        &-bg {
            position: absolute;
            background-color: #e5e5e5;
            bottom: 0;
            right: -50px;
            width: 300px;
            height: 300px;
            z-index: -1;
        }
    }
    &__col {
        width: 100%;
        max-width: calc(50% - 10px);
        max-height: 300px;
        overflow: hidden;
    }
    &__list {
        display: flex;

        align-items: center;
        padding: 20px;
        border: 1px solid #000;
        background-color: #fff;
        ul {
            li {
                margin-bottom: 10px;
            }
        }
    }
    @media (max-width: 767px) {
        &__cols {
            flex-direction: column;
            padding: 10px 0 0;
            &-bg {
                display: none;
            }
        }
        &__col {
            max-width: 100%;
        }
    }
}
