include /sites/LinguaSphere/components/header/index
include /sites/LinguaSphere/components/footer/index

include /components/header-registration/index
include /components/header-registration/login-modal
include /components/header-registration/register-modal

include /components/counter/index

// Main
include /sites/LinguaSphere/components/article/index
include /sites/LinguaSphere/components/Main-about/index
include /sites/LinguaSphere/components/Main-banner/index
include /sites/LinguaSphere/components/Main-contacts/index
include /sites/LinguaSphere/components/Main-nav/index
include /sites/LinguaSphere/components/Main-review/index
include /sites/LinguaSphere/components/Main-services/index
include /sites/LinguaSphere/components/Main-stock/index
include /sites/LinguaSphere/components/Subscribe/index

//- include /sites/LinguaSphere/components/registration/index
//- include /sites/LinguaSphere/components/registration/modal
//- include /sites/LinguaSphere/components/registration/Login-modal
//- include /sites/LinguaSphere/components/registration/register-modal
