include /sites/LinguaSphere/components/header/index
include /sites/LinguaSphere/components/footer/index

include /components/burger/index

include /components/header-registration/index
include /components/header-registration/login-modal
include /components/header-registration/register-modal

include /sites/LinguaSphere/components/counter/index

// Main
include /sites/LinguaSphere/components/article/index
include /sites/LinguaSphere/components/Main-banner/index
include /sites/LinguaSphere/components/Main-contacts/index
include /sites/LinguaSphere/components/Main-nav/index
include /sites/LinguaSphere/components/Main-review/index
include /sites/LinguaSphere/components/Main-services/index

include /sites/LinguaSphere/components/courses-everyone/index
include /sites/LinguaSphere/components/categories-main/index
include /sites/LinguaSphere/components/form/index

//courses
include /sites/LinguaSphere/components/categories/index
include /sites/LinguaSphere/components/beginner/index
include /sites/LinguaSphere/components/atmosphere/index
include /sites/LinguaSphere/components/area/index
include /sites/LinguaSphere/components/course-banner/index
include /components/faq/index

//about
include /sites/LinguaSphere/components/welcome/index
include /sites/LinguaSphere/components/unique-loft/index
include /sites/LinguaSphere/components/why-loft/index
include /sites/LinguaSphere/components/teachers/index
include /sites/LinguaSphere/components/tricks/index
include /sites/LinguaSphere/components/about-banner/index
//advantages
include /sites/LinguaSphere/components/advantages/index
include /sites/LinguaSphere/components/reviews/index
include /sites/LinguaSphere/components/welcome-block/index
include /sites/LinguaSphere/components/customer-favorites/index
include /sites/LinguaSphere/components/motivation/index
include /sites/LinguaSphere/components/advantages-banner/index
//work
include /sites/LinguaSphere/components/why-work/index
include /sites/LinguaSphere/components/candidates/index
include /sites/LinguaSphere/components/teach-banner/index
include /sites/LinguaSphere/components/support-and-benefits/index

