mixin Features()
    section.features
        .container.features__container
            h2.reveal-zoom Everything You Need in One App 
                span.hidden stake poker app download
            p.reveal-zoom From strategic gameplay tools to exclusive poker events — PokerProTour brings it all in one seamless platform.
            +Link({
                class: 'btn',
                text: 'Get the App',
                href: '/support/'
            })  
            ul.reveal-zoom 
                li.reveal-left <span>Variety of Poker Games</span><br> — Experience different poker formats anytime, anywhere
                li.reveal-left <span>Strategy & Insights</span><br> — Improve your skills with expert tips and game analysis
                li.reveal-left <span>Live Tournament Updates</span><br> — Stay informed with real-time event details
                li.reveal-left <span>Community Challenges</span><br> — Compete in friendly matches and exclusive events
                li.reveal-left <span>User-Friendly Interface</span><br> — Smooth and intuitive navigation for poker enthusiasts


