mixin Tutorial-banner()
    section.tutorial-banner 
        .container.tutorial-banner__container
            h1 Master Fantasy Sports & Build Winning Strategies!
            p Whether you're a rookie or a seasoned player, our guides will help you sharpen your skills and take your fantasy game to the next level.