mixin Banner()
    section.cricketsquad.container.move-zoom
        div
            h1 Build Your Dream Team & Rule the Game! 

            p Get ready for non-stop cricket action with CricketSquad! Pick your favorite players, strategize your lineup, and watch them shine in real matches. Every run, wicket, and catch scores you points—so make every choice count. Challenge friends, climb the leaderboard, and become the ultimate cricket champion!

            +Img({
                src: 'img/banner.jpg',
                alt: 'Cricketleague'
            })
            +Link({
                class: 'btn cricketleague__btn',
                href: 'contact.html',
                text: 'Download Now',
            })