mixin Main-banner()   
    section.main-banner
        +ParallaxBlock('/img/banner.jpeg', 'UNLEASH YOUR POKER SKILLS', 'Join the CyberRush Poker Tournament and enhance your strategy. Stay informed with the latest game insights, expert advice, and tournament updates.')
