mixin Welcome-block()
    section.welcome-block
        .container.welcome-block__container.reveal-bottom.active
            h2 Welcome to LinguaSphere!
            p  Learning English online has never been more accessible and enjoyable. At LinguaSphere, we provide engaging and interactive lessons that will help you speak confidently and understand English like a native speaker. Whether you&rsquo;re learning for travel, work, or personal growth, we&rsquo;ve got you covered.
            p  Join our diverse community of learners and take the first step toward mastering English today. Our professional instructors and dynamic lessons ensure that every student gets the attention and support they need to succeed.
            +Link({
                class: 'btn welcome-block__btn',
                href: 'index.html#form',
                text: 'Start organizing now',
            })