include /sites/New_v9_LumiTech/components/header/index
include /sites/New_v9_LumiTech/components/footer/index
include /sites/New_v9_LumiTech/components/burger/index

include /sites/New_v9_LumiTech/components/banner/index
include /sites/New_v9_LumiTech/components/led-benefits/index
include /sites/New_v9_LumiTech/components/about-us/index
include /sites/New_v9_LumiTech/components/preparing-lighting/index
include /sites/New_v9_LumiTech/components/reviews/index
include /sites/New_v9_LumiTech/components/catalog-main/index
include /sites/New_v9_LumiTech/components/cooperation/index
include /sites/New_v9_LumiTech/components/callback/index
include /sites/New_v9_LumiTech/components/form/index
include /sites/New_v9_LumiTech/components/projects/index

include /sites/New_v9_LumiTech/components/catalog/index
include /sites/New_v9_LumiTech/components/catalog-callback/index
include /sites/New_v9_LumiTech/components/services/index
include /sites/New_v9_LumiTech/components/our-services/index

include /sites/New_v9_LumiTech/components/services-optional/index