mixin Htp-banner()
    section.htp-banner.reveal-zoom
        +Img({
                src: 'img/htp-banner.jpg',
                alt: 'How to Play CricketZone',
                class: 'how-to-play-banner__bg'
            })
        .container.htp-banner__container
            
            h1 How to Play
            p Step into the game and become a Fantasy Cricket champion! Create your team, strategize, and compete with players from all over. It’s time to play, win, and rule the field!
            +Link({
                class: 'btn cricketzone__btn',
                href: 'contact.html',
                text: 'Download Now',
            })