mixin Rules-team-management()
    section.team-management
        +Img({
                src: 'img/team1.jpeg',
                alt: 'Team Management',
            })
        .team-management__bg
            .container.team-management__container
                h2 Team Management:
                p Regularly update your lineup based on player form, injuries, or match conditions.
                p Some sports have a captain and vice-captain system, where these players earn double or 1.5x points, respectively.
                p Manage your budget and keep an eye on upcoming fixtures to make the best decisions.

                  