mixin Rules-team-management()
    section.team-management
        +Img({
                src: '/img/team1.jpeg',
                alt: 'Team Management',
            })
        .team-management__bg
            .container.team-management__container
                h2 Team Management:
                p Regularly update your lineup based on player form, injuries, or matchups with other teams.
                p In HoopsDynasty, you can designate a captain who earns double points and a vice-captain who earns 1.5x points for their contributions.
                p Keep an eye on player performance trends and upcoming matchups to ensure your team is always optimized for the best results.
