mixin Tutorial-banner()
    section.tutorial-banner 
        .container.tutorial-banner__container
            h1 HomeRunHeroes - Your Ultimate Baseball Tutorial
            p Welcome to HomeRunHeroes! Whether you’re new to the game or looking to refine your skills, this tutorial will guide you through everything you need to know to start hitting home runs and dominating the field.
