mixin Rules-player-scoring()      
    section.player-scoring
        .container.player-scoring__container
            h2.reveal-left Player Scoring:
            ul.reveal-zoom
                li 
                    span 1 
                    p Each player earns points based on their real-world performance in basketball games.
                li 
                    span 2 
                    p Points are awarded for actions such as scoring points, making assists, grabbing rebounds, and blocking shots.
                li 
                    span 3
                    p Negative points may be deducted for missed shots, turnovers, or fouls that affect the game.
               
