mixin Start()
    section.start
        .start__container.container
            div.reveal-right.colored
                p  If you’re new to Funtower or just curious about how it plays, the demo mode is the perfect place to start. Dive in without any pressure and get a feel for the game’s mechanics, pacing, and overall vibe. 
                p The demo gives you the chance to experiment with different strategies, explore the risks and rewards of each level, and figure out what climbing style suits you best. 
                p It’s a great way to build confidence before jumping into full games. Whether you’re testing out the basics or practicing new tactics, the demo mode offers a no-strings-attached introduction to Funtower.
            div
                div.top.reveal-left
                    h2 Demo Mode – Try Before You Climb
                    
                div.bottom.reveal-zoom
                    +Img({
                        src: 'img/gameplay1.jpg',
                        alt: 'Demo Mode'
                    })
                        
                    +Link({
                        class: 'btn',
                        href: '#game',
                        text: 'Play the Funtower',
                    }) 

            




