mixin Interface()
    section.interface
        .container.interface__container.reveal-zoom
            h2 A Sneak Peek Inside HoopsDynasty
            p Explore a dynamic, user-friendly interface built to enhance your basketball management experience.
            ul 
                li Team Drafting Made Simple — Easily assemble your ideal basketball lineup
                li Real-Time Stats — Keep track of player performance as matches unfold
                li Custom Leagues — Organize your own leagues and compete with friends
                li Easy Navigation — Access all features with just a swipe or tap
            +Link({
                class: 'btn',
                text: 'Get App',
                href: '/support/'   
            })
