mixin Map()
    section.map.container
        p Nossas lojas e pontos de venda estão sempre perto de você! Veja o mapa para encontrar a loja LoftStyle mais próxima e descobrir onde você pode encontrar nossos produtos em sua cidade.