mixin Loft()
    section.loft
        +Img({
                src: 'img/modular-furniture.jpg',
                alt: 'Bye a gift',
                class: 'loft__img-bg-left'
            })
        +Img({
                src: 'img/combinations.jpg',
                alt: 'Bye a gift',
                class: 'loft__img-bg-right'
            })
        .container.loft__container
            .loft__card  
                h3.loft__title Loft para pequenos espaços
                p.loft__subtitle Aproveite cada centímetro! Nossos móveis compactos e funcionais são perfeitos para espaços reduzidos, combinando praticidade e estilo industrial.
            .loft__card 
                h3.loft__title Grandes ambientes com personalidade
                p.loft__subtitle Para lofts espaçosos, oferecemos peças marcantes que criam um design impressionante. Combine materiais brutos e iluminação estratégica para um efeito impactante.
            .loft__card 
                h3.loft__title Soluções modulares e versáteis   
                p.loft__subtitle Escolha móveis e decoração modulares que se adaptam às suas necessidades. Prateleiras ajustáveis, mesas dobráveis e painéis multifuncionais são ideais para um espaço dinâmico.
            