mixin Mob-advantages()
    section.mob-advantages.container.reveal-zoom
        h2.title-sm Why Choose CricketVerse?
        p.subtitle At CricketVerse, we provide more than just a fantasy cricket platform. Our mission is to offer every player an immersive experience, whether you're building a team, analyzing stats, or competing in leagues. We strive to ensure that you have all the tools and support needed to succeed in every match.
        .mob-advantages__container
            .advantage
                h3 Customizable Strategies
                p We offer personalized insights and strategies to help you make informed decisions based on real-time performance data.
            .advantage
                h3 Exclusive Player Insights
                p Get access to detailed player stats, rankings, and analysis, allowing you to make smarter picks and outplay your competition.
            .advantage
                h3 Expert Support
                p Leverage our expertise in game strategy, player performance, and tournament trends to make well-informed decisions.
            .advantage
                h3 Global Community
                p Our platform connects you with a global network of cricket fans, enhancing your gameplay with diverse perspectives and competition.
            .advantage
                h3 Dedicated Player Support
                p We are committed to providing excellent customer service, with continuous support throughout your fantasy cricket journey.
