mixin Disclaimer-modal()
    div(id="modal" class="modal")
      div(class="modal-content")
        h2 Disclaimer
        p Participation in fantasy basketball is subject to the laws in India. Fantasy sports are recognized as a 'game of skill' under Indian law and are permitted in most states.
        p However, residents of Andhra Pradesh, Assam, Nagaland, Odisha, Sikkim, and Telangana are restricted from participating due to state-specific regulations.
        p Users must be at least 18 years old to join and engage in the game.
        p Play responsibly and ensure compliance with all relevant laws before participating in any activities on HoopsDynasty.

        button(id="confirm-btn" class='btn') Confirm