mixin Keydata()
    section.container.keydata.reveal-zoom
        h2 Chicken Road RTP: Key Information for Your Adventure
        p At Inout Games, we believe in being transparent with our community. Chicken Road is a game of chance, and it operates on a Provably Fair random draw algorithm (blockchain-based), ensuring a fair experience for all players. While we do have a small margin to support the continuous development of our games, the chances of success in Chicken Road are quite balanced.

        p Here are the multipliers and their associated probabilities in Chicken Road, giving you an idea of what to expect during your gameplay:

        table
            thead
                tr
                th Multiplier
                th Chance of Reaching It
            tbody
                tr
                td x1.68
                td 58.33%
                tr
                td x2.80
                td 35%
                tr
                td x9.08
                td 10.79%
                tr
                td x34.67
                td 2.82%
                tr
                td x1000
                td 0.098%

        p As you can see, the margin applied by Inout Games is minimal and doesn’t significantly impact the chances of success in Chicken Road. Whether you're aiming for a higher multiplier or enjoying the journey, the game remains exciting and balanced.
        p Remember, each play is independent, and previous results do not affect future outcomes. So, whether you're taking a cautious approach or going all in for the next multiplier, Chicken Road always keeps things fun and fair!