.header {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    z-index: 100;
    width: 100%;
    &.scrolled {
        background-color: rgba(255, 255, 255, 0.9);
    }
    &__logo {
        a {
            font-size: 40px;
            color: #000;
            font-weight: 500;
        }
    }
    &__container {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        &-item {
            a {
                color: #000;
            }
        }
    }
    .menu-content {
        ul {
            li {
                a {
                    color: #333;
                }
            }
        }
    }

    @media (max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 10px;
        &__list {
            display: none;
        }
        &__logo {
            a {
                font-size: 30px;
            }
        }
        .menu {
            display: flex;
        }
    }
}
