mixin Support-banner()
    section.support-banner
        .container.support-banner__container
            h1 Get in Touch with Our Support Team
            p We’re here to help you with any questions or technical issues you may face while enjoying HoopsDynasty. Contact our support team, and we’ll make sure you have a smooth and fun experience.
            div 
                h3 Contact Information:

                p 📧 Email: 
                    a(href='mailto:contact@hoopsdynasty.com') 
                        | contact@hoopsdynasty.com
                p 📞 Phone: 
                    a(href='tel:+918347250619') 
                        | +91 8347 250 619
            div
                h3 Working Hours:

                p Monday to Friday: 9:00 AM – 6:00 PM (GMT)
                p Saturday: 10:00 AM – 4:00 PM (GMT)
                p Sunday: Closed
            p Reach out to us during working hours, and we’ll get back to you as quickly as possible to ensure you have a fantastic experience!
