mixin Welcome-block()
    section.welcome-block
        .container.welcome-block__container.reveal-bottom
            h2 Welcome to NeatNest!
            p Keeping your home neat and organized has never been easier! At NeatNest, we offer smart storage solutions designed to help you maximize space, reduce clutter, and bring harmony to your surroundings. Whether you're tidying up your closet, optimizing kitchen storage, or creating an efficient workspace, we have everything you need.   
            p Discover our carefully selected range of storage boxes, organizers, racks, and more – all crafted for convenience, durability, and style. Let’s turn every corner of your home into a perfectly arranged space!
            +Link({
                class: 'btn welcome-block__btn',
                href: 'index.html#form',
                text: 'Start organizing now',
            })