.footer {
    background-color: #333;
    &__container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &__logo {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        a {
            font-size: 40px;
            color: #fff;
            font-weight: 500;
            font-family: "Oswald", serif;
            img {
                max-width: 200px;
                width: 100%;
                height: auto;
            }
        }
    }
    &__links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 30px;
        p {
            display: flex;
            align-items: center;
            gap: 10px;
        }
        p,
        a {
            color: #fff;
        }
    }
    &__pages-links {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__disclaimer {
        color: #fff;
        border-top: 1px solid #fff;
        padding-top: 20px;
        text-align: center;
        .age {
            font-size: 3rem;
            margin-bottom: 10px;
        }
    }
    @media (max-width: 767px) {
        padding-top: 10px;
        padding-bottom: 10px;
        &__list {
            display: none;
        }
        &__logo {
            a {
                font-size: 30px;
            }
        }
        &__links {
            p {
                display: inline;
                font-size: clamp(1rem, 2vw, 1.25rem);
            }
        }
        &__contact-links {
            p {
                a {
                    padding-left: 10px;
                }
            }
        }
    }
}
