mixin Info()
    section.info(id='gameplay')
        .container.info__container
            div.reveal-left
                .info-text
                    h3 No Downloads, No Installations – Instant Play
                    p Forget about complicated setups or long download times. Funtower lets you dive straight into the action. There’s no installation process—just open the game in your browser, and you’re ready to climb. It’s optimized for fast load times, meaning you can start playing in seconds. Whether you’re on a high-speed desktop or using mobile data, Funtower runs smoothly without lag or delays. This instant access is perfect for quick gaming sessions or when you want to jump in without hassle. Plus, with no need for updates or patches, the game is always at its best, whenever you choose to play.
                    +Link({
                        class: 'btn-link',
                        text: '→',
                        href: '/#game'
                    })                
            div.reveal-zoom
                
                .info-text
                    h3 Test Your Skills Across Different Levels
                    p Each level in Funtower presents a unique challenge, pushing you to improve your skills and strategy. As you progress, the difficulty increases, making the game even more thrilling. But don’t worry, every level is designed to help you learn and master new techniques. Whether you’re a beginner or an expert, Funtower offers a diverse range of levels to keep you engaged and entertained for hours.
                    +Link({
                        class: 'btn-link',
                        text: '→',
                        href: '/#game'
                    })                    
            div.reveal-right
                
                .info-text
                    h3 Play Anywhere, Anytime
                    p Funtower is optimized for mobile play, allowing you to enjoy the game on the go. Whether you’re commuting, relaxing at home, or taking a break at work, you can always dive into the action. The mobile version offers the same great gameplay as the desktop version, ensuring that your gaming experience is smooth and enjoyable no matter where you are. With no need for downloads or installations, Funtower is always at your fingertips.
                    +Link({
                        class: 'btn-link',
                        text: '→',
                        href: '/#game'
                    })
    
