mixin Ultimate()
    section.ultimate
        .container.ultimate__container.reveal-zoom
            .ultimate__col
                h3.ultimate__title-sm Embark on the Ultimate Fantasy Cricket Adventure
                p.ultimate__subtitle Dive into the world of CricketVerse, where precision meets strategy in every match. Immerse yourself in a dynamic platform designed to enhance your fantasy cricket journey. With advanced tools and features available at your fingertips, building your dream team has never been this exciting.
                +Img({
                    src: 'img/team.jpeg',
                    alt: 'Loft style decor'
                })
            .ultimate__col.ultimate__colored
                h2.ultimate__title Fantasy Cricket for True Enthusiasts
                p.ultimate__subtitle From tracking player stats to making smart decisions based on real-time data, CricketVerse offers a top-tier experience. Engage with a passionate community of cricket fans and push your fantasy cricket skills to new heights.
                +Link({
                    class: 'btn',
                    href: '/download/',
                    text: 'Download App',
                })