mixin About-banner()
    section.about-banner 
        +ParallaxBlock('/img/about-banner.jpeg', 'About PokerProTour', 'Discover who we are and what drives us. PokerProTour is dedicated to bringing you the best in poker tournaments, providing an immersive experience with top-tier poker events, community features, and real-time action. Join our mission to revolutionize the world of competitive poker.')
