mixin Table-content(param)   

    .table-container.reveal-zoom
        //- h3=param.title
        //- p=param.p
        table
            thead
                tr
                    th Rank
                    th Player
                    th Team
                    th Points

            if(param.general)
                tbody
                    tr
                        td 1
                        td Vikram Singh
                        td Super Strikers
                        td 1350
                    tr
                        td 2
                        td Ananya Kapoor
                        td Champions XI
                        td 1240
                    tr
                        td 3
                        td Ravi Kumar
                        td Cricket Titans
                        td 1120
                    tr
                        td 4
                        td Rajesh Reddy
                        td Boundary Blasters
                        td 1025
                    tr
                        td 5
                        td Meera Joshi
                        td Winners Warriors
                        td 980
            

            
