mixin Reviews()
    section.reviews.container.reveal-bottom.active
        h2 What our students say
        p Thousands of students trust us, and here&rsquo;s what they have to say:
        ul.reviews__list
            li.reviews__item
                p I&rsquo;ve improved my English so much! The lessons are interactive and enjoyable.
                h3 Ananya
                .reviews__item-bg
            li.reviews__item
                p The Business English course really helped me communicate better at work.
                h3 Raj
                .reviews__item-bg
            li.reviews__item
                p I love how flexible the courses are &ndash; I can learn at my own pace.
                h3 Sandeep
                .reviews__item-bg
        p We value every student and strive to make your learning experience as smooth and rewarding as possible!
    
