mixin Interface()
    section.interface
        .container.interface__container.reveal-zoom
            h2 A Sneak Peek Inside the App
            p Explore a smooth, intuitive interface designed to make team management easy and fun.
            ul 
                li Team Drafting Made Simple — Build your squad with just a few taps
                li Real-Time Stats — Track player performance live
                li Custom Leagues — Create leagues and invite friends
                li Easy Navigation — Everything you need is just a swipe away
            +Link({
                class: 'btn',
                text: 'Get App',
                href: 'support.html'   
            })