mixin Properties-for-rent()
  section.properties-for-rent.container
    h2.title-sm Properties For Rent
    .properties-for-rent__container
        .property-for-rent__card
            .property-for-rent__img
                +Img({
                    src: 'img/property1.jpg',
                    alt: 'property one',
                })
            .property-for-rent__text
                .price $1,200
                .description Short description of the property
        .property-for-rent__card
            .property-for-rent__img
                +Img({
                    src: 'img/property2.jpg',
                    alt: 'property two',
                })
            .property-for-rent__text
                .price $900
                .description Cozy apartment in the city center
        .property-for-rent__card
            .property-for-rent__img
                +Img({
                    src: 'img/property3.jpg',
                    alt: 'property three',
                })
            .property-for-rent__text
                .price $1,500
                .description Spacious family home with garden
        .property-for-rent__card
            .property-for-rent__img
                +Img({
                    src: 'img/property4.jpg',
                    alt: 'property four',
                })
            .property-for-rent__text
                .price $1,000
                .description Modern studio in downtown
        .property-for-rent__card
            .property-for-rent__img
                +Img({
                    src: 'img/property5.jpg',
                    alt: 'property five',
                })
            .property-for-rent__text
                .price $850
                .description Well-located, comfortable flat
        .property-for-rent__card
            .property-for-rent__img
                +Img({
                    src: 'img/property6.jpg',
                    alt: 'property six',
                })
            .property-for-rent__text
                .price $1,300
                .description Elegant property with sea view

