mixin Htp-banner()
    section.htp-banner.reveal-zoom
        .container.htp-banner__container
            +Img({
                src: '/img/developers.jpeg',
                alt: 'How to Play CricketVerse',
                class: 'htp-banner__bg'
            })
            h1 How to Play CricketVerse
            p Dive into the exciting world of CricketVerse! Build your dream team, strategize your gameplay, and compete in cricket matches.
            +Link({
                class: 'btn',
                href: '/download/',
                text: 'Download app',
            })