mixin Limited()
    section.container.limited.reveal-zoom
        .limited-bg
        div
            .limited__item
                
                +Img({
                    src: 'img/tablet1.jpeg',
                    alt: 'Foldable fabric bins',
                })
            .limited__item
                h2 Limited Time Offers
                p Take advantage of limited-time offers on our online courses! Hurry, these deals won`t last forever.
                +Link({
                    class: 'btn limited__btn',
                    href: 'index.html#form',
                    text: 'Shop now and save big!',
                })
        div.limited__grid
            ul.limited__item
                li 20% off all beginner courses
                li Buy one course, get 50% off your second course
                li Free course materials for first-time students

            .limited__item
                +Img({
                    src: 'img/notebook1.jpeg',
                    alt: 'Multi-tier drawer organizers',
                })
            .limited__item
                +Img({
                    src: 'img/tablet.jpeg',
                    alt: 'Stackable plastic containers',
                })