.benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    color: #333;
    h2 {
        margin-bottom: 30px;
        width: max-content;
    }

    > div {
        width: 100%;
        // max-width: calc(33% - 15px);
        background-color: #fff;
        padding: 20px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 15px;
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: translateY(-10px);
        }
        h3 {
            width: 100%;
            max-width: calc(100% - 60px);
        }
    }
    @media (max-width: 767px) {
        h2 {
            margin-bottom: 0;
        }
        > div {
            max-width: 100%;
            padding: 10px;
        }
    }
}
.benefits {
    background-color: #e5e5e5;
    &__btn {
        margin-bottom: 30px;
    }
    @media (max-width: 767px) {
        &__btn {
            margin-bottom: 10px;
        }
    }
}
