mixin Info()
    section.container.info
        .info-item
            .info-img
                +Img({
                    src: 'img/penthouseCityCenter.jpg',
                    alt: 'penthouseCityCenter'
                })
            .info-text
                h3 Exclusive Property Deals
                p We offer exclusive deals on luxury properties, ensuring the best prices for our clients.
        .info-item
            .info-img
                +Img({
                    src: 'img/lakefrontVilla.jpg',
                    alt: 'lakefrontVilla'
                })
            .info-text
                h3 Tailored Property Search
                p Our experts help you find properties that meet your specific requirements and preferences.
        .info-item
            .info-img
                +Img({
                    src: 'img/luxurySeasideApartments.jpg',
                    alt: 'luxurySeasideApartments'
                })
            .info-text
                h3 Client-Centric Approach
                p We focus on your needs, providing personalized services that align with your real estate goals.