mixin Aesthetics-loft()
    section.aesthetics-loft.container
        h2.aesthetics-loft__title A estética do loft: uma combinação de rudeza e sofisticação
        p.aesthetics-loft__subtitle O estilo loft não é apenas uma tendência de design, mas uma filosofia de organização do espaço. Ele surgiu em antigos edifícios industriais, onde tijolos expostos, estruturas metálicas e tetos altos criavam uma estética única. 
        p Hoje, o estilo loft é escolhido por aqueles que valorizam a abertura, a liberdade e a individualidade. É uma combinação de rudeza industrial e detalhes elegantes, tornando qualquer espaço estiloso e cheio de caráter.