mixin Area()
    section.area
        .container.area__container
            h2 Contact Us
            p We’re always excited to hear from our players! Whether you have questions, feedback, or ideas to improve the game, feel free to reach out using the form below. Your thoughts help us make the Chicken Game better and more fun for everyone.
            .area__card.reveal-right
                h3.area__title-sm ✔ How Can We Help?
                p.area__subtitle  Have a question about the game? Found a bug or just want to share your experience? Let us know! Our team is here to assist you and ensure you have the best experience possible.
            .area__card.reveal-top
                h3.area__title-sm ✔ We Value Your Feedback 
                p.area__subtitle Every message matters. Whether it’s a suggestion for new features, improvements, or simply letting us know how much you enjoy the game, we’d love to hear from you.
            .area__card.reveal-left
                h3.area__title-sm ✔ Stay Connected
                p.area__subtitle Use the contact form below, and we’ll get back to you as soon as possible. We strive to respond quickly and appreciate your patience.

            p Thank you for being part of the Chicken Game community!