mixin Main-about()
  section.container.main-about
      h2 Наша лаборатория
      p Медицинская лаборатория СИТИЛАБ в Сербии проводит более 900 видов анализов для взрослых и детей, включая редкие молекулярные и генетические тесты. Мощность лабораторного комплекса - более трех миллионов образцов в год, что позвляет сотрудничать с государственными и частными лечебно-профилактическими учреждениями и оказывать качественные медицинские услуги на территории всей Сербии. Готовность большинства анализов - всего 1 день. 
      .container__slider
        .slider
          .slide
            +Img({
                src: 'img/classroom.jpeg',
                alt: 'LoftStyle',
                class: 'banner__img-bg'
            })
            +Img({
                src: 'img/classroom.jpeg',
                alt: 'LoftStyle',
                class: 'banner__img-bg'
            })
          .slide 
            +Img({
                src: 'img/classroom.jpeg',
                alt: 'LoftStyle',
                class: 'banner__img-bg'
            })
            +Img({
                src: 'img/classroom.jpeg',
                alt: 'LoftStyle',
                class: 'banner__img-bg'
            })
        .slider-controls
          .prev-arrow <
          .next-arrow >
  
