mixin Catalog-block()
    section.container.catalog-block__slider
        .slider
            .catalog-block.slide
                h2 Storage solutions
                .catalog-block__container
                    .catalog-block__img
                        +Img({
                            src: 'img/boxes.jpg',
                            alt: 'Boxes',
                        })
                    .catalog-block__text
                        h3 Boxes & Bins
                        p  Compact and stylish storage solutions.
                        p $20

                .catalog-block__container
                    .catalog-block__img
                        +Img({
                            src: 'img/organizers.jpg',
                            alt: 'Organizers',
                        })
                    .catalog-block__text
                        h3 Organizers
                        p Keep every drawer neat and tidy.
                        p $15

                .catalog-block__container
                    .catalog-block__img
                        +Img({
                            src: 'img/hooks.jpg',
                            alt: 'Hooks',
                        })
                    .catalog-block__text
                        h3 Hooks & Hangers
                        p Convenient storage for clothes and accessories.
                        p $55

                .catalog-block__container
                    .catalog-block__img
                        +Img({
                            src: 'img/shelves.jpg',
                            alt: 'Shelves',
                        })
                    .catalog-block__text
                        h3 Shelves & Racks
                        p Extra space for your belongings.
                        p $100

            .catalog-block.slide
                h2 Customer favorites
                .catalog-block__container
                    .catalog-block__img
                        +Img({
                            src: 'img/bins.jpg',
                            alt: 'Transparent plastic bins',
                        })
                    .catalog-block__text
                        h3 Transparent plastic bins
                        p  Easily find what you need.
                        p $20

                .catalog-block__container
                    .catalog-block__img
                        +Img({
                            src: 'img/organizers-1.jpg',
                            alt: 'Organizers',
                        })
                    .catalog-block__text
                        h3 Multi-level organizers
                        p Perfect for small items.
                        p $15

                .catalog-block__container
                    .catalog-block__img
                        +Img({
                            src: 'img/vacuum.jpg',
                            alt: 'Vacuum storage bags',
                        })
                    .catalog-block__text
                        h3 Vacuum storage bags
                        p  Free up closet space instantly.
                        p $55

                .catalog-block__container
                    .catalog-block__img
                        +Img({
                            src: 'img/racks.jpg',
                            alt: 'Racks',
                        })
                    .catalog-block__text
                        h3 Racks
                        p Extra space for your belongings.
                        p $100
        .slider-controls
            .prev-arrow <
            .next-arrow >

        