include /sites/CricketVerse/components/header/index
include /sites/CricketVerse/components/footer/index
include /sites/CricketVerse/components/burger/index
include /sites/CricketVerse/components/counter/index
include /sites/CricketVerse/components/mob-counter/index
include /sites/CricketVerse/components/ultimate/index
include /sites/CricketVerse/components/mob-ultimate/index
include /sites/CricketVerse/components/disclaimer-modal/index

// how-to-play
include /sites/CricketVerse/components/htp-banner/index
include /sites/CricketVerse/components/htp-steps/index
include /sites/CricketVerse/components/htp-why/index
include /sites/CricketVerse/components/htp-challenge/index
include /sites/CricketVerse/components/htp-team/index

//download
include /sites/CricketVerse/components/dload-how/index
include /sites/CricketVerse/components/dload-security/index
include /sites/CricketVerse/components/dload-system/index


include /sites/CricketVerse/components/banner/index
include /sites/CricketVerse/components/mob-banner/index
include /sites/CricketVerse/components/features/index
include /sites/CricketVerse/components/mob-features/index
include /sites/CricketVerse/components/benefits/index
include /sites/CricketVerse/components/mob-benefits/index
include /sites/CricketVerse/components/reviews/index
include /sites/CricketVerse/components/mob-reviews/index
include /sites/CricketVerse/components/faq/index
include /sites/CricketVerse/components/advantages/index
include /sites/CricketVerse/components/mob-advantages/index
include /sites/CricketVerse/components/info/index
include /sites/CricketVerse/components/mob-info/index


include /sites/CricketVerse/components/table/index
include /sites/CricketVerse/components/mob-table/index
include /sites/CricketVerse/components/table-content/index

include /sites/CricketVerse/components/form/index

include /sites/CricketVerse/components/tricks/index
include /sites/CricketVerse/components/mob-tricks/index
include /sites/CricketVerse/components/m-dload/index
include /sites/CricketVerse/components/m-install/index