include /sites/CricketVerse/components/header/index
include /sites/CricketVerse/components/footer/index
include /sites/CricketVerse/components/burger/index
include /sites/CricketVerse/components/counter/index

// how-to-play
include /sites/CricketVerse/components/htp-banner/index
include /sites/CricketVerse/components/htp-steps/index
include /sites/CricketVerse/components/htp-why/index
include /sites/CricketVerse/components/htp-challenge/index
include /sites/CricketVerse/components/htp-team/index

//download
include /sites/CricketVerse/components/dload-how/index
include /sites/CricketVerse/components/dload-security/index
include /sites/CricketVerse/components/dload-system/index


include /sites/CricketVerse/components/banner/index
include /sites/CricketVerse/components/features/index
include /sites/CricketVerse/components/benefits/index
include /sites/CricketVerse/components/reviews/index
include /sites/CricketVerse/components/faq/index
include /sites/CricketVerse/components/advantages/index
include /sites/CricketVerse/components/info/index
include /sites/CricketVerse/components/atmosphere/index


include /sites/CricketVerse/components/table/index
include /sites/CricketVerse/components/table-content/index
include /sites/CricketVerse/components/balls-banner/index

include /sites/CricketVerse/components/form/index