include /sites/New_v9_Giftoria/components/header/index
include /sites/New_v9_Giftoria/components/footer/index
include /sites/New_v9_Giftoria/components/form/index
include /sites/New_v9_Giftoria/components/about-us/index
include /sites/New_v9_Giftoria/components/our-philosophy/index
include /sites/New_v9_Giftoria/components/blog/index
//- include /components/burger/index

include /sites/New_v9_Giftoria/components/banner/index
include /sites/New_v9_Giftoria/components/categories/index
include /sites/New_v9_Giftoria/components/arrivals/index
include /sites/New_v9_Giftoria/components/delivery/index
include /sites/New_v9_Giftoria/components/preparation/index
include /sites/New_v9_Giftoria/components/reviews/index
