@font-face {
    font-family: "Open Sans";
    src: url("@/sites/New_v9_Giftoria/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
        format("truetype");
    font-weight: 100 1000;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("@/sites/New_v9_Giftoria/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
        format("truetype");
    font-weight: 100 1000;
    font-style: normal;
}
