.table {
    display: block;
    color: #333;
    &__container {
        overflow-x: scroll;
        h2,
        p {
            margin-bottom: 20px;
            text-align: center;
        }
        table {
            border-radius: 30px;
            overflow: hidden;
            width: 100%;
            thead {
                background: linear-gradient(to right, #b31815, #f080d0);
            }
            tbody {
                tr {
                    td {
                        text-align: center;
                    }
                }
            }
        }
    }
}
