mixin Htp-why()
    section.htp-why
        .container.htp-why__container
            h2 Why Play CricketVerse?
            p Discover the ultimate fantasy cricket experience, where you can create your dream team and compete in real-time tournaments. 
            div.img.reveal-left
                +Img({
                    src: 'img/phone.jpeg',
                    alt: 'Why Play CricketVerse'
                })
            div.reveal-zoom
                p CricketVerse brings you all the excitement of fantasy cricket in the palm of your hand. Compete with friends, challenge others, and enjoy cricket in a whole new way!
            div.img.reveal-right
                +Img({
                    src: 'img/person2.jpeg',
                    alt: 'Why Play CricketVerse'
                })
            div.reveal-right
                p CricketVerse is more than just a game – it’s a community. Join a global league of cricket lovers and share your passion for the sport.
            div.img.reveal-zoom
                +Img({
                    src: 'img/phone3.jpeg',
                    alt: 'Why Play CricketVerse'
                })
            div.reveal-left
                ul
                    li ✔ Build your dream team with real players and earn points based on their performance in live matches.
                    li ✔ Compete with players from around the world in exciting fantasy cricket tournaments.
                    li ✔ Enjoy real-time updates, player stats, and leaderboards to track your success.
