mixin Features()
    section.features
        .container.reveal-zoom
            h2 Smooth Performance & Lightning-Fast Load Times
            p Funtower is optimized for flawless performance across all devices. Thanks to its lightweight design and efficient coding, the game loads quickly and runs smoothly, even on older devices. Every click, animation, and transition happens seamlessly, ensuring a lag-free experience. Whether you’re climbing the tower on a high-end gaming setup or a standard smartphone, Funtower delivers consistent performance. Load times are minimal, so you can dive straight into the game without delays, and smooth controls make each decision feel instantaneous and satisfying.
            .img
                +Img({
                        src: 'img/load.jpeg',
                        alt: 'Lightning-Fast Load Times'
                    })
        