include /sites/VirtualCricketLeague/components/header/index
include /sites/VirtualCricketLeague/components/footer/index
include /sites/VirtualCricketLeague/components/burger/index

include /sites/VirtualCricketLeague/components/banner/index
include /sites/VirtualCricketLeague/components/features/index
include /sites/VirtualCricketLeague/components/benefits/index
include /sites/VirtualCricketLeague/components/reviews/index

include /sites/VirtualCricketLeague/components/htp-banner/index
include /sites/VirtualCricketLeague/components/guide/index
include /sites/VirtualCricketLeague/components/challenge/index
include /sites/VirtualCricketLeague/components/table/index
include /sites/VirtualCricketLeague/components/table-content/index
include /sites/VirtualCricketLeague/components/balls-banner/index

include /sites/VirtualCricketLeague/components/form/index
include /sites/VirtualCricketLeague/components/gallery/index