@font-face {
    font-family: "Roboto";
    src: url("@/sites/VirtualCricketLeague/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf")
        format("truetype");
    font-weight: 100 1000;
    font-style: normal;
}
@font-face {
    font-family: "Roboto";
    src: url("@/sites/VirtualCricketLeague/fonts/Roboto/Roboto_Condensed-Regular.ttf")
        format("truetype");
    font-weight: 100 1000;
    font-style: normal;
}

@font-face {
    font-family: "Kanit";
    src: url("@/sites/VirtualCricketLeague/fonts/Kanit/Kanit-Regular.ttf")
        format("truetype");
    font-weight: 100 1000;
    font-style: normal;
}
