mixin Reviews()
    section.container.reviews
        h2 Reviews
        .reviews__items
            .reviews__item
                svg(width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50")
                    path(d="M10 25 L20 35 L40 15" fill="none" stroke="white" stroke-width="5")

                p We recently installed LED lighting in our office, and the transformation is incredible. Not only does the lighting look sleek and modern, but we've also noticed a significant reduction in our energy bills. The team was professional, and the installation was quick and seamless. Highly recommend!
                h3 Rahul Kumar
            .reviews__item
                svg(width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50")
                    path(d="M10 25 L20 35 L40 15" fill="none" stroke="white" stroke-width="5")
                p As a boutique owner, I needed lighting that would highlight the products while being energy-efficient. The LED lights we installed have not only made the store look more inviting but also helped us save on electricity costs. The customer service was excellent, and I couldn't be happier with the results.
                h3 Priya Sharma
            .reviews__item
                svg(width="50" height="50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50")
                    path(d="M10 25 L20 35 L40 15" fill="none" stroke="white" stroke-width="5")
                p We upgraded to LED street lighting in our community, and the difference is night and day. The area is brighter and safer, and the quality of the lights is top-notch. It's been a great investment for our neighborhood, and the team was very helpful in guiding us through the entire process.
                h3 Arjun Patel