mixin Rules-player-scoring()      
    section.player-scoring
        .container.player-scoring__container
            h2 Player Scoring:
            ul
                li 1. Each player earns points based on their real-world performance in matches.
                li 2. Points are awarded for actions like scoring goals, runs, wickets, assists, and defensive stats.
                li 3. Negative points may be deducted for poor performances like missed shots or fouls.
                li.img
                    +Img({
                        src: 'img/score.jpeg',
                        alt: 'Player Scoring'
                    })