mixin Dload-banner()
    section.banner-parallax
        +ParallaxBlock('img/dload-banner.jpeg', 'Step Up to the Plate – Download HomeRunHeroes Now!', 'Experience the excitement of baseball with HomeRunHeroes! Download now, build your team, and hit home runs like a pro. Available on mobile and PC – start playing today!')
