mixin Beginner()
    section.container.beginner
        .beginner__bg
        .beginner__col.beginner__img.reveal-right
            +Img({
                        src: 'img/app.jpeg',
                        alt: 'LinguaSphere'
                    })
        .beginner__col
            .beginner__title.reveal-left
                h2.title Beginner’s Course
                    span.hidden mostbet
                p.subtitle This course is perfect for anyone who wants to start speaking and understanding English at a beginner level. For those just starting to learn English, we have created a course that immerses you in the language from the very basics:
            .beginner__easy.reveal-right
                h3.title-sm beginner Made Easy
                p.subtitle-sm At Giftoria, we understand that timely beginner is crucial. We offer multiple beginner options to suit your needs, from standard to express shipping. All orders are carefully packaged to ensure they reach you safely. Our beginner Services Include:
                ul
                    li 
                        h3 ✔ Basic phrases and expressions:
                        p Learn how to greet, ask questions, and respond confidently in everyday situations.
                    li 
                        h3 ✔ Grammar fundamentals:
                        p A structured introduction to simple grammar rules that form the foundation of the language.
                    li 
                        h3 ✔ Introductory audio lessons:
                        p Listening exercises to help you get used to correct pronunciation and understand spoken English.
                   
                +Link({
                    class: 'btn',
                    href: 'index.html#form',
                    text: 'Learn More About Beginner',
                }) 
            




