extends /sites/TEMPLATE/layouts/base.pug

block variables
    - const title = ''
    - const description = ''
block content
  +Header()

  main

    +Banner()
    
    +Game-intro()

    +Advantages()

    +Main-htp()

    +Welcome-block()

    +Top-players()

    +Reviews()

  +Footer()