doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='icon' type='image/x-icon' href='img/favicon-16x16.ico' alt='fav')
    title Thank You - Grand Residence
    meta(name='description' content='Thank you for choosing Grand Residence! We appreciate your trust and look forward to assisting you with your luxury real estate needs.')
    link(href='css/index.css' rel='stylesheet')
    body
      main
        section.container.thanks
          h1.title Thank You for Your Visit!
          p.subtitle
            | Thank you for choosing Radiance Real Estate!
          p.subtitle
            | We look forward to assisting you with your real estate needs
            | on your next visit. Stay tuned for our latest listings and
            | exclusive offers just for you!
          p.subtitle
            | Follow us on social media to stay updated:
          a.btn.btn-primary(href='index.html') Home page
