.overview {
    position: relative;
    background-color: #f1f1f1;
    > img {
        position: absolute;
        // z-index: -1;
        top: 0px;
        bottom: 0px;
    }
    &__container {
        position: relative;
        z-index: 1;
        h2,
        > p {
            text-align: center;
            margin-bottom: 20px;
        }
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        > div {
            padding: 20px;
            border-radius: 30px;
            width: 100%;
            max-width: calc(50% - 15px);
            text-align: center;
            transition: transform 0.3s ease-in-out;
            background-color: #f1f1f1;
            color: #000;
            &:hover {
                transform: translateY(-10px);
                img {
                    transform: scale(1.1);
                }
            }
            img {
                width: 100px;
                height: auto;
                transition: transform 0.3s ease-in-out;
            }
        }
    }
    @media (max-width: 767px) {
        &__cards {
            > div {
                max-width: 100%;
            }
        }
    }
}
